 <!-- Department Modal -->
 <div class="modal fade" id="create-department-modal" tabindex="-1" role="dialog"
 aria-labelledby="create-department-modal" aria-hidden="true">
 <div class="modal-dialog max-w-2xl bg-transparent mt-32" role="document">
   <div class="modal-content">
     <div class="modal-body py-0">
       <div class="py-1 px-16">
         <form name="form" class="flex flex-col items-center justify-between space-y-6 pt-6">
           <h4 class="section-title font-bold">
             Add Department
           </h4>
           <div class="w-full">
             <div class="grid grid-cols-1 gap-4">
               <div>
                 <label class="form-label"> Department Name </label>
                 <div class="form-input-group">
                   <input
                     class="form-input"
                     required
                     ng-model="$ctrl.state.department.department_name"
                     placeholder="E.g., Marketing, Engineering, Sales"
                     type="text"
                   >
                 </div>
               </div>
             </div>
           </div>
            <div class="flex items-center justify-end space-x-4 w-full pb-8">
                <button
                  ng-click="$ctrl.presentModal('create-department-modal', false)"
                  type="button"
                  class="ui-btn ui-btn-primary-outline">
                    Cancel
                </button>
                <button
                    type="button"
                    ng-disabled="form.$invalid"
                    class="ui-btn {{ form.$invalid ? 'ui-btn-disabled' : 'ui-btn-primary' }} w-48"
                    ng-click="$ctrl.store()">
                    Add Department
                </button>
            </div>
         </form>
       </div>
     </div>
   </div>
 </div>
</div>
<!-- End department modal -->