body,html{
	height: 100%;
	width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #666;
    padding-right: 0px !important;
}

b{
    font-weight: bold;
}

a{
    color: #333;
}

a:hover{
    text-decoration: none;
    color: #333;
}
/*---------LOGIN--------------*/

#login-content{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1897D4;
    background-image: url('../img/bg-effect.png');
}

.login-logo{
    margin-top: 70px;
    margin-left: 0px;
}

.login-wrapper{
    padding: 40px 50px;
    background: #FFF;
    min-height: 400px;
    width: 500px;
    margin: 150px auto;
    color: #565656;
    margin-bottom: 0;
}

.login-wrapper form{
    width: 70%;
    margin: 0 auto;
}




/*----------HEADER------------*/

.main-navbar{
	background: #1667AC;
}

.main-navbar > ul > li > a{
	color: #FFF;
}


/*-------SIDEBAR--------*/
.sidebar {
    position: absolute;
    width: 13%;
    background-color: #337ab7;
    height: 100%;
}

.sidebar .nav-pills{
    margin-top: 2px;
}

.sidebar .nav-pills li a i{
    width: 20px;
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
}

/*--------MAIN CONTENT--------*/

#main-content{
    position: absolute;
    left: 13%;
    padding: 10px 20px;
    width: 87%;
    height: 100%;

}

.benefit{
    padding: 1px;
}

.benefit a:hover .benefit-wrapper-overlay{
    background:rgba(0,0,0,0.3);
    transition: all .4s ease-in-out;
}

.benefit a:hover h4{
    /*font-size: 19px;*/
    color: #FFF;
    transition: all .2s ease-in-out;
}

.benefit-wrapper{
    border:1px solid #AAA;
    min-height: 180px;
    /*line-height: 160px;*/
    background-size: cover !important;
    position: relative;
    border-radius: 4px;
    margin: 1px;
    overflow: hidden;
}

.benefit-wrapper img{
    /*position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 0;*/
        width: 60%;
    margin: 20px auto;
}

.benefit-wrapper-overlay{
    background:rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .4s ease-in-out;
    z-index: 1;
}

.benefit-wrapper h4{
    position: absolute;
    width: 100%;
    color: #F1F1F1;
    /*line-height: 160px;*/
    z-index: 2;
    transition: all .2s ease-in-out;
    margin: 30% auto;
}

.benefits-side,
.benefits-content{
    position: relative;
    /*overflow: hidden;*/
    height: 100%;
}

.benefits-side-wrapper{
    background: #FFF;
    border-radius: 3px;
    box-shadow: 2px 0 10px 0 rgba(0,0,0,.2);
    min-height: 600px;
}

.benefits-content-wrapper .content{
    margin-bottom: 20px;
}

.benefits-content-wrapper .content > div{
    background: #FFF;
    min-height: 50px;
    border-radius: 3px;
    box-shadow: 2px 0 10px 0 rgba(0,0,0,.2);

}

.first-content{
    background-size: cover;
    min-height: 250px !important;
    border-radius: 0 !important;
}

.third-content{
    min-height: 250px !important;
}

#iw-container  .iw-title {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 22px;
   font-weight: 400;
   padding: 10px;
   background-color: #C9EAFB;
   color: white;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
   overflow: hidden;
}

#iw-container  .iw-status {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 22px;
   font-weight: 400;
   padding: 10px;
   background-color: #239AD2;
   color: white;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}

#iw-container  .iw-status p{
    margin: 0;
    font-size: 14px;  
    color: #FFF;
}

#iw-container  .iw-status p .btn-book{
    min-height: 0;
    height: 22px;
    line-height: 1;
    font-size: 10px;
    background: #004D72;
        color: #FFF;
}

#iw-container  .iw-status p i.green{
   color: #02EE09;
}

#iw-container  .iw-status p i.red{
   color: #DE0203;
}

#iw-container  .iw-title img{
    width: 20%;
    border-radius: 6px;
    float: left;
    margin-right: 15px;
}

#iw-container  .iw-title .info{
   width: 70%;
   display: inline-block;
}

#iw-container  .iw-title .info h3{
   margin: 10px 0 5px 0;
    font-size: 18px;
    color: #214A5B;
}

#iw-container  .iw-title .info p{
   margin: 0;
   font-size: 16px;
   color: #438699;
}

.gm-style-iw {
   width: 300px !important;
   top: 15px !important;
   left: 30px !important;
   background-color: #fff;
   box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
   border: 1px solid rgba(72, 181, 233, 0.6);
   /*border-radius: 2px 2px 10px 10px; */
}

.gm-style-iw > div {
    position: relative;
   top: 2px !important; 
}
/*-------CALENDAR OPTIONS--------*/

.fc-slats .fc-widget-content{
    background: #EAEAEA;
}

.fc-slats .fc-axis{
    background: #FFF;
}

.fc-toolbar{
    display: none;
}

.fc-ltr .fc-axis, 
.fc th {
    border: none !important;
}

.fc th{
    padding: 12px 0 !important;
}

.calendar-opts{
    padding: 2px 15px;
    height: 38px;
}


/*------------APPOINTMENT-----------*/
.options {
    overflow: hidden;
}

.upcoming .panel,
.past .panel{
    border:none;
    box-shadow: none;
}

.upcoming .panel .panel-heading,
.past .panel .panel-heading{
    /*border: 1px solid #DDD;*/
    background: #FFF;
}

.upcoming .panel .panel-body,
.past .panel .panel-body{
    padding: 15px 0;
}

.upcoming .panel .panel-body a,
.past .panel .panel-body a{
    color: #333;
}

.appointment .appointment-wrapper{
    box-shadow: 1px 1px 6px #DDD;
    padding: 4px 10px;
    border-radius: 4px;
    /*min-height: 170px;*/
    margin-right: 10px;
    margin-bottom: 10px;

}

.appointment .appointment-wrapper .track{
    display: inline-block;
    /* margin-top: 20px; */
    margin-bottom: 10px; 
    padding: 0 10px;
    width: 100%;
}

.appointment .appointment-wrapper .track p{
    color: #999;
    font-size: 14px;
}

.appointment .appointment-wrapper .track .btn{
    width: 100%;
}

.appointment .appointment-wrapper .icon{
    padding: 0px 10px;
    margin: 18px 0;
    /*display: inline-block;*/
    width: 80px;
    float: left;
    min-height: 80px;
}

.appointment .appointment-wrapper .icon img{
    display: inline-block;
    width: 50px;
}

.appointment .appointment-wrapper .info{
    padding: 10px;
    display: inline-block;
    width: 63%;
}


.appointment .appointment-wrapper .info h5{
    font-size: 16px;
}

.appointment .appointment-wrapper .info p{
    font-size: 11px;
}


#trackModal .modal-header{
    text-align: center;
    background: #337AB7;
    color: #FFF;
    border-radius: 4px 4px 0 0;
}

#trackModal .modal-body{
    padding: 15px 0;
    padding-top: 0;
    overflow: hidden;
}

#trackModal .modal-body > p,
#trackModal .modal-body > div
{
    padding: 5px 15px;
    margin: 0;
}

#trackModal .modal-body .titles{
    padding: 5px 15px;
    margin: 0;
    background: #F2F2F2;
}

#trackModal .modal-body .img img{
    display: inline-block;
    width: 50px;
}

#trackModal .modal-body .img{
        display: inline-block;
    width: 50px;
    /*position: relative;
    top: -15px;*/
        float: left;
    margin-right: 10px;
}

#trackModal .modal-body .w-image{
    min-height: 65px;
}

#trackModal .modal-body .info{
    display: inline-block;
}

#trackModal .modal-body .time{
    padding: 5px 15px;
    margin: 0;
    margin-bottom: 10px;
}

#trackModal .modal-body .color-blue{
    color: #3B84CA;
    font-size: 12px;
}

#trackModal .modal-body .color-gray{
    color: #a79f9f;
    font-size: 14px;
}

#trackModal .modal-footer{
    text-align: center;
}

#trackModal .modal-footer button{
    width: 40%;
}



/*--------FAVOURITES---------*/

.favourite .favourite-wrapper{
    box-shadow: 1px 1px 6px #DDD;
    padding: 4px 10px;
    border-radius: 4px;
    min-height: 130px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.favourite .favourite-wrapper .fav{
    position: absolute;
    top: 30px;
    right: 30px;
}

.favourite .favourite-wrapper .fav i{
    color: #6BABE3;
    font-size: 30px;
}



.favourite .favourite-wrapper .icon{
    padding: 0px 10px;
    display: inline-block;
    margin: 18px 0;
    width: 70px;
    float: left;
    min-height: 80px;
}

.favourite .favourite-wrapper .icon img{
    background: #1667AC;
    border-radius: 4px;
}

.favourite .favourite-wrapper .info{
    padding: 10px;
    display: inline-block;
    width: 130px;
}


.favourite .favourite-wrapper .info h5{
    font-size: 16px;
}

.favourite .favourite-wrapper .info p{
    font-size: 11px;
}

.favourite .favourite-wrapper .info p i{
    font-size: 11px;
    color: #1ED11E;
}

.favourite-wrapper a:focus{
    outline: none;
}

#select-clinic .modal-dialog{
    width: 500px;
    margin-top: 55px;
}

#select-clinic .modal-header{
    background-color: #1897D4;
    background-image: url('../img/bg-effect.png');
        border-radius: 4px 4px 0 0;
    border-bottom: none;
}

#select-clinic .modal-header .fav{
    position: relative;
    top: 35px;
    right: 10px;
    float: right;
}

#select-clinic .modal-header .fav i{
    color: #6BABE3;
    font-size: 30px;
}



#select-clinic .modal-header .icon{
    padding: 0px 10px;
    display: inline-block;
    margin: 18px 0;
    width: 100px;
    float: left;
    min-height: 80px;
}

#select-clinic .modal-header .icon img{
    /*background: #1667AC;*/
    border-radius: 4px;
    border: 1px solid #0869bb;
}

#select-clinic .modal-header .info{
    padding: 10px;
    display: inline-block;
    width: 270px;
}


#select-clinic .modal-header .info h5{
    font-size: 16px;
}

#select-clinic .modal-header .info p{
    font-size: 11px;
}

#select-clinic .modal-header .info p:nth-child(0){
    font-size: 14px;
}

#select-clinic .modal-header .info p i{
       font-size: 16px;
    color: #1ED11E;
}

#select-clinic .modal-header .info p.clinic_status{
    color:#104c67;
    font-size: 14px; 
    font-weight: 700;
}

#select-clinic .modal-body{
    padding: 0;
        overflow: hidden;
}

#select-clinic .modal-body .nav{
    background: #85c4e0;
    border-bottom: none;
}

#select-clinic .nav-tabs>li{
    width:25%;
        text-align: center;
}

#select-clinic .nav-tabs>li a{
    color: #2D88B1;
}

#select-clinic .nav-tabs>li a i{
    color: #2D88B1;
}



#select-clinic .nav-tabs>li.active>a, 
#select-clinic .nav-tabs>li.active>a:focus, 
#select-clinic .nav-tabs>li.active>a:hover {
    color: inherit;
    cursor: default;
    background-color: inherit !important;
    border: 1px solid transparent !important;
    color: #FFF;
}

#select-clinic .nav-tabs>li.active>a i, 
#select-clinic .nav-tabs>li.active>a:focus i, 
#select-clinic .nav-tabs>li.active>a:hover i{
    color: #FFF;
}

#select-clinic .nav>li>a:focus, 
#select-clinic .nav>li>a:hover {
    text-decoration: none;
    background-color: inherit !important;
    border: 1px solid transparent !important;
    color: #FFF;
}

#select-clinic .nav>li>a:focus i, 
#select-clinic .nav>li>a:hover i{
    text-decoration: none;
    background-color: inherit !important;
    border: 1px solid transparent !important;
    color: #FFF;
}

#select-clinic .modal-body .notes{
    background: #C4E3F1;
    padding: 10px;
}

#select-clinic .modal-body .notes h5{
    margin: 0;
    color: #104c67;
}
#select-clinic .modal-body .notes p{
    margin: 0;
    font-size: 10px;
    color: #104c67;
}

#select-clinic .modal-body .tab-content .tab-list {
    overflow: hidden;
}

#select-clinic .modal-body .tab-content .tab-list .list{
    padding: 10px;
    border-bottom: 1px solid #DDD;
}

#select-clinic .modal-body .tab-content .tab-list .list .left{
    padding: 10px 20px;
    padding-left: 0;
    float: left;
}

#select-clinic .modal-body .tab-content #doctors  .tab-list .list .left{
    padding: 5px 20px;
    padding-left: 0;
}

#select-clinic .modal-body .tab-content .tab-list .list .left img{
    width: 50px;
}

#select-clinic .modal-body .tab-content .tab-list .list .left a:hover i,
#select-clinic .modal-body .tab-content .tab-list .list .left a.active i{
    background: #85C4E0;
    color: #FFF;
    border-color: #1897D4;
}

#select-clinic .modal-body .tab-content .tab-list .list .left .icon-circle-border{
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    border: 1px solid #AAA;
    display: inline-block;
    font-size: 20px;
}

#select-clinic .modal-body .tab-content .tab-list .list .middle{
    display: inline-block;
}



#select-clinic .modal-body .tab-content .tab-list .list .middle h5,
#select-clinic .modal-body .tab-content .tab-list .list .middle p
{
    margin: 5px 0;
}

#select-clinic .modal-body .tab-content .tab-list .list .right{
    padding: 12px;
}

#schedule-list .date-wrapper{
    /*border-bottom: 1px solid #AAA;*/
}

#schedule-list .date-wrapper .arrow-date{
    display: inline-block;
    width: 20px;
    text-align: center;
    position: relative;
    top: -12px;
}

#schedule-list .date-wrapper .arrow-date i{
    font-size: 25px;
}

#schedule-list .date-wrapper .dates{
    width: 90%;
    margin: 0 auto;
    display: inline-block;
 /*   border-left: 1px solid #AAA;
    border-right: 1px solid #AAA;*/
    border-bottom: 1px solid #AAA;
}



#schedule-list .date-wrapper .dates ul li{
    background: #FFF;
    /*border-color: transparent !important; */
    width: 20%;
    border-bottom: 1px solid #AAA !important;
}

#schedule-list .date-wrapper .dates ul li a:hover{
    color: #333 !important;
}

#schedule-list .date-wrapper .dates ul li.line-list-active{
    border-bottom: 5px solid red;
}

#schedule-list .date-wrapper .dates ul li a{
    color: #999;
    font-size: 12px;
}

#schedule-list .tab-content .list-group{
    margin-bottom: 0;
}

#schedule-list .tab-content .list-group li{
    cursor: pointer;
    background: #1C98D4;
        color: #FFF;
    margin: 0 3px;
    margin-bottom: 5px;
}

#confirm-details .form{
    margin: 40px auto;
    width: 80%;
}

#confirm-details .form input.form-control{
    background: #F1F1F1;
    margin-bottom: 15px;
}

#confirm-details p{
    font-weight: 600;
    margin: 10px 0;
}

.confirm-opt-form{
    margin: 40px auto;
    width: 80%;
}

.confirm-opt-form .btn-wrapper .btn{
    width: 49%;
}

#confirmBookingModal .modal-header{
    text-align: center;
    background: #337AB7;
    color: #FFF;
    border-radius: 4px 4px 0 0;
}

#confirmBookingModal .modal-body{
    padding: 15px 0;
    padding-top: 0;
    overflow: hidden;
}

#confirmBookingModal .modal-body > p,
#confirmBookingModal .modal-body > div
{
    padding: 5px 15px;
    margin: 0;
}

#confirmBookingModal .modal-body .titles{
    padding: 5px 15px;
    margin: 0;
    background: #F2F2F2;
}

#confirmBookingModal .modal-body .img img{
    /*display: inline-block;*/
    width: 50px;
}

#confirmBookingModal .modal-body .img{
        display: inline-block;
    width: 50px;
    /*position: relative;
    top: -15px;*/
        float: left;
    margin-right: 10px;
}

#confirmBookingModal .modal-body .w-image{
    min-height: 65px;
}

#confirmBookingModal .modal-body .info{
    display: inline-block;
}

#confirmBookingModal .modal-body .time{
    padding: 5px 15px;
    margin: 0;
    margin-bottom: 10px;
}

#confirmBookingModal .modal-body .color-blue{
    color: #3B84CA;
    font-size: 12px;
}

#confirmBookingModal .modal-body .color-gray{
    color: #a79f9f;
    font-size: 14px;
}

#confirmBookingModal .modal-footer{
    text-align: center;
}

#confirmBookingModal .modal-footer button{
    width: 40%;
}

#trackPopupModal .modal-dialog{
    margin: 100px auto;
}

#trackPopupModal .modal-content{
    background: transparent;
    box-shadow: none;
    border: none;
}

#trackPopupModal .trackPopup-container{
    background-color: #1897D4;
    background-image: url('../img/bg-effect.png');
    width: 350px;
    height: 500px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    text-align: center;
}

#trackPopupModal .trackPopup-container img{
        margin: 0 auto;
    margin-top: -73px;
    margin-left: 15px;
    margin-bottom: 20px;
    width: 120px;
}

#trackPopupModal .trackPopup-container p{
    width: 70%;
    margin: 30px auto;
    font-size: 12px;
    color: #FFF;
}

#trackPopupModal .trackPopup-container .btn-trackPopup{
    width: 70%;
    background: #004E72;
    color: #FFF;
    padding: 10px;
    border-radius: 20px;
    margin-top: 50px;
}
/*-----------WALLET--------------*/

.wallet > div{
    padding: 15px; 
}

.wallet .left-wrapper{
    box-shadow: 1px 1px 6px #DDD;
    padding: 30px;
}

.wallet .fa-credit-card{
    font-size: 20px;
}

.wallet .credit{
    font-size: 40px;
}

.wallet .arrow .fa{
    color: #006DF0;
    font-size: 80px;
}

.wallet p{

    width: 65%;
    margin: 15px auto;
}

/*-------PROFILE----------*/

.profile .block{
    overflow: hidden;
    padding: 10px 0;
}

.profile .block p{
    margin: 0;
}

.profile .block div{
    height: 40px;
    line-height: 40px;

}

.profile .block .col-md-2 p{
    font-size: 20px;
}

.profile .block .col-md-10{
    background: #1B9BD7;
    
}

.profile .block .col-md-10 a:hover,
.profile .block .col-md-10 a:focus,
.profile .block .col-md-10 a:visited
{
    text-decoration: none;
}

.profile .block .col-md-10 a p{
    color: #FFF;
}

#historyModal .modal-header,
#allergiesModal .modal-header,
#conditionModal .modal-header,
#medicationModal .modal-header
{
    text-align: center;
    background: #337AB7;
    color: #FFF;
    border-radius: 4px 4px 0 0;
}

#historyModal .modal-body thead tr th,
#historyModal .modal-body tbody tr td{
    text-align: center;
}

/*--------- --------*/

/*-----------ECOMMERCE----------*/

.search-wrapper{
    background: #183544;
    padding: 20px 15px;
    border-bottom: 5px solid #112530;
}

.search-wrapper .input-group{
    width: 40%;
    margin: 0 auto;
}

.categories-wrapper{
    text-align: left;
    padding: 0px 20px;
    background: #183544;
}

.categories-wrapper .category{
    /*min-width: 120px;*/
    display: inline-block;
    color: #FFF;
    text-align: center;
    padding: 10px 15px;
    padding-bottom: 0px;
    transition: all .4s ease-in-out;
    position: relative;
}

.categories-wrapper .category .line-bottom {
    width: 100%;
    height: 4px;
    background: transparent;
    margin-top: 10px;
}

.categories-wrapper .category a{
    color: #FFF;
    font-size: 12px;
    transition: all .4s ease-in-out;
}

.categories-wrapper .category:hover{
    background: rgb(255,255,255);
    color: #142d3a !important;
    transition: all .4s ease-in-out;
    
}

.categories-wrapper .category:hover .line-bottom   {
    background: #F36F36;
}

.categories-wrapper .category:hover a{
    color: #142d3a !important;
    
    transition: all .4s ease-in-out;
}



.subcat-wrapper{
    /*padding: 12px 45px;*/
    padding: 12px 0px;
}

.subcat-wrapper .subcat{
    display: inline-block;
        margin: 3px 2px;
}

.subcat-wrapper .subcat a{
    background: #CDD6DA;
    padding: 10px 30px;
    font-size: 13px;
    color: #000;
    width: 200px;
    transition: all .4s ease-in-out;
}

.subcat-wrapper .subcat a:hover{
    background: #596D78;
    transition: all .4s ease-in-out;
    color: #FFF;
}

.subcat-wrapper .subcat:nth-child(1) a:hover{
    background: #F36F36;
    transition: all .4s ease-in-out;
    color: #FFF;
}

.content-container{
    padding: 0 12px;
}

.content-wrapper{
    background: #C1C1C1;
    margin: 5px;
    min-height: 200px;
}

/*-----------CUSTOM-------------*/



.no-padding{
    padding: 0 !important;
}

.padding-10{
    padding: 10px;
}

.padding-0-10{
    padding: 0 10px;
}

.padding-20{
    padding: 20px;
}

.padding-10-20{
    padding: 10px 20px;
}

.padding-20{
    padding: 20px;
}

.no-margin{
    margin: 0 !important;
}

.img-full{
    width: 100%;
}

.img-50{
    width: 50%;
}

.img-30{
    width: 30%;
}

.img-20{
    width: 20%;
}

.white-space-1{
    height: 1px;
}

.white-space-5{
    height: 5px;
}

.white-space-10{
    height: 10px;
}

.white-space-20{
    height: 20px;
}

.border-bottom{
    border-bottom: 1px solid #eee;
}

.margin-center{
    margin: 0 auto;
}

.color-black{
    color: #000;
}
.color-white{
    color: #FFF;
}




/*---------OVERWRITE---------*/

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
}

.navbar-brand{
	padding: 0 15px !important;
}

.nav>li>a:focus, 
.nav>li>a:hover {
    text-decoration: none;
    background-color: #1667AC !important;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #1667AC;
}

.nav-pills>li>a {
    color: #FFF;
    padding: 18px 15px;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus
{
    color: #FFF;
}

.hasScrolled{
    position: fixed !important;
    top: 0 !important;
}

#loading-bar .bar
{
    background: #1667AC!important;
    position: relative!important;
}





/*loader*/

.sk-double-bounce {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 20% auto; }
  .sk-double-bounce .sk-child {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #FFF;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
            animation: sk-doubleBounce 2s infinite ease-in-out; }
  .sk-double-bounce .sk-double-bounce2 {
    -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s; }

@-webkit-keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2); } }

@keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2); } }
.line-list-active
{
    border-bottom: 5px solid red;
}

/* custom modal */
.modal-dialog-center {
  margin-top: 0;
  margin-bottom: 0;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal.fade .modal-dialog-center {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}
.modal.in .modal-dialog-center {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-open{
    /*overflow: auto !important;*/
    /*padding-right: 0px !important;*/
}
.iti-flag {background-image: url("../img/flags.png");}

.intl-tel-input{
    width: 100%;
}

.intl-tel-input.separate-dial-code .selected-dial-code {
    padding-left: 12px;
}

.text-success{
    color: #449D44;
}

.btn-success-succ{
    word-wrap: break-word;
    overflow: hidden;
    white-space: initial;
    height: auto;
}
    