<!-- This modal is for Employee Overview page only -->


<div style="padding-top: 70px;border-radius: 0;" class="modal fade" id="account-billing-edit-password-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" edit-details-directive>
    <div class="modal-dialog" role="document" style="width: 400px;">
        <div class="modal-content" style="border-radius: 0;">
            <div class="modal-header" style="background-color: #33a2d4;padding: 20px;">
                <img src="assets/hr-dashboard/img/icons/close.svg" style="width: 20px;cursor: pointer;" class="pull-right" data-dismiss="modal">
                <h4 class="modal-title pull-left weight-700" id="exampleModalLabel" style="color: #fff;">Update Account</h4>
            </div>
            <div class="modal-body" style="padding: 25px 30px 25px 30px;">
                <form>
                    <div class="form-group">
                        <label>Current Password</label>
                        <input type="password" class="form-control account-billing-edit-business-info-modal-input" name="" ng-model="update_pass_data.current_password">
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" class="form-control account-billing-edit-business-info-modal-input" name="" ng-model="update_pass_data.new_password">
                    </div>
                    <div class="form-group">
                        <label>Re-type Password</label>
                        <input type="password" class="form-control account-billing-edit-business-info-modal-input" name="" ng-model="update_pass_data.re_password">
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="border: 0;padding: 25px 30px 25px 30px;">
                <button class="pull-right edit-employee-details-button" id="update-btn-pass" style="border: solid 1px #0392cf;background-color: #0392cf;color: #fff;" ng-click="updatePasswordSubmit( update_pass_data )">UPDATE</button>
                <button class="pull-right edit-employee-details-button" style="border: solid 1px #ff7373;color: #ff7373;margin-right: 18px;" data-dismiss="modal">CANCEL</button>
            </div>
        </div>
    </div>
</div>