<!-- This modal is for Employee Overview page only -->


<div style="padding-top: 70px;border-radius: 0;" class="modal fade" id="delete-employee-withdraw-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" employee-list-directive>
    <div class="modal-dialog modal-lg" role="document" style="width: 500px;">
        <div class="modal-content" style="border-radius: 0;box-shadow: 1px 1px 10px #4e4545;border: none;">
            <div class="modal-header" style="background-color: #ff6864;padding: 15px 20px;">
                <!-- <img src="assets/hr-dashboard/img/icons/close.svg" style="width: 20px;cursor: pointer;" class="pull-right" data-dismiss="modal"> -->
                <h4 class="modal-title pull-left" id="exampleModalLabel" style="color: #fff;font-weight: 700;">Withdraw Employee(s)</span></h4>
                <a href="javascipt:void(0)" data-dismiss="modal" style="float: right;color: #FFF;font-size: 20px;"><i class="fa fa-times"></i></a>
                
            </div>
            <div class="modal-body" style="background: #F5F5F5;">
                <form style="overflow: hidden;">
                    <div class="col-md-6">
                        <p class="font-medium2 color-black2" style="margin-bottom: 20px;font-weight: 700;">Name </p>
                    </div>
                    <div class="col-md-6">
                        <p class="font-medium2 color-black2 text-right" style="margin-bottom: 20px;font-weight: 700;">Effective Date</p>
                    </div>

                    <div class="user" ng-repeat="emp in empModal_arr">
                        <div class="col-md-6">
                            <p class="color-black2 weight-700" ng-bind="emp.name"></p>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group date-wdraw-picker">
                              <input type="text" class="form-control wdraw-picker{{$index}}" ng-model="emp.date_expire" style="border: none;box-shadow: none;">
                              <span class="input-group-addon" style="background: #fff;border: none;">
                                  <img src="assets/hr-dashboard/img/new-assets/Submit-E-Claim---Visit-Date.png" class="center-block" style="width: 15px;height: 15px;">
                              </span>
                            </div>
                        </div>
                    </div>
                    
                </form>
                <div class="bottom-buttons" style="text-align: right;margin-top: 50px;padding-right: 15px;">
                    <button id="submit-btn" class="delete-modal-del-button" ng-click="submitWithdraw(empModal_arr)" style="padding: 8px 25px;border-radius: 5px;">SUBMIT</button>
                    <!-- <button class="delete-modal-cancel-button" data-dismiss="modal">NO</button> -->
                </div>
            </div>
        </div>
    </div>
</div>