<div style="padding-top: 160px;border-radius: 0;" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius: 0;">
            <div class="modal-header" style="background-color: #33a2d4;padding: 20px;">
                <h4 class="modal-title weight-700" id="exampleModalLabel" style="color: #fff;">Is there a contract period for Mednefits Care?</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 50px;">
                <h4>Yes. Your current plan is on a yearly auto renewable contract. We will bill the billing contact 30 days before current plan expiry. If you choose credit card as your preferred payment method, deduction will be made automatically yearly.</h4>
            </div>
        </div>
    </div>
</div>