<div style="padding-top: 160px;border-radius: 0;" class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius: 0;">
            <div class="modal-header" style="background-color: #33a2d4;padding: 20px;">
                <h4 class="modal-title weight-700" id="exampleModalLabel" style="color: #fff;">How can I replace existing employee?</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 50px;">
                <h4>If you have new headcount replacing the current employee, you may replace his/her benefits plan by indicating a date of transfer. The date of transfer will determine the plan end date of the current employee and plan start date of the new replacement.You can replace existing employee under Employee Overview page -> click on the check box next to the employee’s name -> hit the replace button.
            </h4>
            </div>
        </div>
    </div>
</div>