<div style="padding-top: 160px;border-radius: 0;" class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius: 0;">
            <div class="modal-header" style="background-color: #33a2d4;padding: 20px;">
                <h4 class="modal-title weight-700" id="exampleModalLabel" style="color: #fff;">Can I unsubscribe my company plan?</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 50px;">
                <h4>Yes. you may cancel the company subscription plan (include all enrolled employees) anytime during the subscription period. Just write to us for cancellation request, and we will refund and pro-rate 70% of the unused premium.</h4>
            </div>
        </div>
    </div>
</div>