<div style="padding-top: 10px;border-radius: 0;" class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius: 0;">
            <div class="modal-header" style="background-color: #33a2d4;padding: 20px;">
                <h4 class="modal-title weight-700" id="exampleModalLabel" style="color: #fff;">Is there a refund if my employee leave halfway?</h4>
            </div>
            <div class="modal-body" >
                <h4>You may either remove the existing employee with a pro-rated refund or replace the existing employee with a new replacement. For more information, you may view the below FAQs on removing and replacing employee.</h4>
            </div>
            <div class="modal-header" style="background-color: #33a2d4;padding: 20px;">
                <h4 class="modal-title weight-700" id="exampleModalLabel" style="color: #fff;">How can I remove existing employee?</h4>
            </div>
            <div class="modal-body" >
                <h4>By removing your existing enrolled employee, you can manage it via Employee Overview page -> click on the check box next to the employee’s name -> hit the remove button.The unused premium(70% of pro-rate)will be made to your company account and can be view under Account & Billing -> Transactions -> Refund.</h4>
            </div>
        </div>
    </div>
</div>