<!-- This modal is for Employee Overview page only -->


<div style="padding-top: 70px;border-radius: 0;" class="modal fade" id="under-development-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" employee-list-directive>
    <div class="modal-dialog modal-lg" role="document" style="width: 500px;">
        <div class="modal-content" style="border-radius: 8px;">
            <div class="modal-body text-center" style="padding: 50px;">
                <img src="../assets/hr-dashboard/img/under-dev-black.png" style="width: 150px;margin-top: 10px;margin: 0 auto;display: inline-block;">
                <p class="text-center" style="margin-top: 0px;color: #383838;font-weight: 700;">
                    This feature is currently under development. If you want to add another employee purchase, please contact Mednefits Team at happiness@mednefits.com to assist you. Thanks!
                </p>

                <button class="btn" style="background: #0392cf;color: #fff;font-weight: 700;width: 150px;padding: 10px 0;margin-top: 25px;"  data-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>
