.profile-settings {
	color: #777676; 
	cursor: pointer;
}

#profile-detail-wrapper .table>tbody>tr>td,
#profile-detail-wrapper .table>tbody>tr>th,
#profile-detail-wrapper .table>tfoot>tr>td,
#profile-detail-wrapper .table>tfoot>tr>th,
#profile-detail-wrapper .table>thead>tr>td,
#profile-detail-wrapper .table>thead>tr>th{
	    border-top: 1px solid transparent !important;
}

/*---- BREAKS FOR YOUR CLINIC ----*/
	.add-break-time-wrapper {
		display: flex;
    align-items: center;
    height: 38px;
    padding-left: 50px;
	}

	.add-break-time-wrapper span {
		margin: 0 20px;
	}

	.add-break-time-wrapper select {
		border-radius: 4px;
    padding: 4px 10px;
	}

	.add-break-time-wrapper .fa-times {
		color: #777;
    cursor: pointer;
    font-size: 19px;
    margin-left: 40px;
	}

/*--------------------------------*/

/****************Added by Stephen******************/
button#profile-operatingHours-copyTimetoAllBtn, 
button#profile-operatingHours-undoCopyTimetoAllBtn {
	font-size: 0.9em;
}

button#profile-operatingHours-undoCopyTimetoAllBtn {
	display: none;
}

.operatingHours-div {
	display: none;
    width: 70%;
}

button#profile-operatingHours-saveOperatingHours {
	background: #1b9bd7;
    border: 0px;
    color: white;
    width: 20%;
    height: 35px;
	border-radius: 5px;
	float: right;
}

#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color: rgb(176, 226, 249);
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.breakHours-div {
	display: none;
    width: 70%;
}

button#profile-breakHours-copyTimetoAllBtn, 
button#profile-breakHours-undoCopyTimetoAllBtn {
    font-size: 0.9em;
    color: #1b9bd7;
}
 button#profile-operatingHours-copyTimetoAllBtn {
    color: #1b9bd7;
 }

button#profile-breakHours-undoCopyTimetoAllBtn {
	display: none;
}

.breakHours-div {
	display: none;
    width: 70%;
}

button#profile-breakHours-savebreakHours {
	background: #1b9bd7;
    border: 0px;
    color: white;
    width: 20%;
    height: 35px;
	border-radius: 5px;
	float: right;
}

 #profile-breakHours-monday-div .col-md-1.profile-breakHours-detail-lbl,
 #profile-breakHours-monday-div .toggle,
 #profile-breakHours-monday-div .timepicker,
 #profile-breakHours-tuesday-div .col-md-1.profile-breakHours-detail-lbl,
 #profile-breakHours-tuesday-div .toggle,
 #profile-breakHours-tuesday-div .timepicker,
 #profile-breakHours-wednesday-div .col-md-1.profile-breakHours-detail-lbl,
 #profile-breakHours-wednesday-div .toggle,
 #profile-breakHours-wednesday-div .timepicker,
 #profile-breakHours-thursday-div .col-md-1.profile-breakHours-detail-lbl,
 #profile-breakHours-thursday-div .toggle,
 #profile-breakHours-thursday-div .timepicker,
 #profile-breakHours-friday-div .col-md-1.profile-breakHours-detail-lbl,
 #profile-breakHours-friday-div .toggle,
 #profile-breakHours-friday-div .timepicker,
 #profile-breakHours-saturday-div .col-md-1.profile-breakHours-detail-lbl,
 #profile-breakHours-saturday-div .toggle,
 #profile-breakHours-saturday-div .timepicker,
 #profile-breakHours-sunday-div .col-md-1.profile-breakHours-detail-lbl,
 #profile-breakHours-sunday-div .toggle,
 #profile-breakHours-sunday-div .timepicker,
 #profile-breakHours-publicHoliday-div .col-md-1.profile-breakHours-detail-lbl,
 #profile-breakHours-publicHoliday-div .toggle,
 #profile-breakHours-publicHoliday-div .timepicker,
 #profile-breakHours-copyTimetoAllBtn,
 #profile-breakHours-savebreakHours{
    display: none;
}

div#profile-breakHours-time-panel #monday-addBreak,
div#profile-breakHours-time-panel #tuesday-addBreak,
div#profile-breakHours-time-panel #wednesday-addBreak,
div#profile-breakHours-time-panel #thursday-addBreak,
div#profile-breakHours-time-panel #friday-addBreak,
div#profile-breakHours-time-panel #saturday-addBreak,
div#profile-breakHours-time-panel #sunday-addBreak,
div#profile-breakHours-time-panel #publicHoliday-addBreak {
    border-radius: 5px;
    background: #1b9bd7;
    color: white;
    border: 1px solid #1b9bd7;
}