/nbproject/private/
vendor
public/assets/bower_components
public/assets/node_modules
app/storage/exports*
app/storage/receipts/*
deployment-config.json
node_modules
public/receipts/*
public/excel_upload/*
public/temp_uploads/*
tailwindcss-class-generator
app/config/database.php
public/plan_invoices/*
invoices.zip
app/config/database.php
db
run
