<div class="expired-link-wrapper" expired-link-directive>
	<div class="link-header-container">
		<a href="#" class="pull-right need-help-text tooltips">
			<span>Need Help?</span>
			<div class="tooltip-container">
				<h3 class="tooltip-title">We're here to help.</h3>
				<h3 class="tooltip-phone-email-title">You may ring us</h3>
				<h3 class="tooltip-phone-email-details">+65 3163 5403</h3>
				<h3 class="tooltip-phone-email-details">+60 330 995 774</h3>
				<h3 class="tooltip-phone-email-details">Mon - Fri 9:00am to 6:00pm</h3>
				<br>
				<h3 class="tooltip-phone-email-title">Drop us a note, anytime</h3>
				<h3 class="tooltip-phone-email-details">happiness@mednefits.com</h3>
			</div>
		</a>
	</div>
	<div ng-if="scope.validateToken.activated == false && scope.validateToken.expired_token == false && scope.validateToken.t_c == false || scope.validateToken.activated == true && scope.validateToken.t_c == false" class="mednefits-logo-container">
		<img class="mednefits-logo" src="../../assets/images/Mednefits Logo_Blue.png">
	</div>
	<div ng-if="validateToken.expired_token == true" class="link-expired-container">
		<div class="link-prompt-img">
			<img src="../../assets/images/prompt-tri.png">
		</div>
		<div class="bold-text">
			<span>Your link has expired</span>
		</div>
		<div class="new-link-text-container">You may request a <span class="new-link-text" ng-click="requestLink()">new link</span></div>
	</div>
	<div ng-if="validateToken.activated == true" class="link-succesfully-container">
		<div class="link-prompt-img">
			<img src="../../assets/images/success-circle.png">
		</div>
		<div class="bold-text">
			<span>Your account has been succesfully activated</span>
		</div>
		<div class="new-link-text-container">You may now <span class="new-link-text" ng-click="goToLogin()">sign in to Mednefits</span></div>
	</div>
</div>