<div  company-contacts-directive>
<div class="navbar-blue-bg" style="margin-top: 60px;position: fixed;height: 40px;">
	<div class="container">
		<div class="welcome-container">
			<h4 ui-sref="benefits-dashboard">Overview</h4>
			<div class="arrow-up" style="visibility: hidden;"></div>
		</div>
		<div class="welcome-container">
			<h4 ui-sref="employee-overview">Employee</h4>
			<div class="arrow-up" style="visibility: hidden;"></div>
		</div>
		<!-- <div class="welcome-container">
			<div class="dropdown">
				<h4 class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Employee
				</h4>
				<ul class="dropdown-menu emp-overview-drop" aria-labelledby="dropdownMenu1" style="top: 20px;border-radius: 0;">
					<li><a href="javascript:void(0)" ui-sref="employee-overview">Overview</a></li>
					<li><a href="javascript:void(0)" ui-sref="bulk-cred-allocation">Credit Allocation</a></li>
					<li><a href="javascript:void(0)" ui-sref="cred-allocation">Credit Allocation</a></li>
				</ul>
			</div>
			<div class="arrow-up-2" style="visibility: visible;"></div>
		</div> -->
		<!-- <div class="welcome-container" ng-if="empStatementShow">
			<h4 ui-sref="employee-overview" ui-sref="employee-overview">Employee</h4>
			<div id="arrow-up-statement"></div>
		</div> -->
		<div class="welcome-container">
			<h4 ui-sref="activity">Activity</h4>
			<div class="arrow-up-3" style="visibility: hidden;"></div>
		</div>
		<div class="welcome-container" ng-if="options.accessibility == 1">
			<h4 ui-sref="e-claim">Claim</h4>
			<div class="arrow-up-4" style="visibility: hidden;"></div>
		</div>
		<div class="welcome-container statement-hide">
			<h4 ui-sref="statement">Statement</h4>
			<div class="arrow-up-5" style="visibility: hidden;"></div>
		</div>
		<div class="welcome-container">
			<h4 ui-sref="account-and-payment">Account</h4>
			<div class="arrow-up-5"></div>
		</div>
	</div>
</div>
<div class="hrdb-body-container">
	<div class="container">
		<h3 class="text-center" style="color: #5b5b5b;">Account & Billing</h3>
		<hr>
		<div class="col-lg-2 account-billing-link-list">
			<ul>
				<li>
					<a ui-sref="company-and-contacts">Company & Contacts</a>
				</li>
				<li>
					<a ui-sref="transactions">Transactions</a>
				</li>
				<li>
					<a ui-sref="document-center">Document Center</a>
				</li>
				<li class="active-link">
					<a href="">Account & Payments</a>
				</li>
				<!-- <li>
					<a ui-sref="benefits-tier">Team Benefits Tier</a>
				</li> -->
			</ul>
		</div>
		<div class="col-lg-10 info-container" hidden>
			<!-- Plan Subscription -->

			<!-- OLD ACCOUNT & PAYMENT  -->

			<!-- <h3 class="table-box-title" style="font-weight: bolder;margin-top: 0;">Plan Subscription</h3>
			<table class="table table-bordered account-and-payment-table">
				<tbody>
					<tr>
						<td>
							<h5 style="font-weight: bold;">Plan</h5>
							<span ng-bind="billings.plan_type">Mednefits Care (Corporate)</span>
						</td>
						<td>
							<h5 style="font-weight: bold;">Start Date</h5>
							<span ng-bind="plan_subs.start_date">22/06/2017</span>
						</td>
						<td>
							<h5 style="font-weight: bold;">End Date</h5>
							<span ng-bind="plan_subs.end_date">22/06/2017</span>
						</td>
						<td>
							<h5 style="font-weight: bold;">Days to Expiry</h5>
							<span ng-bind="plan_subs.plan_days_to_expire">0</span>
						</td>
						<td>
							<h5 style="font-weight: bold;">Employees</h5>
							<span ng-bind="plan_subs.employees">0</span>
						</td>
						<td ng-if="plan_subs.dependents > 0">
							<h5 style="font-weight: bold;">Dependents</h5>
							<span ng-bind="plan_subs.dependents">0</span>
						</td>
					</tr>
				</tbody>
			</table> -->

			<!---------------------------->

			<!-- <h3 class="table-box-title" style="font-weight: bolder;margin-top: 0;">Plan Subscription</h3>
			<table class="table table-bordered account-and-payment-table">
				<thead>
					<tr>
						<th colspan="2">Payment Method</th>
						<th colspan="2">Details</th>
					</tr>
				</thead>
				<tbody class="account-and-payment-table-tbody">
					<tr>
						<td ng-if="billings.payment_method.cheque == 'true'">Cheque</td>
						<td ng-if="billings.payment_method.credit_card == 'true'">Credit Card</td>
						<td>
							<button class="edit-button-in-table pull-right" data-toggle="modal" data-target="#account-billing-edit-payment-information-modal" ng-click="openEditPaymentModal(billings)">Edit</button>
						</td>
						<td>
							<h5 style="font-weight: bold;margin: 0;">Billing Address</h5>
							<h5 style="margin: 0;" ng-bind="billings[0].billing_address.billing_address">7 Temasek Boulevard</h5>
						</td>
						<td>
							<button class="edit-button-in-table pull-right" data-toggle="modal" data-target="#account-billing-edit-payment-information-details-modal" ng-click="openEditPaymentModal2(billings)">Edit</button>
						</td>
					</tr>
				</tbody>
			</table> -->

			<!-- OLD ACCOUNT & PAYMENT  -->

			<!-- <h3 class="table-box-title" style="font-weight: bolder;margin-top: 0;"></h3>
			<table class="table table-bordered account-and-payment-table">
				<thead>
					<tr>
						<th>Account</th>
						<th></th>
					</tr>
				</thead>
				<tbody class="account-and-payment-table-tbody">
					<tr>
						<td>Update Password</td>
						<td class="text-right">
							<button class="edit-button-in-table pull-right" data-toggle="modal" data-target="#account-billing-edit-password-modal" ng-click="openEditPasswordModal(company_contacts)">Edit</button>
						</td>
					</tr>
				</tbody>
			</table> -->
			
			<!-- <h3 class="table-box-title" style="font-weight: bolder;margin-top: 35px;margin-bottom: 20px;">Current Active Plans:</h3> -->

			<div class="active-plan" ng-repeat="list in comp_active_plans" style="display: none;">
				<p><label>Active Plan #<span ng-bind="$index + 1"></span></label></p>
				<p><label>Active Plan ID #<span ng-bind="list.customer_active_plan_id">138</span></label></p>

				<div class="employee-account-container">

					<div class="employee-account-title">
            <span>Employee Account</span>
          </div>

					<p>
						<!-- <label>Account Type:</label>  -->
						<label>Plan Type: </label>
						<span ng-if="list.account_type == 'insurance_bundle'">Insurance Bundle</span>
						<span ng-if="list.account_type == 'stand_alone_plan'">Standalone Plan</span>
						<span ng-if="list.account_type == 'lite_plan'">Basic Plan</span>
						<span ng-if="list.account_type == 'trial_plan'">Trial Plan</span>
						<span ng-if="list.account_type == 'enterprise_plan'">Enterprise Plan</span>
					</p>
					<!-- <p><label>Date:</label> <span ng-bind="list.plan_start">28-06-2017</span></p> -->
					<p><label>Start Date:</label> <span ng-bind="list.plan_start">28-06-2017</span></p>
					<p><label>Plan Duration:</label> <span ng-bind="list.duration">365 Days</span></p>
					<!-- <p><label>Employees:</label> <span ng-bind="list.employees">1</span></p> -->
					<p><label>Total Seats:</label> <span ng-bind="list.employees">1</span></p>
					<p><label>Occupied Seats:</label> <span ng-bind="list.occupied">1</span></p>
					<p><label>Vacant Seats:</label> <span ng-bind="list.vacant">1</span></p>
					<p><label>Plan Amount:</label><span class="currency-type" ng-bind="local_currency_type">SGD/MYR</span> <span ng-bind="list.plan_amount">99.00</span></p>
					<p><label>Payment Status:</label> <span ng-if="list.paid == 'true'">PAID</span><span ng-if="list.paid == 'false'">PENDING</span></p>
				</div>

				<div ng-if="list.dependents.length > 0" class="employee-account-container">

					<div class="employee-account-title">
            <span>Dependent Account</span>
          </div>
          <div class="dependent-account-list-container">
	          <div ng-repeat="dep in list.dependents" class="dependents-list">
	          	<p>
							<!-- <label>Account Type:</label>  -->
								<label>Plan Account Type: </label>
								<span ng-if="dep.account_type == 'insurance_bundle'">Insurance Bundle</span>
								<span ng-if="dep.account_type == 'stand_alone_plan'">Standalone Plan</span>
								<span ng-if="dep.account_type == 'lite_plan'">Basic Plan</span>
								<span ng-if="dep.account_type == 'trial_plan'">Trial Plan</span>
							</p>
							<!-- <p><label>Date:</label> <span ng-bind="dep.plan_start">28-06-2017</span></p> -->
							<p><label>Start Date:</label> <span ng-bind="dep.plan_start">28-06-2017</span></p>
							<!-- <p><label>Employees:</label> <span ng-bind="dep.employees">1</span></p> -->
							<p><label>Total Seats:</label> <span ng-bind="dep.total_dependents">1</span></p>
							<p><label>Occupied Seats:</label> <span ng-bind="dep.occupied">1</span></p>
							<p><label>Vacant Seats:</label> <span ng-bind="dep.vacant">1</span></p>
							<p><label>Plan Amount:</label><span class="currency-type" ng-bind="local_currency_type">SGD/MYR</span> <span ng-bind="dep.amount">99.00</span></p>
							<p><label>Payment Status:</label> <span ng-if="dep.payment_status == 1">PAID</span><span ng-if="dep.payment_status == 0">PENDING</span></p>
		        </div>
					</div>
				</div>

				<br>
				<!-- <p ng-if="list.plan_extension"><label>Plan Extention</label></p> -->
				<div ng-if="list.plan_extension" class="plan-extension-title">
          <span>Plan Extension</span>
        </div>

				<p ng-if="list.plan_extension">
					<label>Account Type:</label> 
					<span ng-if="list.plan_extension.account_type == 'insurance_bundle'">Insurance Bundle</span>
					<span ng-if="list.plan_extension.account_type == 'stand_alone_plan'">Standalone Plan</span>
					<span ng-if="list.plan_extension.account_type == 'lite_plan'">Basic Plan</span>
					<span ng-if="list.plan_extension.account_type == 'trial_plan'">Trial Plan</span>
					<p ng-if="list.plan_extension"><label>Date:</label> <span ng-bind="list.plan_extension.plan_start">28-06-2017</span></p>
					<p ng-if="list.plan_extension"><label>Plan Duration:</label> <span ng-bind="list.plan_extension.duration">365 Days</span></p>
					<p ng-if="list.plan_extension"><label>Employees:</label> <span ng-bind="list.plan_extension.employees">1</span></p>
					<p ng-if="list.plan_extension"><label>Plan Amount:</label><span class="currency-type" ng-bind="local_currency_type">SGD/MYR</span> <span ng-bind="list.plan_extension.amount">99.00</span></p>
					<p ng-if="list.plan_extension"><label>Payment Status:</label> <span ng-if="list.plan_extension.paid == 1">PAID</span><span ng-if="list.plan_extension.paid == 0">PENDING</span></p>
				</p>
				<!-- <p ng-if="list.dependents > 0"><label>Dependents Plans: <span ng-bind="list.dependents"></span></label></p> -->
				<!-- <br> -->
				<!-- <p ng-if="list.dependents > 0"><label>Number of Dependent Plan: <span ng-bind="list.dependents"></span></label></p> -->
				<br>
				<div class="medical-spending-container">
					<p><label class="medical-spending-title">Medical Spending Account:</label></p>
					<p style="margin-bottom: 5px;"><label ng-if="spending_account_status.medical_method == 'post_paid'">(Post-paid)</label></p>
					<p style="margin-bottom: 5px;"><label ng-if="spending_account_status.medical_method == 'pre_paid'">(Pre-paid)</label></p>
					<!-- <p><label>Total Allocation:</label> S$<span ng-bind="list.total_allocated_amount_medical">1,000.00</span></p> -->
					<!-- <p><label>Deposit:</label> S$<span ng-bind="list.total_deposit_medical">0.00</span></p> -->
					<p><label>Total:</label><span class="currency-type" ng-bind="local_currency_type">SGD/MYR</span> <span ng-bind="list.total_allocated_amount_medical">1,000.00</span></p>
					<p><label>Unallocated:</label><span ng-if="true">S$</span><span ng-if="false">RM</span> <span ng-bind="list.total_deposit_medical">0.00</span></p>
				</div>
				<div class="wellness-spending-container">
					<p><label class="wellness-spending-title">Wellness Spending Account:</label></p>
					<p style="margin-bottom: 5px;"><label ng-if="spending_account_status.wellness_method == 'post_paid'">(Post-paid)</label></p>
					<p style="margin-bottom: 5px;"><label ng-if="spending_account_status.wellness_method == 'pre_paid'">(Pre-paid)</label></p>
					<!-- <p><label>Total Allocation:</label> S$<span ng-bind="list.total_allocated_amount_wellness">1,000.00</span></p> -->
					<!-- <p><label>Deposit:</label> S$<span ng-bind="list.total_deposit_wellness">0.00</span></p> -->
					<p><label>Total:</label><span class="currency-type" ng-bind="local_currency_type">SGD/MYR</span> <span ng-bind="list.total_allocated_amount_wellness">1,000.00</span></p>
					<p><label>Unallocated:</label><span class="currency-type" ng-bind="local_currency_type">SGD/MYR</span> <span ng-bind="list.total_deposit_medical">0.00</span></p>
				</div>
				<br>
				<div class="col-md-12 no-padding text-center">
					<button class="btn btn-default btn-view-plan" ng-click="selectActivePlan(list)" data-toggle="modal" data-target="#active-plan-details-modal">View Plan</button>
				</div>
			</div>

			<!---------------------------->

			<div class="new-account-payment-wrapper">
				<div class="hr-admin-container">
					<h4>HR Adminstrator Contact (Primary Admin)</h4>
					<div>
						<div class="account-card-container">
							<div class="account-card-row-info">
								<div>Full name: </div> 
								<span ng-bind="global_hrData.full_name"> Filbert Tan</span>
							</div>
							<div class="account-card-row-info">
								<div>Email address: </div> 
								<span ng-bind="global_hrData.email"> filbert@mednefits.com</span>
							</div>
							<div class="account-card-row-info">
								<div>Mobile number: </div> 
								<span><span ng-bind="global_hrData.phone_code"> </span> <span ng-bind="global_hrData.phone">6587671541</span></span>
							</div>
							<div class="btn-edit-container">
								<button ng-click="_editDetailsBtn_( global_hrData )" data-toggle="modal" data-target="#edit_details" class="btn-edit-details"><img src="../assets/hr-dashboard/img/edit.png">Edit Details</button>
							</div>
						</div>
						<div>
							<button ng-click="_updatePasswordBtn_()" data-toggle="modal" data-target="#update_password" class="btn-update-password">Update Password</button>
						</div>
					</div>
				</div>
				<div class="plan-details-container">
					<div class="plan-details-header">
						<div>
							<h4>Plan Details</h4>
							<span ng-if="activePlanDetails_pagination.paginate == true" class="seperator"></span>
							<div ng-if="activePlanDetails_pagination.paginate == true" class="plan-details-pagination-container"> 
								<span class="current-active-plans-text">Current Active Plans:</span>
								<div class="current-active-plans-pagination">
									<div ng-if="$index + 1 < 5" ng-repeat="list in range(activePlanDetails_pagination.total_data)" ng-click="selectActivePlanPage($index + 1)" ng-class="{'active' : activePlan_active_page == $index + 1}">{{$index + 1}}</div>
									
									<div ng-if="activePlanDetails_pagination.total_data > 4" class="active-plan-dot">
										<span ng-click="_toggleActivePlanDrop_()" class="dot-click">...</span>
										<span ng-if="isActivePlanDropShow" class="active-plan-dp-wrapper">
											<div ng-if="(list + 1) > 4 && (list + 1) < activePlanDetails_pagination.total_data" ng-repeat="list in range(activePlanDetails_pagination.total_data)" ng-click="selectActivePlanPage(list + 1)" ng-class="{'active' : activePlan_active_page == list + 1}">
												<span>Active Plan {{list + 1}}</span>
											</div>
										</span>
									</div>

									<div ng-if="activePlanDetails_pagination.total_data > 4" ng-click="selectActivePlanPage(activePlanDetails_pagination.total_data)" ng-bind="activePlanDetails_pagination.total_data"></div>
								</div>
							</div>
						</div>
						<div ng-if="activePlanDetails_pagination.paginate == true && oldPlan_list.length > 0" class="old-active-plans-wrapper">
							<span class="old-active-plans-text" ng-if="oldPlan_active_page != null" ng-click="_selectCurrentPlan_()">Select Current Plan</span>
							<span class="old-active-plans-text" ng-click="_toggleOldActivePlanDrop_()">See Old Active Plans</span>
							<div ng-if="isOldPlanListDropShow" class="old-active-plans-dp-container">
								<div ng-repeat="list in oldPlan_list" ng-click="selectOldPlanPage($index + 1, list)" class="old-plan" ng-class="{'active' : oldPlan_active_page == $index + 1}">
									<span>Plan Start Date: <span ng-bind="customFormatDate(list.plan_start, 'YYYY-MM-DD', 'D MMM YYYY')">1 Jan 2019</span></span>
								</div>
							</div>
						</div>
					</div>
					<div>
						<div class="account-card-container">
							<div class="plan-account-sub-title">
								<div>Employee Account</div>
								<span>{{employee_acount_details.duration}} account subscription term</span>
							</div>
							<div class="account-card-row-info">
								<div>Plan Type: </div> 
								<span ng-bind="employee_acount_details.plan_type"></span>
							</div>
							<div class="account-card-row-info">
								<div ng-if="employee_acount_details.account_type != 'enterprise_plan'">Total Enrolled Employees : </div>
								<div ng-if="employee_acount_details.account_type == 'enterprise_plan'">Total Employee Accounts : </div>
								<span ng-bind="employee_acount_details.total_enrolled_employees"></span>
							</div>
							<div class="btn-edit-container">
								<button ng-click="_editDetails_('employee', employee_acount_details)" data-toggle="modal" data-target="#edit_employee_plan" class="btn-edit-details"><img src="../assets/hr-dashboard/img/edit.png">Edit Details</button>
							</div>
						</div>
						<div class="account-card-container">
							<div class="plan-account-sub-title">
								<div>Dependent Account</div>
								<span>{{dependent_acount_details.duration}} account subscription term</span>
							</div>
							<div class="account-card-row-info">
								<div>Plan Type: </div> 
								<span ng-bind="dependent_acount_details.plan_type"></span>
							</div>
							<div class="account-card-row-info">
								<div ng-if="employee_acount_details.account_type != 'enterprise_plan'">Total Enrolled Dependents : </div>
								<div ng-if="employee_acount_details.account_type == 'enterprise_plan'">Total Dependent Accounts : </div>
								<span ng-bind="dependent_acount_details.total_enrolled_employees">0</span>
							</div>
							<div class="btn-edit-container">
								<button ng-click="_editDetails_('dependent', dependent_acount_details)" data-toggle="modal" data-target="#edit_employee_plan" class="btn-edit-details"><img src="../assets/hr-dashboard/img/edit.png">Edit Details</button>
							</div>
						</div>
					</div>
				</div>
				<div class="enrollment-history-container">
					<h4>Enrollment History</h4>
					<div class="enrollment-history-tbl-wrapper">
						<div class="enrollment-history-tbl-container">
							<table>
								<thead>
									<tr>
										<th>
											Date <br><span>of enrollment</span>
										</th>
										<th>Plan Type</th>
										<th>Plan Start Date</th>
										<th>Total <br> Enrolled Employees</th>
										<th>Total <br> Enrolled Dependents</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="list in global_enrollmentHistoryData track by $index">
										<td ng-bind="list.date_of_edit">18 Feb 2020</td>
										<td>
											<span ng-if="list.plan_type == 'Pro Plan' ">Pro Plan</span>
											<span ng-if="list.plan_type == 'Basic Plan' ">Basic Plan</span>
											<span ng-if="list.plan_type == 'Enterprise Plan' ">Enterprise Plan</span>
										</td>
										<td ng-bind="list.plan_start">20 Feb 2020</td>
										<td ng-bind="list.total_enrolled_employees">03</td>
										<td ng-bind="list.total_enrolled_dependents">0</td>
										<td class="enrollment-actions-dp-wrapper">
											<span ng-click="enrollAction( list,$index )">
												<img src="../assets/hr-dashboard/img/down-arrow.svg">
												<div ng-if="list.isActionShow" class="enrollment-actions-dp-container">
													<div class="view-members-wrapper">
														<span>Members</span>
														<div>
															<button ng-click="_getEnrolledMemberList_(list)">View Members</button>
														</div>
													</div>
													<div class="activation-email-wrapper">
														<span>Activation Email</span>
														<div>
															<button data-toggle="modal" data-target="#send_immediately_modal">Send Immediately</button>
															<button ng-click="_editScheduleDate_(list)" data-toggle="modal" data-target="#edit_scheduled_modal">Edit Scheduled Date</button>
														</div>
													</div>
												</div>
											</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="custom-pagination-container flex-1">
						<div class="custom-pagination">
							<div class="page-wrapper">
								<div class="page-scroll-container">
									<span ng-click="_prevPageList_('enrollment-history')" ng-disabled="global_memberOpenedPagination.prev_page_url == null" class="prev-next-container">  
										<i class="fa fa-angle-left"></i> 
										<span>Prev</span>
									</span>
									<div class="pages-list">
											
										<!-- <span class="page-num active">1</span>	 -->
										<span ng-repeat="list in range( global_enrollmentHistoryPagination.last_page )" ng-bind="list + 1" class="page-num" ng-click="_selectNumList_('enrollment-history',list + 1)" ng-class="{'active' : list + 1 == enroll_page_active}">1</span>

										 <!-- <span style="flex: initial;" ng-if="global_memberOpenedPagination.last_page > 10 && open_page_active < ( global_memberOpenedPagination.last_page - 5 )" ng-click="_selectNumList_('open',global_memberOpenedPagination.last_page)" >.. {{ global_memberOpenedPagination.last_page }}</span> -->
										
									</div>
									<span ng-click="_nextPageList_('enrollment-history')" class="prev-next-container">  
										<span>Next</span>
										<i class="fa fa-angle-right"></i> 
									</span>
								</div>
							</div>
							<div ng-click="_toggleEnrollmentPerPage_()" class="custom-list-per-page">
							<!-- <div ng-click="_toggleOpenPerPage_()" ng-if="global_memberOpenedPagination.next_page_url" class="custom-list-per-page"> -->
								<span><span>10</span> per page</span>
								<span>  
									<i class="fa fa-caret-down"></i>
								</span>
								<div class="opened-per-page-scroll enrollment-per-page-container">
									<span ng-click="_setPageLimit_( 'enrollment-history',10 )">10 per page</span>
									<span ng-click="_setPageLimit_( 'enrollment-history',25 )">20 per page</span>
									<span ng-click="_setPageLimit_( 'enrollment-history',50 )">50 per page</span>
									<span ng-click="_setPageLimit_( 'enrollment-history',100 )">100 per page</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div ng-if="spending_account_status.account_type == 'enterprise_plan'" class="invoice-history-container">
					<div class="invoice-history-header">
						<h4>Invoice History</h4>
						<div class="drop-filter-wrapper">
							<select ng-model="invoiceHistoryType" ng-change="changeInvoiceHistoryType(invoiceHistoryType)">
								<option value="plan">Plan</option>
								<option value="refund">Refund</option>
							</select>
						</div>
						<button ng-if="spending_account_status.account_type == 'enterprise_plan'" class="btn-download-invoice" ng-click="_downloadInvoiceHistoryPDF_()">Download Invoice</button>
					</div>
					<div class="invoice-history-tbl-wrapper">
						<div class="invoice-history-tbl-container">
							<table>
								<thead>
									<tr>
										<th>Status</th>
										<th>Invoice Date</th>
										<th>Number</th>
										<th>Total</th>
										<th>Amount Due</th>
										<th>Payment Due</th>
										<th>Payment Amount</th>
										<th>Payment Date</th>
										<th>Payment <br>Remarks</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-if="invoiceHistoryType == 'refund'" ng-repeat="list in getPlanInvoiceData">
										<td>
											<div ng-if="list.payment_status == 0" class="status pending">Pending</div>
											<div ng-if="list.payment_status == 1" class="status paid">Paid</div>
										</td>
										<td>
											<span ng-bind="list.cancellation_date">18 Feb 2020</span>
										</td>
										<td>
											<span ng-bind="list.cancellation_number">MC00000238283</span>
										</td>
										<td>
											<span ng-bind="list.currency_type" class="currency-type">SGD</span>
											<span ng-bind="list.total_refund">300.00</span>
										</td>
										<td>
											<span ng-bind="list.currency_type" class="currency-type">SGD</span>
											<span ng-bind="list.amount_due">600.00</span>
										</td>
										<td>
											<span ng-bind="list.payment_due">18 Feb 2020</span>
										</td>
										<td>
											<span ng-bind="list.currency_type" class="currency-type">SGD</span>
											<span ng-bind="list.payment_amount">0.00</span>
										</td>
										<td>
											<span ng-if="list.payment_status" ng-bind="list.payment_date"></span>
										</td>
										<td>
											<span ng-bind="list.payment_remarks"></span>
										</td>
										<td>
											<span class="invoice-history-drop-click" ng-click="toggleInvoiceHistoryDrop( list,$index )">
												<img src="../assets/hr-dashboard/img/down-arrow.svg">
												<div ng-if="list.isShowDrop" class="custom-dropdown">
													<div ng-click="downloadRefund(list.payment_refund_id)">
														Download PDF
													</div>
												</div>
											</span>
										</td>
									</tr>

									<tr ng-if="invoiceHistoryType == 'plan'" ng-repeat="list in getPlanInvoiceData">
										<td>
											<div ng-if="list.payment_status == false" class="status pending">Pending</div>
											<div ng-if="list.payment_status == true" class="status paid">Paid</div>
										</td>
										<td>
											<span ng-bind="list.invoice_date">18 Feb 2020</span>
										</td>
										<td>
											<span ng-bind="list.invoice_number">MC00000238283</span>
										</td>
										<td>
											<span ng-bind="list.currency_type" class="currency-type">SGD</span>
											<span ng-bind="list.total">300.00</span>
										</td>
										<td>
											<span ng-bind="list.currency_type" class="currency-type">SGD</span>
											<span ng-bind="list.amount_due">600.00</span>
										</td>
										<td>
											<span ng-bind="list.invoice_due">18 Feb 2020</span>
										</td>
										<td>
											<span ng-bind="list.currency_type" class="currency-type">SGD</span>
											<span ng-bind="list.payment_amount">0.00</span>
										</td>
										<td>
											<span ng-if="list.payment_status" ng-bind="list.payment_date"></span>
										</td>
										<td>
											<span ng-bind="list.payment_remarks"></span>
										</td>
										<td>
											<span class="invoice-history-drop-click" ng-click="toggleInvoiceHistoryDrop( list,$index )">
												<img src="../assets/hr-dashboard/img/down-arrow.svg">
												<div ng-if="list.isShowDrop" class="custom-dropdown">
													<div ng-click="downloadInvoiceHistoryDataPDF(list)">
														Download PDF
													</div>
												</div>
											</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="custom-pagination-container flex-1">
						<div class="custom-pagination">
							<div class="page-wrapper">
								<div class="page-scroll-container">
									<span ng-click="_prevPageList_('invoice-history')" ng-disabled="global_memberOpenedPagination.prev_page_url == null" class="prev-next-container">  
										<i class="fa fa-angle-left"></i> 
										<span>Prev</span>
									</span>
									<div class="pages-list">
											
										<!-- <span class="page-num active">1</span>	 -->
										<span ng-repeat="list in range( invoicePlanPagination.last_page ) " ng-bind="list + 1" class="page-num" ng-click="_selectNumList_('invoice-history',list + 1)" ng-class="{'active' : list + 1 == page_active}">1</span>

										 <!-- <span style="flex: initial;" ng-if="global_memberOpenedPagination.last_page > 10 && open_page_active < ( global_memberOpenedPagination.last_page - 5 )" ng-click="_selectNumList_('open',global_memberOpenedPagination.last_page)" >.. {{ global_memberOpenedPagination.last_page }}</span> -->
										
									</div>
									<span ng-click="_nextPageList_('invoice-history')" class="prev-next-container">  
										<span>Next</span>
										<i class="fa fa-angle-right"></i> 
									</span>
								</div>
							</div>
							<div ng-click="_toggleInvoicePerPage_()" class="custom-list-per-page">
							<!-- <div ng-click="_toggleOpenPerPage_()" ng-if="global_memberOpenedPagination.next_page_url" class="custom-list-per-page"> -->
								<span><span>10</span> per page</span>
								<span>  
									<i class="fa fa-caret-down"></i>
								</span>
								<div class="opened-per-page-scroll invoice-per-page-container">
									<span ng-click="_setPageLimit_( 'invoice-history',10 )">10 per page</span>
									<span ng-click="_setPageLimit_( 'invoice-history',25 )">20 per page</span>
									<span ng-click="_setPageLimit_( 'invoice-history',50 )">50 per page</span>
									<span ng-click="_setPageLimit_( 'invoice-history',100 )">100 per page</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade new-account-modal" id="edit_details" tabindex="-1" role= "dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document" style="width: 580px;margin-top: 200px;">
			    <div class="modal-content">
			    	<form>
				      <div class="modal-header">
				        <h4>Edit HR Administrator Details</h4>
				      </div>
				      <div ng-if="!editHrSuccessfullyUpdated" class="modal-body">
				        <div class="company-account-input-wrapper">
				        	<label>Full Name</label>
				        	<div class="custom-input-wrapper">
				        		<input ng-model="global_hrData.full_name" type="text">
				        	</div>
				        </div>
				        <div class="company-account-input-wrapper">
				        	<label>Email</label>
				        	<div class="custom-input-wrapper">
				        		<input ng-model="global_hrData.email" type="text">
				        	</div>
				        </div>
				        <div class="company-account-input-wrapper number">
									<label></span>Phone Number</label>
									<div>
										<div class="custom-input-wrapper">
											<input ng-model="global_hrData.phone_code" type="tel" id="phone_number">
											<i class="fa fa-angle-down"></i>
										</div>
										<div class="custom-input-wrapper">
											<input ng-model="global_hrData.phone" type="text">
										</div>
									</div>
								</div>
							</div>
							<div ng-if="editHrSuccessfullyUpdated" class="modal-body edit-hr-success-container">
								<div>
									<img src="../assets/images/success-circle.png">
								</div>
								<span>Detail(s) has been succesfully updated.</span>
							</div>
				      <div class="modal-footer">
				        <button ng-if="!editHrSuccessfullyUpdated" data-dismiss="modal" class="btn-edit-cancel btn-close">Cancel</button>
								<button ng-if="!editHrSuccessfullyUpdated" ng-click="_updateHrDetails_( global_hrData )" class="btn-update">Update</button>
								<button ng-if="editHrSuccessfullyUpdated" data-dismiss="modal" class="btn-edit-cancel btn-close">Close</button>
				      </div>
			      </form>
			    </div>
			  </div>
			</div>

			<div class="modal fade new-account-modal" id="edit_employee_plan" tabindex="-1" role= "dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document" style="width: 580px;margin-top: 200px;">
			    <div class="modal-content">
			    	<form>
				      <div class="modal-header">
				        <h4>Edit {{ global_planData.type == 'employee' ? 'Employee' : 'Dependent' }} Plan</h4>
				      </div>
				      <div class="modal-body">
				        <div class="company-account-input-wrapper">
				        	<label>Plan Type</label>
				        	<div class="custom-input-wrapper disabled">
										<!-- <input ng-model="global_planData.plan_type" type="text"> -->
										<select ng-model="global_planData.account_type" ng-change="_planTypeChanged_(global_planData.account_type)">
											<option value="trial_plan">Trial Plan</option>
											<option value="insurance_bundle">Insurance Bundle</option>
											<option value="stand_alone_plan">Pro Plan</option>
											<option value="lite_plan">Basic Plan</option>
											<option value="enterprise_plan">Enterprise Plan</option>
										</select>
				        		<i class="fa fa-angle-down"></i>
				        	</div>
				        </div>
				        <div class="edit-emp-row-info">
				        	<div class="company-account-input-wrapper">
					        	<label>Start Date</label>
					        	<div class="custom-input-wrapper">
					        		<input class="datepicker" ng-model="global_planData.plan_start" type="text">
					        		<img src="../assets/images/calendar-gray.png">
					        	</div>
					        </div>
					        <div class="company-account-input-wrapper">
					        	<label>Plan Duration</label>
					        	<div class="custom-input-wrapper">
					        		<select ng-change="_changePlanDuration_(global_planData.duration,global_planData.plan_start)" ng-model="global_planData.duration">
					        			<option value="12 months">12 months</option>
					        			<option value="11 months">11 months</option>
					        			<option value="10 months">10 months</option>
					        			<option value="9 months">9 months</option>
					        			<option value="8 months">8 months</option>
					        			<option value="7 months">7 months</option>
					        			<option value="6 months">6 months</option>
					        			<option value="5 months">5 months</option>
					        			<option value="4 months">4 months</option>
					        			<option value="3 months">3 months</option>
					        			<option value="2 months">2 months</option>
					        			<option value="1 months">1 months</option>
					        		</select>
					        		<i class="fa fa-angle-down"></i>
					        	</div>
					        </div>
				        </div>
				        <!-- <div class="company-account-input-wrapper">
									<label>Total Enrolled Accounts</label>
									<div class="custom-input-wrapper">
										<input ng-model="global_planData.dependent_account" type="text">
									</div>
				        </div> -->
				        <div class="edit-emp-row-info">
				        	<div class="company-account-input-wrapper">
										<label ng-if="global_planData.account_type != 'enterprise_plan'">Total Enrolled {{ global_planData.type == 'employee' ? 'Employees' : 'Dependents' }}</label>
					        	<label ng-if="global_planData.account_type == 'enterprise_plan'">Total {{ global_planData.type == 'employee' ? 'Employee' : 'Dependent' }} Accounts</label>
					        	<div class="custom-input-wrapper disabled">
					        		<input ng-model="global_planData.total_enrolled_employees" type="text" readonly>
					        	</div>
					        </div>
					        <div ng-if="global_planData.account_type == 'enterprise_plan'" class="company-account-input-wrapper">
					        	<label>Price Per {{ global_planData.type == 'employee' ? 'Employee' : 'Dependent' }}</label>
					        	<div class="custom-input-wrapper price-dependent-input-wrapper">
					        		<div>
					        			<span class="text-uppercase">{{ spending_account_status.account_type | uppercase }}</span>
					        		</div>
					        		<input ng-model="global_planData.individual_price" type="text">
					        	</div>
					        </div>
								</div>
				        <div ng-if="global_planData.account_type == 'enterprise_plan'" class="edit-emp-row-info">
				        	<div class="company-account-input-wrapper">
					        	<label>Invoice Start Date</label>
					        	<div class="custom-input-wrapper" ng-class="{'disabled' : global_planData.type == 'dependent' }">
					        		<input class="datepicker" ng-model="global_planData.invoice_date" type="text">
					        		<img src="../assets/images/calendar-gray.png">
					        	</div>
					        </div>
					        <div class="company-account-input-wrapper">
					        	<label>Invoice Due Date</label>
					        	<div class="custom-input-wrapper" ng-class="{'disabled' : global_planData.type == 'dependent' }">
					        		<input class="datepicker" ng-model="global_planData.invoice_due" type="text">
					        		<img src="../assets/images/calendar-gray.png">
					        	</div>
					        </div>
				        </div>
				      </div>
				      <div class="modal-footer">
				        <button data-dismiss="modal" class="btn-edit-cancel">Cancel</button>
				        <button ng-click="_updatePlanDetails_( global_planData )" class="btn-update">Update</button>
				      </div>
			      </form>
			    </div>
			  </div>
			</div>

			<div class="modal fade new-account-modal" id="update_password" tabindex="-1" role= "dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document" style="width: 580px;margin-top: 200px;">
			    <div class="modal-content">
			    	<form>
				      <div class="modal-header">
				        <h4>Update Password</h4>
				      </div>
				      <div class="modal-body">
				      	<div ng-if="!global_passwordSuccess">
					        <div class="company-account-input-wrapper">
					        	<label>New Password</label>
					        	<div class="custom-input-wrapper password-input" ng-class="{'password-border' :  passwordCheck }">
					        		<input  type="text" ng-model="passwordData.newPassword" placeholder="Enter new password">
					        	</div>
					        </div>
					        <div class="company-account-input-wrapper">
					        	<label>Confirm Password</label>
					        	<div class="custom-input-wrapper password-input" ng-class="{'password-border' :  passwordCheck }">
					        		<input type="text" ng-model="passwordData.confirmPassword" placeholder="Re-type new password">
					        	</div>
					        </div>
					        <div ng-if="passwordCheck" class="password-confirmation-text">
					        	<span>Your new password and confirmation password do not match.</span>
					        </div>
				        </div>
				        <div ng-if="global_passwordSuccess" class="succesfully-updated">
				        	<div>
				        		<img src="../assets/images/success-circle.png">
				        	</div>
				        	<span>Password has been succesfully updated.</span>
				        </div>
				      </div>
				      <div class="modal-footer">
				        <button ng-if="!global_passwordSuccess" data-dismiss="modal" class="btn-edit-cancel">Cancel</button>
				        <button ng-click="_updatePassword_( passwordData )" 
				        ng-disabled="passwordData.newPassword == '' && passwordData.confirmPassword == '' " 
				        ng-if="!global_passwordSuccess" class="btn-update">Update</button>
				        <button ng-if="global_passwordSuccess" data-dismiss="modal" class="btn-edit-cancel btn-close">Close</button>
				      </div>
			      </form>
			    </div>
			  </div>
			</div>

			<div class="modal fade new-account-modal" id="send_immediately_modal" tabindex="-1" role= "dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document" style="width: 580px;margin-top: 200px;">
			    <div class="modal-content">
			    	<form>
				      <div class="modal-header">
				        <h5>Are you sure you want to send Activation Email Immediately?</h5>
				      </div>
				      <div class="modal-body">
				      	<button data-dismiss="modal" class="btn-cancel">Cancel</button>
				        <button ng-click="_confirmActivationEmail_()" class="btn-confirm">Confirm</button>
				      </div>
			      </form>
			    </div>
			  </div>
			</div>

			<div class="modal fade" id="viewMemberModal" tabindex="-1" role= "dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document" style="width: 700px;max-height: 100vh;">
			    <div class="modal-content">
						
						<div class="view-member-container">
							<div class="view-member-header">
								<div class="enrol-member-text">Enrolled Members</div>
								<p class="enrol-sub-text">
									A full list of enrolled employees & dependents whose Start Date on <span ng-bind="formatMomentDate(selectedEnrollHistoryList.plan_start, 'YYYY-MM-DD', 'DD/MM/YYYY')">20/02/2020</span>	
								</p>
							</div>

							<div class="div-table">
								<div class="div-tbl-header">
									<div class="tbl-row">
										<div class="tbl-col">Full Name</div>
										<div class="tbl-col tbl-search-wrapper">
											<div class="input-div">
												<div class="icon-div">
													<img src="../assets/hr-dashboard/img/search.png" alt="">
												</div>
												<input type="text" placeholder="Search for a member" ng-model="memberSearch" ng-model-options="{ debounce: 1000 }" ng-change="_getEnrolledMemberList_(selectedEnrollHistoryList, memberSearch)">
											</div>
										</div>
									</div>
								</div>
								<div class="tbl-scroll-wrapper">

									<div class="div-tbl-body">
										
										<div ng-repeat="list in viewMemberList" class="emp-dep-row-wrapper">
											<div class="tbl-row tbl-employee-wrapper" ng-click="showDependentList(list)">
												<div class="tbl-col">
													<div class="icon-div">
														<img ng-if="list.dependents.length > 0" class="down" ng-class="{'up' : list.showDependents}" src="../assets/hr-dashboard/img/down-arrow.svg">
													</div>
													<span ng-bind="list.member.Name"></span>
												</div>
											</div>
											<div ng-if="list.showDependents" >
												<div ng-repeat="dep in list.dependents" class="tbl-row tbl-dependent-wrapper">
													<div class="tbl-col">
														<span ng-bind="dep.Name"></span>
													</div>
												</div>
											</div>
										</div>

									</div>

								</div>
							</div>

							<div class="tbl-pagination-wrapper">
								<div class="custom-pagination-container flex-1">
									<div class="custom-pagination">
										<div class="page-wrapper">
											<div class="page-scroll-container">
												<span ng-click="_viewMembersPrevPage_()" ng-disabled="mem_active_page == 1" class="prev-next-container">  
													<i class="fa fa-angle-left"></i> 
													<span>Prev</span>
												</span>
												<div class="pages-list">
														
													<!-- global_memberOpenedPagination.last_page -->
													<span ng-repeat="list in range( viewMemberModalPagination.last_page ) | limitTo:viewMemberModalpagesToDisplay:startViewMembersModalIndex() track by $index" ng-bind="list + 1" class="page-num" ng-click="_viewMembersSetPage_(list + 1)" ng-class="{'active' : list + 1 == mem_active_page}">1</span>
													<!-- global_memberOpenedPagination.last_page -->
													<span style="flex: initial;" ng-if="viewMemberModalPagination.last_page > 10 && mem_active_page < ( viewMemberModalPagination.last_page - 5 )" ng-click="_viewMembersSetPage_(viewMemberModalPagination.last_page)" >.. {{ viewMemberModalPagination.last_page }}</span>
													
												</div>
												<span ng-click="_viewMembersNextPage_()" class="prev-next-container">  
													<span>Next</span>
													<i class="fa fa-angle-right"></i> 
												</span>
											</div>
										</div>
										<div ng-click="_toggleViewMemberPopUp()" class="custom-list-per-page">
											<span><span ng-bind="mem_per_page">10</span> per page</span>
											<span>  
												<i class="fa fa-caret-down"></i>
											</span>
											<div ng-if="isViewMemberPerPageShow" class="view-member-per-page-scroll">
												<span ng-click="_setViewMembersPageLimit_( 10 )">10 per page</span>
												<span ng-click="_setViewMembersPageLimit_( 25 )">20 per page</span>
												<span ng-click="_setViewMembersPageLimit_( 50 )">50 per page</span>
												<span ng-click="_setViewMembersPageLimit_( 100 )">100 per page</span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="btn-container">
								<button class="close-btn" ng-click="closeViewMemberModal()">Close</button>
							</div>
						</div>

			    </div>
			  </div>
			</div>

			<div class="modal fade new-account-modal" id="edit_scheduled_modal" tabindex="-1" role= "dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document" style="margin-top: 200px;">
			    <div class="modal-content">
			    	<form>
				      <div class="modal-header">
				        <h4>Edit Schedule Date</h4>
				      </div>
				      <div class="modal-body">
				      	<form>
					      	<div ng-if="!global_passwordSuccess">
						        <div class="company-account-input-wrapper">
						        	<label>Scheduled Date</label>
						        	<div class="custom-input-wrapper disabled">
						        		<input class="schedule-date disabled" type="text" ng-model="scheduleData.schedule_date">
						        	</div>
						        </div>
						        <div class="company-account-input-wrapper">
						        	<label>New Scheduled Date</label>
						        	<div class="custom-input-wrapper">
						        		<input id="new-scheduled-date" class="datepicker" type="text" ng-model="newScheduleDate" ng-change="_changeDate_( newScheduleDate )" placeholder="DD/MM/YYYY">
						        		<img src="../assets/images/calendar-gray.png">
						        	</div>
						        </div>
					        </div>
					      </form>
				      </div>
				      <div class="modal-footer">
				        <button data-dismiss="modal" class="btn-edit-cancel">Cancel</button>
				        <button ng-click="setScheduleDate(  )" class="btn-update">Update</button>
				      </div>
			      </form>
			    </div>
			  </div>
			</div>
		</div>

		<div class="col-lg-8">
			<div class="loader-container">
				<div class="preloader-wrapper big active">
				    <div class="spinner-layer spinner-blue-only">
				      <div class="circle-clipper left">
				        <div class="circle"></div>
				      </div><div class="gap-patch">
				        <div class="circle"></div>
				      </div><div class="circle-clipper right">
				        <div class="circle"></div>
				      </div>
				    </div>
				  </div>
			</div>
		</div>
	</div>

	<div style="padding-top: 70px;border-radius: 0;" class="modal fade" id="active-plan-details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="">
      <div class="modal-content" style="border-radius: 0;">
          <div class="modal-header" style="background-color: #33a2d4;padding: 20px;">
            <h4 class="modal-title pull-left weight-700" id="exampleModalLabel" style="color: #fff;">Active Plan Details</h4>
          </div>
          <div class="modal-body" style="padding:0;overflow: hidden;">
            <div class="col-md-12 header">
            	<p>Transactions</p>
            </div>
            <div class="col-md-12 body">
            	<div class="col-md-6 no-padding">
            		<p>Plan Account Type: 
            			<span ng-if="selected_active_plan_details.active_plan.account_type == 'stand_alone_plan'">Standalone Plan</span>
            			<span ng-if="selected_active_plan_details.active_plan.account_type == 'insurance_bundle'">Insurance Bundle</span>
            			<span ng-if="selected_active_plan_details.active_plan.account_type == 'lite_plan'">Basic Plan</span>
            			<span ng-if="selected_active_plan_details.active_plan.account_type == 'trial_plan'">Trial Plan</span>
            		</p>
            		<p>Invoice: <span ng-bind="selected_active_plan_details.invoice.invoice_number">0MCCC0037</span></p>
            		<p>Plan Duration: <span ng-bind="selected_active_plan_details.active_plan.duration">4 Months</span></p>
            		<p>Employees: <span ng-bind="selected_active_plan_details.active_plan.employees">10</span></p>
            		<p>Plan Amount:<span class="currency-type" ng-bind="local_currency_type">SGD/MYR</span> <span ng-bind="selected_active_plan_details.active_plan.plan_amount">398.71</span></p>
            		<p>Payment Status: 
            			<span ng-if="selected_active_plan_details.active_plan.paid == 'true'">PAID</span>
            			<span ng-if="selected_active_plan_details.active_plan.paid == 'false'">PENDING</span>
            		</p>
            		<p>Plan Duration: <span ng-bind="selected_active_plan_details.active_plan.duration">4 Months</span></p>
            		<p>Employees: <span ng-bind="selected_active_plan_details.active_plan.employees">10</span></p>
            		<p>Plan Amount:<span class="currency-type" ng-bind="local_currency_type">SGD/MYR</span> <span ng-bind="selected_active_plan_details.active_plan.plan_amount">398.71</span></p>
            		<p>Payment Status: 
            			<span ng-if="selected_active_plan_details.active_plan.paid == 'true'">PAID</span>
            			<span ng-if="selected_active_plan_details.active_plan.paid == 'false'">PENDING</span>
            		</p>
            	</div>
            	<div class="col-md-6 text-center no-padding">
            		<button class="btn btn-default btn-trans-dl-invoice" ng-click="activePlanDownloadInvoice()">DOWNLOAD INVOICE</button>
            		<button class="btn btn-default btn-trans-pending-enroll" ng-click="goToEmpOverview()" data-dismiss="modal"><span ng-bind="selected_active_plan_details.active_plan.pending_enrollment">0</span> PENDING ENROLLMENT</button>
            		<button class="btn btn-default btn-trans-dl-receipt" ng-click="activePlanDownloadReceipt()" ng-if="selected_active_plan_details.active_plan.paid == 'true'">DOWNLOAD RECEIPT</button>
            	</div>
            </div>
            <div class="col-md-12 header" ng-if="selected_active_plan_details.dependents.length > 0">
            	<p>Dependent Plans</p>
            </div>
           <div class="col-md-12 body" ng-repeat="list in selected_active_plan_details.dependents">
	        	<div class="col-md-6 no-padding">
	            	<p>Dependent Plan Account Type: 
	        			<span ng-if="list.account_type == 'stand_alone_plan'">Standalone Plan</span>
	        			<span ng-if="list.account_type == 'insurance_bundle'">Insurance Bundle</span>
	        			<span ng-if="list.account_type == 'lite_plan'">Basic Plan</span>
	        			<span ng-if="list.account_type == 'trial_plan'">Trial Plan</span>
	        		</p>
	        		<p>Active Plan Type: 
	        			<span ng-if="list.type == 'active_plan'">Active Plan</span>
	        			<span ng-if="list.type == 'extension_plan'">Plan Extension</span>
	        		</p>
	        		<p>Plan Duration: <span ng-bind="list.duration">4 Months</span></p>
	        		<p>Total Seats: <span ng-bind="list.total_dependents">10</span></p>
	        		<p>Occupied Seats: <span ng-bind="list.occupied">10</span></p>
	        		<p>Vacant Seats: <span ng-bind="list.vacant">10</span></p>
	        		<p>Plan Amount: <span class="currency-type" ng-bind="local_currency_type">SGD/MYR</span> <span ng-bind="list.total_amount">398.71</span></p>
	        		<p>Payment Status: 
	        			<span ng-if="list.payment_status == true">PAID</span>
	        			<span ng-if="list.payment_status == false">PENDING</span>
	        		</p>
	        	</div>
	      		<div class="col-md-6 text-center no-padding">
	        		<button class="btn btn-default btn-trans-dl-invoice" ng-click="dependentPlanDownloadInvoice(list)">DOWNLOAD INVOICE</button>
	        		<button class="btn btn-default btn-trans-pending-enroll" ng-click="goToEmpOverview()" data-dismiss="modal"><span ng-bind="list.vacant">0</span> PENDING ENROLLMENT</button>
	        	</div>
           </div>
        	<div ng-if="selected_active_plan_details.extension" class="col-md-12 header">
            	<p>Plan Extension</p>
            </div>
            <div class="col-md-12 body" ng-if="selected_active_plan_details.extension">
            	<p>Account Type: 
        			<span ng-if="selected_active_plan_details.extension.account_type == 'stand_alone_plan'">Standalone Plan</span>
        			<span ng-if="selected_active_plan_details.extension.account_type == 'insurance_bundle'">Insurance Bundle</span>
        			<span ng-if="selected_active_plan_details.extension.account_type == 'lite_plan'">Basic Plan</span>
        			<span ng-if="selected_active_plan_details.extension.account_type == 'trial_plan'">Trial Plan</span>
        		</p>
        		<p>Invoice: <span ng-bind="selected_active_plan_details.extension.invoice.invoice_number">0MCCC0037</span></p>
        		<p>Plan Duration: <span ng-bind="selected_active_plan_details.extension.duration">4 Months</span></p>
        		<p>Employees: <span ng-bind="selected_active_plan_details.extension.employees">10</span></p>
        		<p>Plan Amount: <span class="currency-type" ng-bind="local_currency_type">SGD/MYR</span> <span ng-bind="selected_active_plan_details.extension.plan_amount">398.71</span></p>
        		<p>Payment Status: 
        			<span ng-if="selected_active_plan_details.extension.paid == 1">PAID</span>
        			<span ng-if="selected_active_plan_details.extension.paid == 0">PENDING</span>
        		</p>
            </div>
            <div ng-if="selected_active_plan_details.deposits.length > 0" class="col-md-12 header">
            	<p>Spending Account</p>
            </div>
            <div ng-if="selected_active_plan_details.deposits.length > 0" ng-repeat="list in selected_active_plan_details.deposits" class="col-md-12 body">
            	<div class="col-md-6 no-padding">
            		<p>Invoice: <span> <span ng-bind="list.deposit_number">DEP000085</span></p>
            		<p>Total Credits: <span class="currency-type" ng-bind="local_currency_type">SGD/MYR</span> <span ng-bind="list.total_credits">12,500.00</span></p>
            		<p>(<span ng-bind="list.total_all_credits_text"></span>)</p>
            		<p>Deposit: <span class="currency-type" ng-bind="local_currency_type">SGD/MYR</span> <span ng-bind="list.total_deposit">1,250.00</span></p>
            		<p>Payment Status: <span ng-if="list.payment_status == 0">PENDING</span> <span ng-if="list.payment_status == 1">PENDING</span></span></p>
            	</div>
            	<div class="col-md-6 text-center no-padding">
            		<button class="btn btn-default btn-spend-dl-invoice" ng-click="downloadSpendingDeposit(list.deposit_id)">DOWNLOAD INVOICE</button>
            	</div>
            </div>
          </div>
          <div class="modal-footer" style="border-top: 2px solid #e5e5e5;padding: 20px">
            <button class="pull-right active-plan-close-btn" data-dismiss="modal">CLOSE</button>
          </div>
      </div>
    </div>
	</div>

</div>
</div>

<script type="text/javascript">
	$("body").click(function(e){
    if ($(e.target).parents(".custom-list-per-page").length === 0) {
      $(".invoice-per-page-container").hide();
    }
    if ($(e.target).parents(".custom-list-per-page").length === 0) {
      $(".enrollment-per-page-container").hide();
    }
  });
</script>