<div class="bulk-credit-allocation-container" bulk-credit-allocation-directive>
	<div class="hrdb-body-container">

		<!-- <div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center"> Bulk Credit Allocation</h1>
				</div>
			</div>
		</div> -->

		
		<div ng-if="spending_account_status.account_type == 'lite_plan' && (spending_account_status.medical_enabled == true) && (spending_account_status.wellness_enabled == true)" class="bulk-credit-tab-container">
			<div class="tab-box" ng-class="{'active' : spendingTypeTabSelected == 'medical'}" ng-click="selectSpendingTab('medical')">
				Medical Wallet
			</div>
			<div class="tab-box" ng-class="{'active' : spendingTypeTabSelected == 'wellness'}" ng-click="selectSpendingTab('wellness')">
				Wellness Wallet
			</div>
		</div>
	
		<section>
			<div ng-if="spending_account_status.account_type != 'lite_plan' && spending_account_status.account_type != 'enterprise_plan' && spending_account_status.account_type != 'out_of_pocket'" class="gp-cap-per-wrapper bulk-cred-wrapper">
			
        <div class="bulk-cred-per-visit-wrapper">
					<div class="row" style="margin-bottom: 8px;margin-left: -15px;margin-right: -15px;">
						<div class="col-md-12" >
							<div class="bulk-cred-options text-right">
								<div>
									<span class="actions" ng-click="downloadFile()"><img src="../../assets/hr-dashboard/img/bulk-cred-alloc/download.png" alt="download"></span>	
									<span class="actions" ng-click="fileUploadModal()"><img src="../../assets/hr-dashboard/img/bulk-cred-alloc/upload.png" alt="upload"></span>	
									<button class="actions btn-update" ng-click="updateBulkAllocation()" ng-disabled="toUpdateAllocation.length <= 0" ng-class="{'btn-disabled':toUpdateAllocation.length <= 0}">Update</button>
								</div>
								<div style="margin-bottom: 20px;"></div>
							</div>
						</div>
          </div>  

					<div class="row" style="margin-left: -15px;margin-right: -15px;">
						<div class="col-md-12">
							<div class="bulk-cred-table-wrapper">
								<div class="bulk-cred-table-info-wrapper" >
									<div class="bulk-cred-table-info-container no-max-width">
										<table class="width-auto">
											<thead>
												<tr>
													<th rowspan="2" style="width: 150px;">Member ID</th>
													<th rowspan="2" style="width: 305px;">Name</th>
													<th colspan="3" style="text-align: center; width: 666px;">Medical</th>
													<th colspan="3" style="text-align: center; width: 666px;">Wellness</th>
												</tr>
												<tr>
													<th style="width: 227px;">Current Allocation</th>
													<th style="width: 223px;">New Allocation</th>
													<th style="width: 215px;">Effective Date of<br>New Allocation</th>

													<th style="width: 227px;">Current Allocation</th>
													<th style="width: 223px;">New Allocation</th>
													<th style="width: 215px;">Effective Date of<br>New Allocation</th>
												</tr>
												<!-- <tr>
													<th style="width: 227px;">Current Allocation</th>
													<th style="width: 223px;">New Allocation</th>
													<th style="width: 215px;">Effective Date of<br>New Allocation</th>

													<th style="width: 227px;">Current Allocation</th>
													<th style="width: 223px;">New Allocation</th>
													<th style="width: 215px;">Effective Date of<br>New Allocation</th>
												</tr> -->
											</thead>
											<tbody>
												<tr ng-repeat="list in employees">
													<td class="grayed-out">{{list.member_id}}</td>
													<td class="grayed-out">{{list.fullname}}</td>

													<td class="grayed-out" >
														<span style="text-transform: uppercase">{{totalAllocation.currency_type}}</span> 
														<span>{{list.medical_allocation.current_allocation | number: 2}}</span>
													</td>
													<td>
														<input class="bulk-cred-input new-allocation form-control" type="number" name="amount" placeholder="0.00" ng-model="list.medical_allocation.new_allocation" ng-change="pushToUpdateAllocation(list.member_id, list.medical_allocation.new_allocation, list.medical_allocation.effective_date, 'medical')" ng-model-options="{debounce: 1000}" autocomplete="off">
													</td>
													<td>
														<input class="bulk-cred-input datepicker form-control" type="text" placeholder="DD/MM/YYYY" ng-model="list.medical_allocation.effective_date" ng-change="pushToUpdateAllocation(list.member_id, list.medical_allocation.new_allocation, list.medical_allocation.effective_date, 'medical')" ng-model-options="{debounce: 1000}" autocomplete="off">
													</td>
													<td class="grayed-out" >
														<span style="text-transform: uppercase">{{totalAllocation.currency_type}}</span> 
														<span>{{list.wellness_allocation.current_allocation | number: 2}}</span>
													</td>
													<td>
														<input class="bulk-cred-input new-allocation form-control" type="number" name="amount" placeholder="0.00" ng-model="list.wellness_allocation.new_allocation" ng-change="pushToUpdateAllocation(list.member_id, list.wellness_allocation.new_allocation, list.wellness_allocation.effective_date, 'wellness')" ng-model-options="{debounce: 1000}" autocomplete="off">
													</td>
													<td>
														<input class="bulk-cred-input datepicker form-control" type="text" placeholder="DD/MM/YYYY" ng-model="list.wellness_allocation.effective_date" ng-change="pushToUpdateAllocation(list.member_id, list.wellness_allocation.new_allocation, list.wellness_allocation.effective_date, 'wellness')" ng-model-options="{debounce: 1000}" autocomplete="off">
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="bulk-cred-footer">
									<div class="bulk-cred-footer-left health-pagination">
											<div class="page-wrapper">
												<div class="page-scroll-container page-opened">
													<span>  
														<i class="fa fa-angle-left" style="font-size: 14px;"></i> 
														<span class="prev-page-gp-cap" ng-click="prevPageBulkCred()">Prev</span>
													</span>
													<div>
														<span ng-repeat="list in range( employees_pagi.last_page )" ng-bind="$index + 1" ng-click="goToBulkCred(list + 1)" class="health-page-num" ng-class="{'active' : list + 1 == page_active}">1</span>

														<!-- <span ng-repeat="list in employees_pagi.last_page" ng-bind="$index + 1" ng-click="goToBulkCred(list + 1)" class="health-page-num" ng-class="{'active' : list + 1 == page_active}">1</span> -->
													</div>
													<span>  
														<span ng-click="nextPageBulkCred()">Next</span>
														<i class="fa fa-angle-right" style="font-size: 14px;"></i> 
													</span>
												</div>
											</div>
											<div class="rows-page-wrapper">
												<span><span ng-bind="page_ctr"></span> per page</span>
												<span>  
													<i ng-click="page_scroll = true" class="fa fa-caret-down"></i>
												</span>
												<div class="opened-per-page-scroll page-scroll" ng-if="page_scroll">
													<span ng-click="changeBulkCred(10)">10</span>
													<span ng-click="changeBulkCred(20)">20</span>
													<span ng-click="changeBulkCred(30)">30</span>
													<span ng-click="changeBulkCred(40)">40</span>
													<span ng-click="changeBulkCred(50)">50</span>
													<span ng-click="changeBulkCred(100)">100</span>
												</div>
											</div>
									</div>
									<div class="bulk-cred-footer-right">
										<div class="total-number-container">
											<span style="margin-right: 10px;">Company Medical Allocation</span>
											<div style="width: 120px;" class="total-number-box grayed-out">
												<span class="items" ng-bind="bulk_credit_values.total_company_medical_allocation | number: 2"></span>
											</div>
										</div>

										<div class="total-number-container">
											<span style="margin-right: 10px;">Company Wellness Allocation</span>
											<div style="width: 120px;" class="total-number-box grayed-out">
												<span class="items" ng-bind="bulk_credit_values.total_company_wellness_allocation | number: 2"></span>
											</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
         
        </div>
			</div>
			

			<div ng-if="spending_account_status.account_type == 'lite_plan'" class="gp-cap-per-wrapper bulk-cred-wrapper">
			
        <div class="bulk-cred-per-visit-wrapper">
					<div class="row" style="margin-bottom: 8px;margin-left: -15px;margin-right: -15px;">
						<!-- ng-if="(spendingTypeTabSelected == 'medical' && spending_account_status.medical_method == 'pre_paid') || (spendingTypeTabSelected == 'wellness' && spending_account_status.wellness_method == 'pre_paid')" -->
						<div class="col-md-8 spending-account-header-values">
							<p>
								<span class="bold-font">{{ spendingTypeTabSelected == 'medical' ? 'Medical' : 'Wellness' }} Spending Wallet</span>	
							</p>
							<p>
								<span class="duration-value" ng-bind="bulk_credit_values.term_duration + ' month term'"></span>
								<span ng-bind="formatDate(bulk_credit_values.term_start, null, 'DD/MM/YYYY') + ' - ' + formatDate(bulk_credit_values.term_end, null, 'DD/MM/YYYY')"></span>
							</p>
						</div>
						<!-- ng-class="{'col-md-4' : (spendingTypeTabSelected == 'medical' && spending_account_status.medical_method == 'pre_paid') || (spendingTypeTabSelected == 'wellness' && spending_account_status.wellness_method == 'pre_paid')}" -->
						<div class="col-md-4" >
							<div class="bulk-cred-options text-right">
								<div>
									<span class="actions" ng-click="downloadFile()"><img src="../../assets/hr-dashboard/img/bulk-cred-alloc/download.png" alt="download"></span>	
									<span class="actions" ng-click="fileUploadModal()"><img src="../../assets/hr-dashboard/img/bulk-cred-alloc/upload.png" alt="upload"></span>	
									<button class="actions btn-update" ng-click="updateBulkAllocation()" ng-disabled="toUpdateAllocation.length <= 0" ng-class="{'btn-disabled':toUpdateAllocation.length <= 0}">Update</button>
									<div ng-if="(spendingTypeTabSelected == 'medical' && spending_account_status.medical_method == 'post_paid') || (spendingTypeTabSelected == 'wellness' && spending_account_status.wellness_method == 'post_paid')" style="margin-bottom: 20px;"></div>
								</div>
							</div>
						</div>
          </div>  

					<div class="row" style="margin-left: -15px;margin-right: -15px;">
						<div style="display: none;" ng-if="(spendingTypeTabSelected == 'medical' && spending_account_status.medical_method == 'pre_paid') || (spendingTypeTabSelected == 'wellness' && spending_account_status.wellness_method == 'pre_paid')" class="col-md-3">
							<div class="credit-values-box-container">
								
								<div class="total-credits">
									<div class="p-label" ng-class="{'p-gray' : !spending_account_status.paid_status}">	
										<span class="p-label-value">Total Credits :</span>
										<span class="p-tooltip">
											<img ng-click="toggleTooltipDropdown('total_credits')" src="../../assets/hr-dashboard/img/info-tooltip.png">

											<div ng-if="isTotalCreditsShow" class="dropdown-tooltip-container">
												<p class="tooltip-title">
													Total Credits
												</p>
												<p>
													The amount of credits is given to your company’s wallet.<br>(The sum of Purchased Credits and Bonus Credits)
												</p>
												<div class="btn-container">
													<button ng-click="toggleTooltipDropdown('total_credits')">Got it</button>
												</div>
											</div>
										</span>
									</div>
									<p class="p-value p-bold" ng-class="{'p-gray' : !spending_account_status.paid_status}">
										<span ng-bind="bulk_credit_values.currency_type">SGD</span>
										<span ng-bind="bulk_credit_values.total_credits | number: 2"></span>
									</p>
									<p ng-if="!spending_account_status.paid_status" class="p-note">*Amount is blocked due to Pending Payment</p>
									<div class="white-space-20"></div>

									<div class="p-label">	
										<span class="p-label-value f-14">Purchased Credits :</span>
										<span class="p-tooltip">
											<img ng-click="toggleTooltipDropdown('purchased_credits')" src="../../assets/hr-dashboard/img/info-tooltip.png">

											<div ng-if="isPurchasedCreditsShow" class="dropdown-tooltip-container">
												<p class="tooltip-title">
													Purchased Credits
												</p>
												<p>
													The amount of credits that your company agreed to purchase.
												</p>
												<div class="btn-container">
													<button ng-click="toggleTooltipDropdown('purchased_credits')">Got it</button>
												</div>
											</div>
										</span>
									</div>
									<p class="p-value p-bold f-14">
										<span ng-bind="bulk_credit_values.currency_type">SGD</span>
										<span ng-bind="bulk_credit_values.total_purchase_credits | number: 2"></span>
									</p>
									<div class="white-space-20"></div>

									<div class="p-label">	
										<span class="p-label-value f-14">Bonus Credits :</span>
										<span class="p-tooltip">
											<img ng-click="toggleTooltipDropdown('bonus_credits')" src="../../assets/hr-dashboard/img/info-tooltip.png">

											<div ng-if="isBonusCreditsShow" class="dropdown-tooltip-container">
												<p class="tooltip-title">
													Bonus Credits
												</p>
												<p>
													Free-of-charge credits from Mednefits as an addition to your Purchased Credits.
												</p>
												<div class="btn-container">
													<button ng-click="toggleTooltipDropdown('bonus_credits')">Got it</button>
												</div>
											</div>
										</span>
									</div>
									<p class="p-value p-bold f-14">
										<span ng-bind="bulk_credit_values.currency_type">SGD</span>
										<span ng-bind="bulk_credit_values.total_bonus_credits | number: 2"></span>
									</p>
								</div>

								<div class="total-allocation-credits">
									<div class="p-label">	
										<span class="p-label-value">Total Allocated Credits :</span>
										<span class="p-tooltip">
											<img ng-click="toggleTooltipDropdown('total_allocated_credits')" src="../../assets/hr-dashboard/img/info-tooltip.png">

											<div ng-if="isTotalAllocatedCreditsShow" class="dropdown-tooltip-container">
												<p class="tooltip-title">
													Total Allocated Credits
												</p>
												<p>
													The amount of Total Credits that have already been distributed/allocated to members.
												</p>
												<div class="btn-container">
													<button ng-click="toggleTooltipDropdown('total_allocated_credits')">Got it</button>
												</div>
											</div>
										</span>
									</div>
									<p class="p-value p-bold">
										<span ng-bind="bulk_credit_values.currency_type">SGD</span>
										<span ng-bind="bulk_credit_values.total_allocated_credits | number: 2"></span>
									</p>
									<div class="white-space-20"></div>

									<div class="p-label" ng-class="{'p-gray' : !spending_account_status.paid_status}">	
										<span class="p-label-value">Available Credits :</span>
										<span class="p-tooltip">
											<img ng-click="toggleTooltipDropdown('available_credits')" src="../../assets/hr-dashboard/img/info-tooltip.png">

											<div ng-if="isAvailableCreditsShow" class="dropdown-tooltip-container">
												<p class="tooltip-title">
													Available Credits
												</p>
												<p>
													The amount of undistributed/unallocated Total Credits.<br>(Total Credits minus Total Allocated Credits)
												</p>
												<div class="btn-container">
													<button ng-click="toggleTooltipDropdown('available_credits')">Got it</button>
												</div>
											</div>
										</span>
									</div>
									<p class="p-value p-bold" ng-class="{'p-gray' : !spending_account_status.paid_status}">
										<span ng-bind="bulk_credit_values.currency_type">SGD</span>
										<span ng-bind="bulk_credit_values.total_credits - bulk_credit_values.total_allocated_credits | number: 2"></span>
									</p>
									<p ng-if="!spending_account_status.paid_status" class="p-note">*Amount is blocked due to Pending Payment</p>
								</div>

							</div>
						</div>
						<div class="col-md-12 ifPrepaid" ng-class="{'col-md-9' : (spendingTypeTabSelected == 'medical' && spending_account_status.medical_method == 'pre_paid') || (spendingTypeTabSelected == 'wellness' && spending_account_status.wellness_method == 'pre_paid')}">
							<div class="bulk-cred-table-wrapper">
								<div class="bulk-cred-table-info-wrapper" >
									<div class="bulk-cred-table-info-container" ng-class="{'no-max-width' : (spendingTypeTabSelected == 'medical' && spending_account_status.medical_method != 'pre_paid') || (spendingTypeTabSelected == 'wellness' && spending_account_status.wellness_method != 'pre_paid')}">
										<table ng-class="{'width-100' : (spendingTypeTabSelected == 'medical' && spending_account_status.medical_method != 'pre_paid') || (spendingTypeTabSelected == 'wellness' && spending_account_status.wellness_method != 'pre_paid')}">
											<thead>
												<tr>
													<th rowspan="2" style="width: 150px;">Member ID</th>
													<th rowspan="2" style="width: 305px;">Name</th>
													<th colspan="3" style="text-align: center; width: 666px;">{{ spendingTypeTabSelected == 'medical' ? 'Medical' : 'Wellness' }}</th>
												</tr>
												<tr>
													<th style="width: 227px;">Current Allocation</th>
													<th style="width: 223px;">New Allocation</th>
													<th style="width: 215px;">Effective Date of<br>New Allocation</th>

													<!-- <th style="width: 227px;">Current {{ (spendingTypeTabSelected == 'medical' && spending_account_status.medical_method == 'pre_paid') || (spendingTypeTabSelected == 'wellness' && spending_account_status.wellness_method == 'pre_paid') ? 'Allocated Credits': 'Allocation' }}</th>
													<th style="width: 223px;">New {{ (spendingTypeTabSelected == 'medical' && spending_account_status.medical_method == 'pre_paid') || (spendingTypeTabSelected == 'wellness' && spending_account_status.wellness_method == 'pre_paid') ? 'Allocated Credits': 'Allocation' }}</th>
													<th style="width: 215px;">Effective Date of<br>New {{ (spendingTypeTabSelected == 'medical' && spending_account_status.medical_method == 'pre_paid') || (spendingTypeTabSelected == 'wellness' && spending_account_status.wellness_method == 'pre_paid') ? 'Allocated Credits': 'Allocation' }}</th> -->
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="list in employees">
													<td class="grayed-out">{{list.member_id}}</td>
													<td class="grayed-out">{{list.fullname}}</td>
													<td class="grayed-out" >
														<span style="text-transform: uppercase">{{totalAllocation.currency_type}}</span> 
														<span>{{list.allocation.current_allocation | number: 2}}</span>
													</td>
													<td>
														<input class="bulk-cred-input new-allocation form-control" type="number" name="amount" placeholder="0.00" ng-model="list.allocation.new_allocation" ng-change="pushToUpdateAllocation(list.member_id, list.allocation.new_allocation, list.allocation.effective_date, spendingTypeTabSelected)" ng-model-options="{debounce: 1000}" autocomplete="off">
													</td>
													<td>
														<input class="bulk-cred-input datepicker form-control" type="text" placeholder="DD/MM/YYYY" ng-model="list.allocation.effective_date" ng-change="pushToUpdateAllocation(list.member_id, list.allocation.new_allocation, list.allocation.effective_date, spendingTypeTabSelected)" ng-model-options="{debounce: 1000}" autocomplete="off">
													</td>

												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="bulk-cred-footer">
									<div class="bulk-cred-footer-left health-pagination">
											<div class="page-wrapper">
												<div class="page-scroll-container page-opened">
													<span>  
														<i class="fa fa-angle-left" style="font-size: 14px;"></i> 
														<span class="prev-page-gp-cap" ng-click="prevPageBulkCred()">Prev</span>
													</span>
													<div>
														<span ng-repeat="list in range( employees_pagi.last_page )" ng-bind="$index + 1" ng-click="goToBulkCred(list + 1)" class="health-page-num" ng-class="{'active' : list + 1 == page_active}">1</span>

														<!-- <span ng-repeat="list in employees_pagi.last_page" ng-bind="$index + 1" ng-click="goToBulkCred(list + 1)" class="health-page-num" ng-class="{'active' : list + 1 == page_active}">1</span> -->
													</div>
													<span>  
														<span ng-click="nextPageBulkCred()">Next</span>
														<i class="fa fa-angle-right" style="font-size: 14px;"></i> 
													</span>
												</div>
											</div>
											<div class="rows-page-wrapper">
												<span><span ng-bind="page_ctr"></span> per page</span>
												<span>  
													<i ng-click="page_scroll = true" class="fa fa-caret-down"></i>
												</span>
												<div class="opened-per-page-scroll page-scroll" ng-if="page_scroll">
													<span ng-click="changeBulkCred(10)">10</span>
													<span ng-click="changeBulkCred(20)">20</span>
													<span ng-click="changeBulkCred(30)">30</span>
													<span ng-click="changeBulkCred(40)">40</span>
													<span ng-click="changeBulkCred(50)">50</span>
													<span ng-click="changeBulkCred(100)">100</span>
												</div>
											</div>
									</div>
									<div class="bulk-cred-footer-right">
										<div class="total-number-container">
											<span style="margin-right: 10px;">
												Total {{ spendingTypeTabSelected == 'medical' ? 'Medical' : 'Wellness' }} Allocation
												<!-- Total {{ spendingTypeTabSelected == 'medical' ? 'Medical' : 'Wellness' }} {{ (spendingTypeTabSelected == 'medical' && spending_account_status.medical_method == 'pre_paid') || (spendingTypeTabSelected == 'wellness' && spending_account_status.wellness_method == 'pre_paid') ? 'Allocated Credits': 'Allocation' }} -->
												<br>
												<!-- <span ng-if="spendingTypeTabSelected == 'medical'">{{ (spending_account_status.medical_method == 'pre_paid') ? '(Pre-paid)' : '(Post-paid)' }}</span>
												<span ng-if="spendingTypeTabSelected == 'wellness'">{{ (spending_account_status.wellness_method == 'pre_paid') ? '(Pre-paid)' : '(Post-paid)' }}</span> -->
											</span>
											<div class="total-number-box grayed-out">
												<span class="items" ng-bind="bulk_credit_values.total_allocated_credits | number: 2"></span>
											</div>
											<div ng-if="(spendingTypeTabSelected == 'medical' && spending_account_status.medical_method == 'pre_paid') || (spendingTypeTabSelected == 'wellness' && spending_account_status.wellness_method == 'pre_paid')">/ <span class="p-gray" ng-bind="bulk_credit_values.total_credits | number: 2">20,000.00</span></div>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
         
        </div>
			</div>
			
			<div ng-if="spending_account_status.account_type == 'enterprise_plan'" class="gp-cap-per-wrapper bulk-cred-wrapper">
			
        <div class="bulk-cred-per-visit-wrapper">
					<div class="row" style="margin-bottom: 8px;margin-left: -15px;margin-right: -15px;">
						<div class="col-md-8 spending-account-header-values">
							<p>
								<span class="bold-font">Wellness Spending Wallet</span>	
							</p>
							<p>
								<span class="duration-value" ng-bind="bulk_credit_values.term_duration + ' month term'"></span>
								<span ng-bind="formatDate(bulk_credit_values.term_start, null, 'DD/MM/YYYY') + ' - ' + formatDate(bulk_credit_values.term_end, null, 'DD/MM/YYYY')"></span>
							</p>
						</div>
						<div class="col-md-4" >
							<div class="bulk-cred-options text-right">
								<div>
									<span class="actions" ng-click="downloadFile()"><img src="../../assets/hr-dashboard/img/bulk-cred-alloc/download.png" alt="download"></span>	
									<span class="actions" ng-click="fileUploadModal()"><img src="../../assets/hr-dashboard/img/bulk-cred-alloc/upload.png" alt="upload"></span>	
									<button class="actions btn-update" ng-click="updateBulkAllocation()" ng-disabled="toUpdateAllocation.length <= 0" ng-class="{'btn-disabled':toUpdateAllocation.length <= 0}">Update</button>
									<div style="margin-bottom: 20px;"></div>
								</div>
							</div>
						</div>
          </div>  

					<div class="row" style="margin-left: -15px;margin-right: -15px;">
						<div class="col-md-12">
							<div class="bulk-cred-table-wrapper">
								<div class="bulk-cred-table-info-wrapper" >
									<div class="bulk-cred-table-info-container no-max-width">
										<table class="width-100">
											<thead>
												<tr>
													<th rowspan="2" style="width: 150px;">Member ID</th>
													<th rowspan="2" style="width: 305px;">Name</th>
													<th colspan="3" style="text-align: center; width: 666px;">Wellness</th>
												</tr>
												<tr>
													<th style="width: 227px;">Current Allocation</th>
													<th style="width: 223px;">New Allocation</th>
													<th style="width: 215px;">Effective Date of<br>New Allocation</th>

													<!-- <th style="width: 227px;">Current Allocation</th>
													<th style="width: 223px;">New Allocation</th>
													<th style="width: 215px;">Effective Date of<br>New Allocation</th> -->
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="list in employees">
													<td class="grayed-out">{{list.member_id}}</td>
													<td class="grayed-out">{{list.fullname}}</td>
													<td class="grayed-out" >
														<span style="text-transform: uppercase">{{totalAllocation.currency_type}}</span> 
														<span>{{list.allocation.current_allocation | number: 2}}</span>
													</td>
													<td>
														<input class="bulk-cred-input new-allocation form-control" type="number" name="amount" placeholder="0.00" ng-model="list.allocation.new_allocation" ng-change="pushToUpdateAllocation(list.member_id, list.allocation.new_allocation, list.allocation.effective_date, spendingTypeTabSelected)" ng-model-options="{debounce: 1000}" autocomplete="off">
													</td>
													<td>
														<input class="bulk-cred-input datepicker form-control" type="text" placeholder="DD/MM/YYYY" ng-model="list.allocation.effective_date" ng-change="pushToUpdateAllocation(list.member_id, list.allocation.new_allocation, list.allocation.effective_date, spendingTypeTabSelected)" ng-model-options="{debounce: 1000}" autocomplete="off">
													</td>

												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="bulk-cred-footer">
									<div class="bulk-cred-footer-left health-pagination">
											<div class="page-wrapper">
												<div class="page-scroll-container page-opened">
													<span>  
														<i class="fa fa-angle-left" style="font-size: 14px;"></i> 
														<span class="prev-page-gp-cap" ng-click="prevPageBulkCred()">Prev</span>
													</span>
													<div>
														<span ng-repeat="list in range( employees_pagi.last_page )" ng-bind="$index + 1" ng-click="goToBulkCred(list + 1)" class="health-page-num" ng-class="{'active' : list + 1 == page_active}">1</span>
													</div>
													<span>  
														<span ng-click="nextPageBulkCred()">Next</span>
														<i class="fa fa-angle-right" style="font-size: 14px;"></i> 
													</span>
												</div>
											</div>
											<div class="rows-page-wrapper">
												<span><span ng-bind="page_ctr"></span> per page</span>
												<span>  
													<i ng-click="page_scroll = true" class="fa fa-caret-down"></i>
												</span>
												<div class="opened-per-page-scroll page-scroll" ng-if="page_scroll">
													<span ng-click="changeBulkCred(10)">10</span>
													<span ng-click="changeBulkCred(20)">20</span>
													<span ng-click="changeBulkCred(30)">30</span>
													<span ng-click="changeBulkCred(40)">40</span>
													<span ng-click="changeBulkCred(50)">50</span>
													<span ng-click="changeBulkCred(100)">100</span>
												</div>
											</div>
									</div>
									<div class="bulk-cred-footer-right">
										<div class="total-number-container">
											<span style="margin-right: 10px;">
												Company Wellness Allocation
												<!-- Company Wellness Allocation -->
											</span>
											<div class="total-number-box grayed-out">
												<span class="items" ng-bind="bulk_credit_values.total_allocated_credits | number: 2"></span>
											</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
         
        </div>
			</div>
			
			<div ng-if="spending_account_status.account_type == 'out_of_pocket'" class="gp-cap-per-wrapper bulk-cred-wrapper">
			
        <div class="bulk-cred-per-visit-wrapper">
					<div class="row" style="margin-bottom: 8px;margin-left: -15px;margin-right: -15px;">
						<div class="col-md-8 spending-account-header-values">
							<p>
								<span class="bold-font">Wellness Spending Wallet</span>	
							</p>
							<p>
								<span class="duration-value" ng-bind="bulk_credit_values.term_duration + ' month term'"></span>
								<span ng-bind="formatDate(bulk_credit_values.term_start, null, 'DD/MM/YYYY') + ' - ' + formatDate(bulk_credit_values.term_end, null, 'DD/MM/YYYY')"></span>
							</p>
						</div>
						<div class="col-md-4" >
							<div class="bulk-cred-options text-right">
								<div>
									<span class="actions" ng-click="downloadFile()"><img src="../../assets/hr-dashboard/img/bulk-cred-alloc/download.png" alt="download"></span>	
									<span class="actions" ng-click="fileUploadModal()"><img src="../../assets/hr-dashboard/img/bulk-cred-alloc/upload.png" alt="upload"></span>	
									<button class="actions btn-update" ng-click="updateBulkAllocation()" ng-disabled="toUpdateAllocation.length <= 0" ng-class="{'btn-disabled':toUpdateAllocation.length <= 0}">Update</button>
									<div style="margin-bottom: 20px;"></div>
								</div>
							</div>
						</div>
          </div>  

					<div class="row" style="margin-left: -15px;margin-right: -15px;">
						<div class="col-md-12">
							<div class="bulk-cred-table-wrapper">
								<div class="bulk-cred-table-info-wrapper" >
									<div class="bulk-cred-table-info-container no-max-width">
										<table class="width-100">
											<thead>
												<tr>
													<th rowspan="2" style="width: 150px;">Member ID</th>
													<th rowspan="2" style="width: 305px;">Name</th>
													<th colspan="3" style="text-align: center; width: 666px;">Wellness</th>
												</tr>
												<tr>
													<th style="width: 227px;">Current Allocation</th>
													<th style="width: 223px;">New Allocation</th>
													<th style="width: 215px;">Effective Date of<br>New Allocation</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="list in employees">
													<td class="grayed-out">{{list.member_id}}</td>
													<td class="grayed-out">{{list.fullname}}</td>
													<td class="grayed-out" >
														<span style="text-transform: uppercase">{{totalAllocation.currency_type}}</span> 
														<span>{{list.wellness.current_allocation | number: 2}}</span>
													</td>
													<td>
														<input class="bulk-cred-input new-allocation form-control" type="number" name="amount" placeholder="0.00" ng-model="list.wellness.new_allocation" ng-change="pushToUpdateAllocation(list.member_id, list.wellness.new_allocation, list.wellness.effective_date, spendingTypeTabSelected)" ng-model-options="{debounce: 1000}" autocomplete="off">
													</td>
													<td>
														<input class="bulk-cred-input datepicker form-control" type="text" placeholder="DD/MM/YYYY" ng-model="list.wellness.effective_date" ng-change="pushToUpdateAllocation(list.member_id, list.wellness.new_allocation, list.wellness.effective_date, spendingTypeTabSelected)" ng-model-options="{debounce: 1000}" autocomplete="off">
													</td>

												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="bulk-cred-footer">
									<div class="bulk-cred-footer-left health-pagination">
											<div class="page-wrapper">
												<div class="page-scroll-container page-opened">
													<span>  
														<i class="fa fa-angle-left" style="font-size: 14px;"></i> 
														<span class="prev-page-gp-cap" ng-click="prevPageBulkCred()">Prev</span>
													</span>
													<div>
														<span ng-repeat="list in range( employees_pagi.last_page )" ng-bind="$index + 1" ng-click="goToBulkCred(list + 1)" class="health-page-num" ng-class="{'active' : list + 1 == page_active}">1</span>
													</div>
													<span>  
														<span ng-click="nextPageBulkCred()">Next</span>
														<i class="fa fa-angle-right" style="font-size: 14px;"></i> 
													</span>
												</div>
											</div>
											<div class="rows-page-wrapper">
												<span><span ng-bind="page_ctr"></span> per page</span>
												<span>  
													<i ng-click="page_scroll = true" class="fa fa-caret-down"></i>
												</span>
												<div class="opened-per-page-scroll page-scroll" ng-if="page_scroll">
													<span ng-click="changeBulkCred(10)">10</span>
													<span ng-click="changeBulkCred(20)">20</span>
													<span ng-click="changeBulkCred(30)">30</span>
													<span ng-click="changeBulkCred(40)">40</span>
													<span ng-click="changeBulkCred(50)">50</span>
													<span ng-click="changeBulkCred(100)">100</span>
												</div>
											</div>
									</div>
									<div class="bulk-cred-footer-right">
										<div class="total-number-container">
											<span style="margin-right: 10px;">
												Company Wellness Allocation
												<!-- Company Wellness Allocation -->
											</span>
											<div class="total-number-box grayed-out">
												<span class="items" ng-bind="bulk_credit_values.total_allocated_credits | number: 2"></span>
											</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
         
        </div>
      </div>
		</section>
		
	</div>

	<div class="bulk-cred-modal-container" id="file-upload-bulk-cred" ng-if="showUploadModal">
		<div class="modal-dialog" style="width: 580px;">
			
			<div class="bulk-cred-modal" role="document">
				<div class="bulk-cred-modal-content">
					<form>
						<div class="bulk-cred-modal-header">
							<h4>File Uploader</h4>
							<i class="fa fa-times" aria-hidden="true" ng-click="fileUploadModal()"></i>
							
						</div>
						<div class="bulk-cred-modal-body">
							<div class="drop-box" ngf-drop="uploadGpCapChanged( bulkCreditFile )" ngf-select="uploadGpCapChanged( bulkCreditFile )" ng-model="bulkCreditFile"
									ngf-drag-over-class="'dragover'">
								<div>
									<div class="drop-file-upload" >
										<img style="width: 30px;" src="../../assets/hr-dashboard/img/bulk-cred-alloc/fileupload.png">
										<p>Drop a file to upload, or </p>
										<div class="file-btn" style="height: auto; padding: 10px 14px;"> 
											Browse
										</div>
										<!-- <input ngf-drop="uploadGpCapPerVisit()" class="choose-file" type="file"> -->
									</div>



									<div ng-if="bulkCreditFile.name">
										<div class="progress-wrapper">
											<span>
												<i class="fa fa-file-o"></i>
												<span ng-bind="bulkCreditFile.name">Employee list.csv</span>
											</span>
											<div class="progress-bar" ng-class="{ 'error' : bulkCreditFile.error }" style="width: {{ bulkCreditFile.uploading }}%;"></div>
										</div>
										<span ng-if="bulkCreditFile.error" ng-bind="bulkCreditFile.error_text" style="font-size: 11px;"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="bulk-cred-modal-footer">
							<button class="file-btn" ng-click="uploadFile( bulkCreditFile )">Upload</button>
						</div>
					</form>
				</div>
			</div>
			
		</div>
	</div>
</div>

<style type="text/css">
	.datepicker-dropdown {
	    z-index: 9999 !important;
	}

	.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{
		color: #ddd !important;
	}
</style>