<div company-contacts-directive>
<div class="hrdb-body-container">
	<div class="container">
		<h3 class="text-center" style="color: #5b5b5b;">Account & Billing</h3>
		<hr>
		<div class="col-lg-2 account-billing-link-list">
			<ul>
				<li class="active-link">
					<a href="">Company & Contacts</a>
				</li>
				<li>
					<a ui-sref="transactions">Transactions</a>
				</li>
				<li>
					<a ui-sref="document-center">Document Center</a>
				</li>
				<li>
					<a ui-sref="account-and-payment">Account & Payment</a>
				</li>
				<!-- <li>
					<a ui-sref="benefits-tier">Team Benefits Tier</a>
				</li> -->
			</ul>
		</div>
		<div class="col-lg-10 info-container" hidden>
			<h3 class="table-box-title" style="font-weight: bolder;margin-top: 0;">Business Information</h3>
			<table class="table table-bordered account-billing-table" >
				<tbody>
					<tr>
						<td colspan="2">
							<h4 style="font-weight: bold;">Company Name</h4>
							<span ng-bind="company_contacts.business_information.company_name">Mednefits Pte Ltd.</span>
						</td>
					</tr>
					<tr>
						<td style="border-right: 0;">
							<h4 style="font-weight: bold;">Company Address</h4>
							<h6 class="company-address-details" ng-bind="company_contacts.business_information.company_address">7 Temasek Boulevard</h6>
							<!-- <h6 class="company-address-details">#18-02 Suntec Tower One</h6>
							<h6 class="company-address-details">Singapore 038987</h6> -->
						</td>
						<td style="border-left: 0;" class="v-align">
							<button class="edit-button-in-table pull-right" data-toggle="modal" data-target="#account-billing-edit-business-info-modal" ng-click="openEditInfoModal(company_contacts.business_information)">Edit</button>
						</td>
					</tr>
				</tbody>
			</table>
			<h3 class="table-box-title" style="font-weight: bolder;">Business Contact</h3>
			<table class="table table-bordered business-contact">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email Address</th>
						<th colspan="2">Phone</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td ng-bind="company_contacts.business_contact.first_name">Filbert</td>
						<td ng-bind="company_contacts.business_contact.last_name">Tan</td>
						<td ng-bind="company_contacts.business_contact.work_email">filber@mednefits.com</td>
						<td ng-bind="company_contacts.business_contact.phone">6254 7889</td>
						<td>
							<button class="edit-button-in-table pull-right" data-toggle="modal" data-target="#account-billing-edit-business-contact-modal" ng-click="openEditContactModal(company_contacts.business_contact)">Edit</button>
						</td>
					</tr>
				</tbody>
			</table>
			<h3 class="table-box-title" style="font-weight: bolder;">Billing Contact & Address</h3>
			<table class="table table-bordered business-contact">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th colspan="2">Email Address</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td ng-bind="company_contacts.billing_contact.first_name">Filbert</td>
						<td ng-bind="company_contacts.billing_contact.last_name">Tan</td>
						<td ng-bind="company_contacts.billing_contact.work_email">filber@mednefits.com</td>
						<td class="v-align">
							<button class="edit-button-in-table pull-right" data-toggle="modal" data-target="#account-billing-edit-billing-contact-and-address-modal" ng-click="openEditBillingModal(company_contacts)">Edit</button>
						</td>
					</tr>
				</tbody>
				<thead>
					<tr>
						<th>Company Name</th>
						<th>Billing Address</th>
						<th colspan="2">Payment Method</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="v-align" ng-bind="company_contacts.business_information.company_name">Mednefits Pte Ltd.</td>
						<td >
							<span ng-bind="company_contacts.billing_contact.billing_address" style="max-width: 250px;display: inline-block;word-break: break-word;"></span>
							<!-- 7 Temasek Boulevard<br>
							#18-02<br>
							Suntec Tower One<br>
							Singapore 038987 -->
						</td>
						<td class="v-align" ng-if="company_contacts.payment_method.cheque == 'true'">Cheque</td>
						<td class="v-align" ng-if="company_contacts.payment_method.credit_card == 'true'">Credit Card</td>
						<td class="v-align">
							<button class="edit-button-in-table pull-right" data-toggle="modal" data-target="#account-billing-edit-billing-contact-and-address-modal-2" ng-click="openEditBillingAddressModal(company_contacts)">Edit</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-lg-8">
			<div class="loader-container">
				<div class="preloader-wrapper big active">
				    <div class="spinner-layer spinner-blue-only">
				      <div class="circle-clipper left">
				        <div class="circle"></div>
				      </div><div class="gap-patch">
				        <div class="circle"></div>
				      </div><div class="circle-clipper right">
				        <div class="circle"></div>
				      </div>
				    </div>
				  </div>
			</div>
		</div>
	</div> 
</div>
</div>