<div class="hrdb-body-container download-template" pay-credit>
	<div class="container">
		<div class="download-template-container">
			<h1 class="dl-template-title text-center" style="margin-bottom: 100px;">Credit Card Payment</h1>
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
				<div class="col-lg-12">
					<div class="form-group">
						<label class="payment-method-form-label">Name on Card</label>
						<input class="form-control payment-method-form-input" type="text" name="">
					</div>
					<div class="form-group">
						<label class="payment-method-form-label">Card Number</label>
						<input class="form-control payment-method-form-input" type="text" name="">
					</div>
				</div>
				<div class="col-lg-5">
					<div class="form-group">
						<label class="payment-method-form-label">Expiry Date</label>
						<input class="form-control payment-method-form-input" type="text" placeholder="mm/yyyy" name="">
					</div>
				</div>
				<div class="col-lg-2"></div>
				<div class="col-lg-5">
					<div class="form-group">
						<label class="payment-method-form-label">CVC</label>
						<input class="form-control payment-method-form-input" type="text" name="">
					</div>
				</div>
				<div class="col-lg-12">
					<button class="center-block" style="margin-top: 80px;padding: 20px 40px;color: #fff;background-color: #0392cf;border: 0;border-radius: 6px;font-size: 20px;">PAY S$148.50</button>
				</div>
			</div>
			<div class="col-lg-3"></div>
		</div>
	</div>
</div>