<div docs-data>
	<div class="hrdb-body-container">
		<div class="container">
			<h3 class="text-center" style="color: #5b5b5b;">Account & Billing</h3>
			<hr>
			<div class="col-lg-2 account-billing-link-list">
				<ul>
					<li>
						<a ui-sref="company-and-contacts">Company & Contacts</a>
					</li>
					<li>
						<a ui-sref="transactions">Transactions</a>
					</li>
					<li class="active-link">
						<a href="">Document Center</a>
					</li>
					<li>
						<a ui-sref="account-and-payment">Account & Payment</a>
					</li>
					<!-- <li>
					<a ui-sref="benefits-tier">Team Benefits Tier</a>
				</li> -->
				</ul>
			</div>
			<div class="col-lg-10">
				<!-- Document Center -->
				<h3 class="table-box-title" style="font-weight: bolder;margin-top: 0;">Document Center</h3>
				<table class="table table-bordered document-center-table">
					<thead>
						<tr>
							<th>Document</th>
							<!-- <th>Date Issue</th> -->
							<th colspan="2">Type</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="v-align">Terms & Conditions</td>
							<!-- <td class="v-align">07/06/2017</td> -->
							<td class="v-align">Web link</td>
							<td class="v-align">
								<a  href="https://www.mednefits.com/legal/providers-terms-of-service" target="_blank" class="edit-button-in-table pull-right">View</a>
							</td>
						</tr>
						<tr>
							<td class="v-align">Privacy Policy</td>
							<!-- <td class="v-align">07/06/2017</td> -->
							<td class="v-align">Web link</td>
							<td class="v-align">
								<a href="https://www.mednefits.com/legal/privacy-policy" target="_blank" class="edit-button-in-table pull-right">View</a>
							</td>
						</tr>
						<tr>
							<td class="v-align">Product Brochure</td>
							<!-- <td class="v-align">07/06/2017</td> -->
							<td class="v-align">PDF</td>
							<td class="v-align">
								<a href="https://drive.google.com/open?id=1SlFvw7Lu5-86-BsGUQP3BkPnpdPgx5Nk" target="_blank" class="edit-button-in-table pull-right" >Download</a>
							</td>
						</tr>
						<tr>
							<td class="v-align">How Mednefits Work</td>
							<!-- <td class="v-align">07/06/2017</td> -->
							<td class="v-align">PDF</td>
							<td class="v-align">
								<a href="https://drive.google.com/file/d/0B5jNkJc1lOQDZjhpWmxwcDhMbWc/view" target="_blank" class="edit-button-in-table pull-right">Download</a>
							</td>
						</tr>
						<!-- <tr>
							<td class="v-align">Mednefits Care Certificate</td>
							<td class="v-align">PDF</td>
							<td class="v-align">
								<a class="edit-button-in-table pull-right" href="{{customer}}" target="_blank">Download</a>
							</td>
						</tr> -->
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>