<div download-template-directive>
	<div class="hrdb-body-container">
		<div class="container">
			<div class="col-lg-12">
				<div class="benefits-tiers-container center-block"> 
	
					<div class="download-template-container tier-feature-item item-fade" style="margin: 70px 0;">
						<h1 class="text-center weight-700 font-25 download-template-title" style="color: #2c3e50;">Download template.</h1>
						<div class="white-space-20"></div>
						<p>We've put together the fields that are needed for enrollements in the excel template file, first row (aka header). Please download, complete and submit the excel file on the step 3 (Upload).</p>
						<div class="download-template-btn">
							<button ng-class="{'active': downloadTemplateOption == '1'}" ng-click="downloadExcelTemplate(1)"><img src="../assets/hr-dashboard/img/download-gray.png">Employees only</button>
							<button ng-class="{'active': downloadTemplateOption == '2'}" ng-click="downloadExcelTemplate(2)"><img src="../assets/hr-dashboard/img/download-gray.png">Employees + Dependents</button>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div class="prev-next-buttons-container">
		<div class="container">
	
			<button ng-click="backBtn()" class="pull-left btn btn-info back-btn">
				<span>BACK</span>
			</button>
	
			<button class="pull-right btn btn-info next-wizard-button" ng-disabled="isNextBtnDisabled" ng-click="nextBtn( )">NEXT</button>
			<button class="pull-right btn btn-info next-wizard-button download-template-btn-bottom" ng-click="downloadTemplate( )" style="font-size: 14px !important;">DOWNLOAD TEMPLATE</button>
			
		</div>
	</div>
</div>