<div class="navbar-blue-bg" style="margin-top: 80px;position: fixed;height: 40px;">
	<div class="container">
		<div class="welcome-container">
			<h4 ui-sref="benefits-dashboard">Overview</h4>
			<div class="arrow-up" style="visibility: hidden;"></div>
		</div>
		<div class="welcome-container">
			<h4 ui-sref="employee-overview">Employee</h4>
			<div class="arrow-up" style="visibility: hidden;"></div>
		</div>
		<!-- <div class="welcome-container">
			<div class="dropdown">
				<h4 class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Employee
				</h4>
				<ul class="dropdown-menu emp-overview-drop" aria-labelledby="dropdownMenu1" style="top: 20px;border-radius: 0;">
					<li><a href="javascript:void(0)" ui-sref="employee-overview">Overview</a></li>
					<li><a href="javascript:void(0)" ui-sref="bulk-cred-allocation">Credit Allocation</a></li>
					<li><a href="javascript:void(0)" ui-sref="cred-allocation">Credit Allocation</a></li>
				</ul>
			</div>
			<div class="arrow-up-2" style="visibility: visible;"></div>
		</div> -->
		<!-- <div class="welcome-container">
			<h4 ui-sref="activity">Activity</h4>
			<div class="arrow-up-3" style="visibility: hidden;"></div>
		</div>
		<div class="welcome-container">
			<h4 ui-sref="e-claim">E-Claim</h4>
			<div class="arrow-up-4" style="visibility: hidden;"></div>
		</div>
		<div class="welcome-container">
			<h4 ui-sref="statement">Statement</h4>
			<div class="arrow-up-5" style="visibility: hidden;"></div>
		</div> -->
	</div>
</div>
<div class="hrdb-body-container download-template">
	<div class="container">
		<div class="download-template-container">
			<h1 class="dl-template-title text-center" style="margin-top: 40px;">Woohoo! Your team is growing,<br>congratulation on your new headcount.</h1>
			<h3 class="text-center dl-template-subtext">
				Just a side note, any additional successful enrolled employee<br>
				will be charge according to your preffered payment method.
			</h3>
			<img src="../../assets/hr-dashboard/img/team-growing.png" class="center-block" style="width: 130px;margin-top: 20px;">
		</div>
	</div>
</div>
<div class="prev-next-buttons-container">
	<div class="container">
		<button ui-sref="benefits-dashboard" class="pull-left btn btn-info" style="background-color: transparent;color: #0392cf;border: 0;box-shadow: none;font-size: 20px;padding: 11px 39px;">CANCEL</button>
		<button ui-sref="enrollment-method" class="pull-right btn btn-info next-wizard-button">NEXT</button>

		<!--
			this button can be clicked if the file was downloaded
			Uncomment Below
		-->

		<!-- <button class="pull-right btn btn-info next-wizard-button inactive-button" disabled>NEXT</button> -->
	</div>
</div>