<div prepare-directive>
	<div class="hrdb-body-container">
		<div class="container">
			<div class="col-lg-12">
				<div class="benefits-tiers-container center-block"> 
	
					<div class="review-no-dependents tier-feature-item item-fade">
						<h1 class="weight-700 font-25 download-template-title" style="color: #2c3e50;">Let us help you with the review before upload.</h1>
						<div class="white-space-20"></div>
						<div class="review-tick-container">
							<p class="review-tick-title">Review your file type:</p>
							<label class="review-container">
								<input type="checkbox" ng-model="reviewExcelData.format">
								<span class="review-prepare-template-text">Save the file .xlsx or .xls format. </span>
								<span class="review-checkmark"></span>
							</label>
							<p class="review-tick-title">Review the data in your file:</p>
							<label class="review-container">
								<input type="checkbox" ng-model="reviewExcelData.dob">
								<span ng-if="isWithDependents" class="review-prepare-template-text">
									Input employee, dependent/s date of birth according to the format (dd/mm/yyyy).
								</span>
								<span ng-if="!isWithDependents" class="review-prepare-template-text">
									Input employee's date of birth according to the format (dd/mm/yyyy).
								</span>
								<span class="review-prepare-template-subtext">Our system will only pick and capture date in the stated format.</span>
								<span class="review-checkmark"></span>
							</label>
							<label class="review-container">
								<input type="checkbox" ng-model="reviewExcelData.plan_start">
								<span class="review-prepare-template-text">Input employee's plan start date according to the format (dd/mm/yyyy).</span>
								<span class="review-prepare-template-subtext">Our system will only pick and capture date in the stated format.</span>
								<span class="review-checkmark"></span>
							</label>
							<!-- <label class="review-container">
								<input type="checkbox" ng-model="reviewExcelData.email">
								<span class="review-prepare-template-text">A valid employee's email address.</span>
								<span class="review-prepare-template-subtext">Login credential will be sent to this email address once account is set up.</span>
								<span class="review-checkmark"></span>
							</label>
							<label class="review-container">
								<input type="checkbox" ng-model="reviewExcelData.postcode">
								<span class="review-prepare-template-text">Input employee's 6 digit postal code</span>
								<span class="review-prepare-template-subtext">It should be the local residential postal code where the employee reside.</span>
								<span class="review-checkmark"></span>
							</label>	 -->
							<label ng-if="isWithDependents" class="review-container">
								<input type="checkbox"  ng-model="reviewExcelData.relationship">
								<span class="review-prepare-template-text">Under dependent/s relationship column only select from drop down list.</span>
								<span class="review-checkmark"></span>
							</label>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div class="prev-next-buttons-container">
		<div class="container">
			<button ng-click="backBtn()" class="pull-left btn btn-info back-btn">
				<span>BACK</span>
			</button>
			<button class="pull-right btn btn-info next-wizard-button" ng-click="nextBtn( )">NEXT</button>
		</div>
	</div>
</div>