<div settings-directive>
<div class="hrdb-body-container" style="padding-top: 150px;">
	<div class="gp-cap-health-provider-wrapper">
		<!-- <h3 class="text-center" style="color: #5b5b5b;">Settings</h3> -->
		<!-- <hr> -->
		<div class="col-lg-3 account-billing-link-list">
			<ul>
				<li ui-sref-active="active-link" ng-click="selectSettingsTab(0)" ui-sref="settings.cap-per-visit" style="cursor: pointer">
					<a >GP - Cap per Visit</a>
				</li>
				<li ui-sref-active="active-link" ng-click="selectSettingsTab(1)" ui-sref="settings.block-health-partners" style="cursor: pointer">
					<a >Health Providers Access</a>
				</li>
			</ul>
		</div>
		<div class="col-lg-9 info-container">
			
			<div ui-view="child-content"></div>
			
		</div>

		
	</div> 
</div>
</div>