<div class="hrdb-body-container" style="padding-top: 180px;">
    <div class="container">
        <h1 class="dl-template-title text-center" style="color: #5b5b5b;">We've successfully enrolled 5 employees<br>to the plan</h1>
        <img src="../../assets/hr-dashboard/img/successful.png" class="center-block" style="width: 100px;margin-top: 40px;">
        <button ui-sref="benefits-dashboard" class="center-block successful-back-to-home-button">
            BACK TO HOME
        </button>
    </div>
</div>