<div upload-excel-directive>
	<div class="hrdb-body-container">
		<div class="container">
			<div class="col-lg-12">
				<div class="benefits-tiers-container center-block"> 
	
					<div class="upload-file tier-feature-item item-fade" style="padding: 50px 0;">
						<h1 class="text-center weight-700 font-25 download-template-title" style="color: #2c3e50;">Upload your file</h1>
						<div class="white-space-20"></div>
						<div class="white-space-20"></div>
						<div class="upload-box" ngf-drop="runUpload($file)" ngf-select="runUpload($file)" ng-model="uploadFile" ngf-drag-over-class="'dragover'" accept="xlxs">
							<label ng-if="!isValid && !isInvalid" class="fileupload-text ng-scope">
								<img src="../../assets/hr-dashboard/img/icons/upload.svg" class="upload-icon center-block">
								<span class="weight-700">
									Drag and drop an Excel file here to upload
									<br>
									or
									<br>
								</span>
								<span class="weight-700">Select file</span>
							</label>
							<label ng-if="isValid || isInvalid" class="fileupload-text ng-scope">
								<img src="../../assets/hr-dashboard/img/icons/upload.svg" class="upload-icon center-block">
								<span class="status-message weight-700" ng-bind="message"></span>
								<br>
								<span class="weight-700">Change file</span>
							</label>
						</div>
					</div>		
					
				</div>
			</div>
		</div>
	</div>
	<div class="prev-next-buttons-container">
		<div class="container">
	
			<button ng-click="backBtn()" class="pull-left btn btn-info back-btn">
				<span>BACK</span>
			</button>
	
			<button class="pull-right btn btn-info next-wizard-button" ng-disabled="isNextBtnDisabled" ng-click="nextBtn( )">NEXT</button>
			
		</div>
	</div>
</div>