<div web-preview-directive>
	<div class="hrdb-body-container" style="padding-top: 200px;">
		<div class="container">
			<h1 class="dl-template-title text-center weight-700 font-25" style="color: #5b5b5b;">Please check if all employee details are correct<br>before we enroll them</h1>
			<div class="white-space-20"></div>
			<div class="white-space-20"></div>
			<div style="margin-right: 50px;margin-left: 50px;">
				<!-- <span ng-if="hasError" style="color: #ff8a8a;">*Error Fields</span> -->
				<table class="table table-hover preview-table">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>NRIC/FIN</th>
							<th>Date of Birth</th>
							<th>Work Email</th>
							<th>Mobile</th>
							<!-- <th>Job Title</th> -->
							<th>Medical Credits</th>
							<th>Wellness Credits</th>
							<th style="width: 100px;">
								<span style="display: block;line-height: .1;margin-top: 8px;">Start Date</span>
								<span style="font-size: 10px;display: inline-block;">(click to edit)</span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr class="loader-table" style="display: none">
							<td colspan="8" class="text-center">
								<div class="loader-container" style="padding: 5%;height: 150px;">
									<div class="preloader-wrapper big active">
									    <div class="spinner-layer spinner-blue-only">
									      <div class="circle-clipper left">
									        <div class="circle"></div>
									      </div><div class="gap-patch">
									        <div class="circle"></div>
									      </div><div class="circle-clipper right">
									        <div class="circle"></div>
									      </div>
									    </div>
									  </div>
								</div>
							</td>
						</tr>
						<tr ng-repeat="emp in temp_employees" ng-class="{'has-error': emp.error_logs.error == true}" data-toggle="modal" data-target="#edit-employee-details" ng-click="editEmployee(emp)">
							<td>
								<i ng-if="emp.sending == true" class="fa fa-circle-o-notch fa-spin color-blue-custom"></i> 
								<i ng-if="emp.done == true" class="fa fa-check color-green"></i> &nbsp;
								<span class="position-relative">
									<span ng-bind="emp.enrollee.first_name"></span> 
									<span ng-if="emp.error_logs.first_name_error" class="text-error temp_error">*</span>
								</span>
								<button ng-class="{'editBtn-force-show': emp.error_logs.error == true}" class="table-edit-button pull-right" ng-click="editEmployee(emp)">Edit</button>
							</td>
							<td>
								<span class="position-relative">
									<span ng-bind="emp.enrollee.last_name">Tan</span>
									<span ng-if="emp.error_logs.last_name_error" class="text-error temp_error">*</span>
								</span>
							</td>
							<td>
								<span class="position-relative">
									<span ng-bind="emp.enrollee.nric">Tan</span>
									<span ng-if="emp.error_logs.nric_error" class="text-error temp_error">*</span>
								</span>
							</td>
							<td>
								<span class="position-relative">
									<span ng-bind="emp.enrollee.dob" >01/01/1990</span>
									<span ng-if="emp.error_logs.dob_error" class="text-error temp_error">*</span>
								</span>
							</td>
							<td>
								<span class="position-relative">
									<span ng-bind="emp.enrollee.email">filbert@mednefits.com</span>
									<span ng-if="emp.error_logs.email_error" class="text-error temp_error">*</span>
								</span>
							</td>
							<td>
								<span class="position-relative">
									<span ng-bind="emp.enrollee.mobile">98000882</span>
									<span ng-if="emp.error_logs.mobile_error" class="text-error temp_error">*</span>
								</span>
							</td>
							<!-- <td>
								<span class="position-relative">
									<span ng-bind="emp.enrollee.job_title">Marketing</span>
									<span ng-if="emp.error_logs.job_title_error" class="text-error temp_error">*</span>
								</span>
							</td> -->
							<td>
								<span ng-bind="emp.enrollee.credits">0</span>
							</td>
							<td>
								<span ng-bind="emp.enrollee.wellness_credits">0</span>
							</td>
							<td style="width: 100px;">
								<span class="position-relative">
									<span ng-bind="emp.start_date">DD/MM/YYYY</span>
									<span ng-if="emp.error_logs.first_name_error" class="text-error temp_error">*</span>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="prev-next-buttons-container">
		<div class="container">
			<button ui-sref="benefits-dashboard" class="pull-left btn btn-info" style="background-color: transparent;color: #0392cf;border: solid 2px #0392cf;box-shadow: none;font-size: 20px;padding: 11px 39px;">BACK</button>
			<button ng-click="removeTempEmps()" class="pull-left btn btn-info" style="background-color: transparent;color: #0392cf;border: 0;box-shadow: none;font-size: 20px;padding: 9px 39px;">CANCEL</button>

			<!-- <button ui-sref="successful" class="pull-right btn btn-info next-wizard-button"><p class="pull-left enroll-text">ENROLL</p> <p class="number-of-enrollees pull-right">2</p></button> -->
			<button ng-disabled="enrolling_active" ng-click="enrollButton()" class="pull-right btn btn-info next-wizard-button" ng-class="{ 'inactive-button' : hasError == true }"><p class="pull-left enroll-text weight-700">ENROLL</p> <p class="number-of-enrollees inactive-enroll-text pull-right" ng-bind="temp_employees.length">0</p></button>
			<h4 class="pull-right pending-enrollees-text weight-700">
				<span ng-bind="progress.in_progress">0</span> PENDING<br>ENROLLMENT
			</h4>

			<!--
				this button can be clicked if the the ticks are all checked.
				Uncomment Below
			-->

			<!-- <button ui-sref="download-template" class="pull-right btn btn-info next-wizard-button inactive-button" disabled>NEXT</button> -->
		</div>
	</div>

</div>

