/* Fonts */
@font-face {
    font-family: 'MyriadPro'; /* Global font */
    src: url('../fonts/MyriadPro-Regular.otf')  format('truetype');
}

@font-face {
    font-family: 'MyriadPro-light'; /* Global font */
    src: url('../fonts/MyriadPro-Light.otf')  format('truetype');
}

@font-face {
    font-family: 'MyriadPro-bold'; /* Global font */
    src: url('../fonts/MyriadPro-Bold.otf')  format('truetype');
}




@font-face {
    font-family: 'Helvetica'; /* Global font */
    src: url('../fonts/helveticaneue/HelveticaNeue.ttf')  format('truetype');
}

@font-face {
    font-family: 'HelveticaNeueMed'; /* Global font */
    src: url('../fonts/helveticaneue/HelveticaNeueMed.ttf')  format('truetype');
}

@font-face {
    font-family: 'Helvetica Medium'; /* Global font */
    src: url('../fonts/helveticaneue/HelveticaNeue Medium.ttf')  format('truetype');
}

@font-face {
    font-family: 'Helvetica Thin'; /* Global font */
    src: url('../fonts/helveticaneue/HelveticaNeue Thin.ttf')  format('truetype');
}

@font-face {
    font-family: 'Helvetica Light'; /* Global font */
    src: url('../fonts/helveticaneue/HelveticaNeue Light.ttf')  format('truetype');
}

@font-face {
    font-family: 'Helvetica Neu Bold'; /* Global font */
    src: url('../fonts/helveticaneue/Helvetica Neu Bold.ttf')  format('truetype');
}

@font-face {
    font-family: 'HelveticaNeueHv'; /* Global font */
    src: url('../fonts/helveticaneue/HelveticaNeueHv.ttf')  format('truetype');
}


.font-helvetica-medium{
    font-family: 'Helvetica Medium';
}

.font-helvetica-med{
    font-family: 'HelveticaNeueMed';
}

.font-helvetica{
    font-family: 'Helvetica';
}

.font-helveticaNeuBold{
    font-family: 'Helvetica Neu Bold';
}

.font-helveticaNeueHv{
    font-family: 'HelveticaNeueHv';
}






/* GREYCLIFF */
@font-face {
    font-family: 'Greycliff'; /* Global font */
    src: url('../fonts/greycliff/GreycliffCF-Regular.otf')  format('truetype');
}

@font-face {
    font-family: 'Greycliff Medium'; /* Global font */
    src: url('../fonts/greycliff/GreycliffCF-Medium.otf')  format('truetype');
}

@font-face {
    font-family: 'Greycliff Bold'; /* Global font */
    src: url('../fonts/greycliff/GreycliffCF-Bold.otf')  format('truetype');
}

@font-face {
    font-family: 'Greycliff Heavy'; /* Global font */
    src: url('../fonts/greycliff/GreycliffCF-ExtraBold.otf')  format('truetype');
}