
<div class="payment-wrapper center-align" payment-directive>

	<div id="success-form2">
		<div class="row">
			<div class="col s12">
				<div class="white-space-50"></div>
				<h1 class="font-40 weight-500 color-dark-grey">Successful</h1>
			</div>
		</div>

		<div class="row">
			<div class="col s12">
				<div class="white-space-20"></div>
				<i class="material-icons font-80 green-text text-lighten-1">check_circle</i>
				<div class="white-space-20"></div>
			</div>
		</div>

		<div class="row margin-bottom-30">
			<div class="col s12">
				<h4 class="color-dark-grey weight-500">Thank you for purchasing Mednefits Care.<br>Invoice will be attached in the welcome pack and send to the email as provided.<br>Please make necessary payment arrangement before plan start date.</h4>
			</div>
		</div>

		<div class="row margin-bottom-30">
	        <div class="input-field col s12 center-align">
	          <button id="btn-four" class="btn btn-large blue white-text font-20 radius-8" >EMPLOYEE DETAILS</button>
	        </div>
		</div>	
	</div>
</div>
