.member-wallet-benefits-wrapper input{
  outline: none;
}
.member-wallet-benefits-wrapper {
  height: 100%;
}
.member-wallet-benefits-wrapper .navbar-blue-bg {
  padding: 0 50px;
}
.member-wallet-benefits-wrapper >div:last-child {
  /* padding: 100px 0 0; */
  height: 100%;
  min-height: 100vh;
}
.member-wallet-body-info-container {
  display: flex;
}
.member-wallet-benefits-wrapper a {
  color: #000000;
  font-size: 14px;
}
.member-wallet-benefits-wrapper a:hover {
  text-decoration: none;
}
.member-wallet-body-info-container >div:first-child {
  background-color: #F2F2F2;
  width: 25%;
  /* padding: 60px 0 0; */
  padding: 40px 0 0;
}
.member-wallet-body-info-container >div:last-child {
  padding: 40px 60px;
  width: 75%;
  color: #000000;
  font-size: 14px;
}
.member-wallet-body-info-container .side-menu-selector >div {
  /* padding: 0 50px; */
}
.member-side-menu-title {
  font-size: 17px;
  font-family: 'Helvetica Medium';
  color: #000000;
  padding: 10px 50px;
}
.side-menu-selector .active { 
  background-color: #fff;
}
.side-menu-selector .active a{ 
  text-decoration: underline;
}
.side-menu-selector .side-selector-text {
  padding: 10px 50px;
  cursor: pointer;
}
.side-menu-selector .border-container {
  border-bottom: 1px solid #BFBFBF;
  margin: 10px 50px 20px;
}
.show-details-on-container {
  /* border-bottom: 2px solid #DBDBDB; */
  display: flex;
  padding: 0 0 20px;
}
.show-details-on-container >div {
  display: flex;
  align-items: center;
}
.show-details-on-container input {
  border: 0;
}
.show-details-on-container .current-term-input-wrapper {
  border: 2px solid #E0E0E0;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 14px;
  margin: 0 20px;
}
.show-details-on-container .current-term-input-wrapper.disable {
  pointer-events: none;
  background: #e2e1e1;
  opacity: .5;
}
.show-details-on-container .current-term-input-wrapper.disable > span {
  opacity: 0;
}
.show-details-on-container button {
  width: 110px;
  border-radius: 3px;
  height: 38px;
  color: #fff;
  background-color: #D9D9D9;
  border-color: transparent;
  font-size: 14px;
}
.show-details-on-container i {
  color: #979797;
}
.member-bold-text {
  font-family: 'Helvetica Medium';
}
.mwbc-box-container {
  padding: 20px 0;
  border-top: 2px solid #DBDBDB;
}
.mwbc-box-container:first-child {
  border-top: none;
}
.mwbc-card-box-container {
  border: 1px solid #BFBFBF;
  border-radius: 5px;
  padding: 20px;
}
.member-summary-info-tooltip {
  height: 14px;
  width: 14px;
  margin: 0 0 0 10px;
}
.mwbc-box-container .edit-btn {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #0392CF;
  color: #0392CF;
  display: flex;
  align-items: center;
  padding: 2px 14px;
}
.mwbc-box-container .edit-btn img {
  width: 18px;
  height: 18px;
  margin: 0 10px 0 0;
}
.mwbc-card-box-container {
  margin: 20px 0 0;
}

.benefits-input-wrapper {
  border: 1px solid #E0E0E0;  
  border-radius: 3px;
  /* position: relative; */
  padding: 6px;
  display: flex;
  align-items: center;
  height: 40px;
}
.benefits-input-wrapper img {
  height: 17px;
  width: 16px;
}
.benefits-input-wrapper i {

}
.benefits-input-wrapper input {
  border: 0;
  outline: none;
  width: 100%;
}

.on-off-container {
	display: flex;
	border: 2px solid;
	background-color: transparentt;
	width: fit-content;
	border-radius: 4px;
}
/* .on-off-container .check-mark {
	content: "";
  position: absolute;
  display: block;
  left: 13px;
  top: 3px;
  width: 6px;
  height: 14px;
  border: solid white;
  border-width: 0 4px 4px 0px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 2px;
} */
.on-off-container.on {
	border-color: #0392CF;
	background-color: #0392CF;
}
.on-off-container.off {
	border-color: #A6A6A6;
	background-color: #A6A6A6;
}
.on-off-container button {
	height: 28px;
	width: 36px;
	border: 0;
	padding: 2px 7px 0;
	border-radius: 2px;
	position: relative;
	background-color: #fff;
}
.on-off-container .off {
	background-color: #A6A6A6;
}
.on-off-container .on {
	background-color: #0392CF;
}
.on-off-container img {
  width: 17px;
  position: relative;
  bottom: 2px;
}
.credits-tooltip-wrapper {
  position: relative;
}
.credits-tooltip-container {
  position: absolute;
  top: 35px;
  left: -5px;
  background: #fff;
  color: #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #DBDBDB;
  width: 400px;
  border-radius: 2px;
  padding: 12px 15px;
  z-index: 1;
}
.credits-tooltip-container::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 15px;
  height: 14px;
  width: 14px;
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  border-width: 1px 0 0 1px;
  transform: rotate(45deg);
}
.credits-tooltip-container .tooltip-title {
  border-bottom: 1px solid #aaa;
  padding: 5px 0 10px 0;
  margin: 0 0 15px;
  font-family: 'Helvetica Medium';
}
.tooltip-btn-footer {
  text-align: center;
}
.tooltip-btn-footer button {
  width: 85px;
  height: 35px;
  background: #0392CF;
  border-radius: 3px;
  font-size: 15px;
  color: #FFF;
  border: 0;
}
.credits-tooltip-container p {
  line-height: normal;
  margin: 0 0 20px;
}
.mwbc-card-box-container.pending .available-credits,
.mwbc-card-box-container.pending .credits-info-details-container{
  pointer-events: none;
  opacity: 0.4;
}
.non-panel-text {
  width: 450px;
}
.mwbc-fotter-btn {
  text-align: right;
  margin: 20px 0 0;
  display: block;
}
.mwbc-fotter-btn .deactivate-btn {
  color: #EB635D;
  border: 1px solid #EB635D;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 50px;
}
.member-wallet-benefits-wrapper >div.wellness-not-activated {
  padding: 0;
}

/* ---------- MODAL ---------- */
  .spending-account-modal .modal-header {
    padding: 20px 15px 15px;
    text-align: center;
    font-family: 'Helvetica Medium';
  }
  .spending-account-modal .modal-header {
    border-bottom: 0;
  }
  .spending-account-modal .modal-body {
    padding: 0 15px 15px;
  }
  .spending-account-modal .modal-body.active-member-confirmation-container {
    padding: 0 30px 15px;
  }
  .spending-account-modal .modal-body.active-member-confirmation-container >div:first-child {
    margin: 0 0 20px;
  }
  .spending-account-modal .modal-body.active-member-success-container {
    text-align: center;
  }
  .spending-account-modal .modal-footer {
    text-align: center;
    padding: 15px 15px 30px;
    border-top: 0;
  }
  .spending-account-modal .modal-footer button {
    background-color: #0392CF;
    color: #fff;
    border-radius: 2px;
    border: 0;
    font-size: 14px;
    padding: 3px 0;
  }
  .spending-account-modal .btn-edit-cancel {
    width: 100px;
    margin: 0 10px 0 0;
  }
  .spending-account-modal .btn-update {
    width: 200px;
  }
  .spending-account-modal .modal-footer .btn-edit-cancel.btn-close {
    border: 1px solid #0392CF;
    color: #0392CF;
    background-color: #fff;
  }
  .active-member-success-container >div {
    margin: 0 0 20px;
  }
/* --------------------------- */


.custom-checkbox-selector .selector-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin: 0;
  cursor: pointer;
  font-size: 16px;
}     
.custom-checkbox-selector .selector-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox-selector input:checked ~ .custom-checkbox-checkmark:after {
  display: block;
}

.custom-checkbox-selector .custom-checkbox-checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #ccc;
}

.custom-checkbox-selector .custom-checkbox-checkmark:after {
  display: none;
  content: "";
  position: absolute;
  left: 4px;
  bottom: 2px;
  width: 8px;
  height: 15px;
  border: solid #18A4E0;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  border-radius: 2px;
}

.custom-checkbox-selector .text {
	font-size: 13px;
	color: #929292;
}

.mednefits-enterprise-plan-wrapper {
  height: 100vh;
}
.out-of-pocket-wrapper {
  height: 100vh;
}
.out-of-pocket-wrapper .mwbc-card-box-container .available-credits {
  margin: 0;
}
.out-of-pocket-wrapper .mwbc-card-box-container {
  width: 350px;
}

.invoice-status {
  text-align: center;
  color: #fff;
  border-radius: 5px;
  width: 70px;
}
.invoice-status.pending {
  background-color: #EB635D;
}
.invoice-status.paid {
  background-color: #5BBD76;
}
.show-details-on-container .current-term-wrapper {
  position: relative;
}
.show-details-on-container .last-term-selector {
  position: absolute;
  top: 42px;
  background: #fff;
  width: 285px;
  margin: 0 20px;
  padding: 5px 10px;
  border: 2px solid #E0E0E0;
  border-radius: 3px;
}

/* medical enterprise plan */
.credits-tooltip-container.total-utilised-visits,
.credits-tooltip-container.utilised-panel-visits,
.credits-tooltip-container.utilised-non-panel-visits, 
.credits-tooltip-container.visits-per-member {
  /* display: none; */
}

/* out of pocket */
.credits-tooltip-container.total-member-transaction {
  display: none;
}

.member-activities-table-container .amount-value.add {
  color: #3F9D59;
}
.member-activities-table-container .amount-value.deduct {
  color: #EB635D;
}
.show-details-on-container button.btnActive {
  background-color: #0392CF;
  border-color: transparent;
}
.side-menu-selector .disabled {
  opacity: .3;
  pointer-events: none;
}
.mwbc-box-container .status.inactive {
  color: #EB635D;
}
.mwbc-box-container .status.active {
  color: #3F9D59;
}
.member-wallet-wrapper select {
  display: block;
  height: auto;
  width: 100%;
  padding: 0;
  border: 0;
  -webkit-appearance: none;
}

.prepaid-credits-toggle[disabled] {
  opacity: 0.5;
  pointer-events: none;
}
.out-of-pocket-wrapper .mwbc-box-container .prepaid-subtext {
  font-size: 17px;
  line-height: 24px;
  color: #848484;
  margin: 15px 0;
}
.payment-current-method >div:first-child {
  margin: 0 50px 0 0;
}
.input-readonly,
.input-readonly input {
  background-color: #f2f2f2;
  pointer-events: none;
}
.reimbursement-text {
  font-family: 'Helvetica Medium';
  text-decoration: underline;
}
.non-panel-claim-container >div.reimbursement-text-wrapper {
  margin: 30px 0 0;
}
.show-details-on-container .btn-apply-term {
  pointer-events: none;
}
.show-details-on-container .btn-apply-term.active {
  background-color: #0392CF;
  pointer-events: initial;
}

.prepaid-subtext {
  font-size: 15px;
  line-height: 12px;
  color: #848484;
  font-weight: 700;
  margin: 15px 0;
}
.member-side-menu-title.back-to-company-profile {
  color: #0392CF;
  font-size: 14px;
  cursor: pointer;
}
.member-side-menu-title.back-to-company-profile i {
  margin: 0 10px 0 0;
}
.color-black{
  color: #333;
}