<div class="header-navigation-section">
	<div class="logo-div">
		<img ui-sref="benefits-dashboard" src="../../assets/hr-dashboard/img/Mednefits Logo V2.svg" class="top-logo pointer-cursor">
	</div>
	<div class="header-menu-div">
		<div class="menu-div" ui-sref-active="active" ui-sref="benefits-dashboard">Home</div>
		<div 
			class="menu-div" 
			ui-sref="employee-overview" 
			ng-class="{
				'active' : 
					$state.current.name == 'employee-overview' ||
					$state.current.name == 'bulk-update-member-details.update-options' ||
					$state.current.name == 'bulk-update-member-details.excel-import' ||
					$state.current.name == 'bulk-update-member-details.summary-preview'
			}"
		>
			Employee
		</div>
		<div class="menu-div" ui-sref-active="active" ui-sref="activity">History</div>
		<div class="menu-div" ui-sref-active="active" ui-sref="e-claim">Non-panel Claim</div>
		<!-- <div class="menu-div" ui-sref-active="active" ui-sref="statement">Reports</div> -->
	</div>
	<div class="header-settings-div">
		<div class="icon-selection-container">
			<img ui-sref="account-settings" src="../../assets/hr-dashboard/img/cog-icon.png" class="pointer-cursor">
			<img src="../../assets/hr-dashboard/img/circle-question.png" class="pointer-cursor help-icon">

			<div class="tooltip-container">
				<h3 class="tooltip-title">We're here to help.</h3>
				<h3 class="tooltip-phone-email-title">You may ring us</h3>
				<h3 class="tooltip-phone-email-details">+65 6254 7889</h3>
				<h3 class="tooltip-phone-email-details">+60 3789 01770</h3>
				<h3 class="tooltip-phone-email-details">Mon - Fri 9:30am to 6:30pm</h3>
				<br>
				<h3 class="tooltip-phone-email-title">Drop us a note, anytime</h3>
				<h3 class="tooltip-phone-email-details">happiness@mednefits.com</h3>
			</div>
		</div>
		<div class="user-info-drop-container" :class="{ 'active': open }" x-data="{ open: false, showMoreAccounts: false, }" @click.away="open = false" >
			<div class="drop-select-wrapper" @click="open = true">
				<div class="user-img-icon">
					<div class="circle">
						<div class="letter" ng-bind="navCtr.primaryHrDetails.first_name[0] | uppercase">F</div>
					</div>
				</div>
				<div class="company-name" ng-bind="navCtr.accountDetails.account_name ? navCtr.accountDetails.account_name : 'Account Name'">Mednefits Pte Ltd</div>
				<div class="icon">
					<i class="fa fa-angle-down"></i>
				</div>
			</div>

			<div x-show="open" class="user-setting-drop-wrapper">
				<div x-show="!showMoreAccounts" class="drop-user-details">
					<div class="user-img-icon">
						<div class="circle">
							<div class="letter" ng-bind="navCtr.primaryHrDetails.first_name[0] | uppercase">F</div>
						</div>
					</div>
					<div class="drop-user-info">
						<p class="name">{{ navCtr.primaryHrDetails.first_name}} - {{ navCtr.accountDetails.account_name }}</p>
						<p class="email" ng-bind="navCtr.primaryHrDetails.email">filbert@mednefits.com</p>
					</div>
				</div>

				<div x-show="!showMoreAccounts" ng-if="navCtr.allLinkedAccountsArr.length > 0" class="linked-accounts-wrapper">

					<div ng-if="$index > 0" ng-repeat="list in navCtr.allLinkedAccountsArr" class="linked-account" ng-click="navCtr._switchAccount_(list)">
						<div class="comp-name">
							<p class="company" ng-bind="list.account_name">Medicloud</p>
							<p class="comp-id">Company ID: {{ list.company_id }}</p>
						</div>
						<div class="switch-account">
							<span>Switch Account</span>
						</div>
					</div>

					<div ng-if="navCtr.allLinkedAccountsArr.total_data > 5" @click="showMoreAccounts = true" class="more-linked">
						<span>More linked account <i class="fa fa-angle-right"></i></span>
					</div>
				</div>

				<div x-show="!showMoreAccounts" class="drop-items-wrapper">
					<div class="drop-item" ui-sref="account-settings">
						Account Settings
					</div>
					<div class="drop-item" ui-sref="company-profile.company-overview">
						Company Profile
					</div>
					<div class="drop-item" id="signout-btn">
						Sign out
					</div>
				</div>
				
				<div x-show="showMoreAccounts" class="more-account-list">
					<div @click="showMoreAccounts = false" class="back-div">
						<img src="../../assets/hr-dashboard/img/arrow-left-black.png" alt=""> Back
					</div>
					<div class="current-company">
						<div class="comp-name">
							<p class="company" ng-bind="navCtr.allLinkedAccountsArr[0].account_name">Medicloud</p>
							<p class="comp-id">Company ID: {{ navCtr.allLinkedAccountsArr[0].company_id }}</p>
						</div>
						<div class="check-div">
							<img src="../../assets/hr-dashboard/img/blue-check.png" alt="">
						</div>
					</div>
					<div ng-if="$index != 0" ng-repeat="list in navCtr.allLinkedAccountsArr" class="linked-account">
						<div class="comp-name">
							<p class="company" ng-bind="list.account_name">Medicloud</p>
							<p class="comp-id">Company ID: {{ list.company_id }}</p>
						</div>
						<div class="switch-account">
							<span ng-click="navCtr._switchAccount_(list)">Switch Account</span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<script type="text/javascript">
	function myAccount() {
		$(".account-dropdown").toggleClass('account-dropdown-active');
		$(".account-list-container").toggleClass('account-list-container-active');
	}

	$('#logout-btn').click(function( ){
		window.localStorage.clear();
		window.location.href = window.location.origin + '/business-portal-login';
	});
	$('#signout-btn').click(function( ){
		window.localStorage.clear();
		window.location.href = window.location.origin + '/business-portal-login';
	});
</script>