<div class="navbar-blue-bg" style="margin-top: 60px;position: fixed;height: 40px;">
	<div class="container">
		<!--
		<div class="welcome-container">
			<h4 ui-sref="benefits-dashboard">Overview</h4>
			<div class="arrow-up" style="visibility: hidden;"></div>
		</div>-->	
		<div class="welcome-container enrollment-nav">
			<h4 class="container-title" >Enrollment</h4>
			<div class="arrow-up-5" style="visibility: hidden;"></div>
		</div>
	</div>
</div>
<div id="enroll-option-wrapper" enrollment-options-directive>
	<div class="hrdb-body-container ">
		<div class="container">
			<div class="col-lg-12">
				<!-- <h1 class="text-center weight-700 font-25" style="color: #2c3e50;">Let’s get to know more about your team.</h1>
				<div class="white-space-20"></div>
				<div class="enrollment-options-container center-block">
					<div class="enrollment-options-subheading">
						<p>Does your team benefits package require custom tiering?</p>
						<p>Such as different benefits budget for different hierarchy in the company.</p>
					</div>
					<div class="enrollment-options-button">
						<button ng-class="{'active': isRequiredTiering == false}" ng-click="toggleEnrollmentOptions(false)">No</button>
						<button ng-class="{'active': isRequiredTiering == true}" ng-click="toggleEnrollmentOptions(true)">Yes</button>
					</div>
				</div> -->
				<div class="prompt-page-container">
					<h1 class="text-center weight-700" style="color: #2c3e50;">Let us know more about the enrollment.</h1>
					<div ng-show="spending_account_status.medical" class="item-select">
						<label>Is there any <span>Medical Entitlement Balance?</span> <img class="medical-info-click" src="../images/info-icon.png">

							<div class="medical-info-box">
								<div class="custom-box"></div>
								<div class="main-info-box">
									<p style="font-family: 'Helvetica Medium'">Medical Entitlement Balance</p>
									<div class="custom-line"></div>
									<p>Medical Entitlement Balance is the (Medical) amount that an employee is entitled from the date they joined Mednefits until the end of the current term.</p>

									<p style="margin: 15px 0 0 0;font-family: 'Helvetica Medium'"><span style="text-decoration: underline;">Example:</span></p>
									<p>Employee A has an entitlement period from 01/01/2019 to 31/12/2019.  On 01/06/2019, she started using Mednefits and has been entitled S$300 for Medical untill 31/12/2019. Therefore, her Medical Entitlement Balance is S$300.</p>

									<div class="btn-container">
										<div class="btn-got-it medical-info-close">Got it</div>
									</div>
								</div>
							</div>
						</label>
						<div class="select-div">
							<div class="select-value">
								<span ng-if="selected_option.medical_opt != null" ng-bind="selected_option.medical_opt == true ? 'Yes' : 'No'"></span>
							</div>
							<div class="select-drop-box">
								<div class="select-option" ng-click="selectMedicalOpt(true)">Yes</div>
								<div class="select-option" ng-click="selectMedicalOpt(false)">No</div>
							</div>
							<i class="fa fa-angle-down"></i>
						</div>
					</div>
					<div ng-show="spending_account_status.wellness" class="item-select">
						<label>Is there any <span>Wellness Entitlement Balance?</span> <img class="wellness-info-click" src="../images/info-icon.png">

							<div class="wellness-info-box">
								<div class="custom-box"></div>
								<div class="main-info-box">
									<p style="font-family: 'Helvetica Medium'">Medical Entitlement Balance</p>
									<div class="custom-line"></div>
									<p>Wellness Entitlement Balance is the (Wellness) amount that an employee is entitled from the date they joined Mednefits until the end of the current term.</p>

									<p style="margin: 15px 0 0 0;font-family: 'Helvetica Medium'"><span style="text-decoration: underline;">Example:</span></p>
									<p>Employee A has an entitlement period from 01/01/2019 to 31/12/2019.  On 01/06/2019, she started using Mednefits and has been entitled S$100 for Wellness untill 31/12/2019. Therefore, her Wellness Entitlement Balance is S$300.</p>

									<div class="btn-container">
										<div class="btn-got-it wellness-info-close">Got it</div>
									</div>
								</div>
							</div>
						</label>
						<div class="select-div">
							<div class="select-value">
								<span ng-if="selected_option.wellness_opt != null" ng-bind="selected_option.wellness_opt == true ? 'Yes' : 'No'"></span>
							</div>
							<div class="select-drop-box">
								<div class="select-option" ng-click="selectWellnessOpt(true)">Yes</div>
								<div class="select-option" ng-click="selectWellnessOpt(false)">No</div>
							</div>
							<i class="fa fa-angle-down"></i>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="prev-next-buttons-container">
		<div class="container">
			<button ng-click="backButton()" class="pull-left btn btn-info back-btn" style="background-color: transparent;color: #0392cf;box-shadow: none;font-size: 20px;padding: 11px 39px;">BACK</button>
			<button ng-if="spending_account_status.medical && spending_account_status.wellness == false" ng-click="enrollmentNextBtn()"  class="pull-right btn btn-info next-wizard-button" ng-disabled="selected_option.medical_opt == null">NEXT</button>

			<button ng-if="spending_account_status.wellness && spending_account_status.medical == false" ng-click="enrollmentNextBtn()"  class="pull-right btn btn-info next-wizard-button" ng-disabled="selected_option.wellness_opt == null">NEXT</button>
			
			<button ng-if="spending_account_status.medical && spending_account_status.wellness" ng-click="enrollmentNextBtn()"  class="pull-right btn btn-info next-wizard-button" ng-disabled="selected_option.medical_opt == null || selected_option.wellness_opt == null">NEXT</button>
		</div>
	</div>
</div>