<div class="hrdb-body-container" style="padding-top: 200px;">
    <div class="container">
        <h1 class="dl-template-title text-center" style="color: #5b5b5b;">We've successfully enrolled employees<br>to the plan</h1>
        <p class="text-center" style="margin: 0 auto;font-size: 18px;">Invoice can be found under Account and Billing -> Transaction section.<br>Please make neccessary payment arrangement before plan start date.</p>
        <img src="../../assets/hr-dashboard/img/successful.png" class="center-block" style="width: 100px;margin-top: 40px;">
        <button ui-sref="benefits-dashboard" class="center-block successful-back-to-home-button">
            BACK TO HOME
        </button>
    </div>
</div>