<div class="modal fade" id="create-location-modal" tabindex="-1" role="dialog" aria-labelledby="create-location-modal"
    aria-hidden="true">
    <div class="modal-dialog max-w-2xl bg-transparent mt-32" role="document">
        <div class="modal-content">
            <div class="modal-body py-0">
                <div class="py-1 px-16">
                    <form name="createLocationModal" class="flex flex-col items-center justify-between space-y-8 pt-6">
                        <h4 class="section-title font-bold">
                            Add Work Location
                        </h4>
                        <div class="w-full">
                            <div class="grid grid-cols-1 gap-4">
                                <div>
                                    <label class="form-label">Work Location Name</label>
                                    <div class="form-input-group">
                                        <input
                                            class="form-input"
                                            required
                                            placeholder="E.g., Raffles Place office"
                                            ng-model="$ctrl.state.form.location"
                                            type="text">
                                    </div>
                                </div>
                                <div>
                                    <label class="form-label">Business Legal Address</label>
                                    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                                        <div class="form-input-group col-span-1 md:col-span-2">
                                            <input
                                                class="form-input"
                                                required
                                                placeholder="Street Address"
                                                ng-model="$ctrl.state.form.street_address"
                                                type="text"
                                                >
                                        </div>
                                        <div class="form-input-group">
                                            <input
                                                class="form-input"
                                                type="text"
                                                placeholder="Floor/unit number"
                                                required
                                                ng-model="$ctrl.state.form.unit">
                                        </div>
                                        <div class="form-input-group">
                                            <input
                                                class="form-input"
                                                type="text"
                                                placeholder="Building name"
                                                required
                                                ng-model="$ctrl.state.form.building">
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
                                    <div class="col-span-2">
                                        <label class="form-label">
                                            Country Incorporated
                                        </label>
                                        <div class="btn-group dropup w-full">
                                            <button type="button"
                                                class="ui-btn ui-btn-white dropdown-toggle w-full justify-between"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{ $ctrl.state.form.country }}
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                    class="w-4 text-gray-600" fill="currentColor">
                                                    <path fill-rule="evenodd"
                                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                        clip-rule="evenodd" />
                                                </svg>
                                            </button>
                                            <input ng-model="$ctrl.state.form.country" class="hidden" required readonly>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="country in $ctrl.countries">
                                                    <a ng-click="$ctrl.setField('country', country.name)"
                                                        class="flex items-center space-x-2">
                                                        <img src="{{ country.flag }}" class="w-6" alt="">
                                                        {{ country.name }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-span-1">
                                        <label class="form-label">
                                            Postal Code
                                        </label>
                                        <div class="form-input-group">
                                            <input
                                                class="form-input" type="text" required
                                                ng-model="$ctrl.state.form.postal_code">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center justify-end space-x-4 w-full pb-8">
                            <button ng-click="$ctrl.presentModal('create-location-modal', false)" type="button"
                                class="ui-btn ui-btn-primary-outline">
                                Cancel
                            </button>
                            <button type="button"
                                ng-disabled="!createLocationModal.$dirty && createLocationModal.$invalid"
                                class="ui-btn {{ createLocationModal.$dirty && createLocationModal.$valid ? 'ui-btn-primary ' : 'ui-btn-disabled' }} w-48"
                                ng-click="$ctrl.store()">
                                Add Location
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>