/* ----------- CUSTOM RADIO ------------- */
.enrollment-radiobox-container .radiobox-input {
  display: block;
  position: relative;
  margin-bottom: 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 0px;
  padding: 0 0 0 25px;
  font-size: 16px;
}
.enrollment-radiobox-container .radiobox-input input {
  opacity: 0;
  cursor: pointer;
  margin: 0;
}

.enrollment-radiobox-container .radiobox-input input:checked ~ .radiobox-mark { 
  background-color: #fff;
  border: 2px solid #0392CF;
}

.enrollment-radiobox-container .radiobox-input input:checked ~ .radiobox-mark:after {
  display: block;
}

.enrollment-radiobox-container .radiobox-input .radiobox-mark {
  position: absolute;
  top: 2px;
  left: 0px;
  height: 20px;
  width: 20px;
  /* border: 1px solid #e4e4e4; */
  border: 2px solid #BFBFBF;
  border-radius: 50%;
}

.enrollment-radiobox-container .radiobox-input .radiobox-mark:after {
  content: "";
  position: absolute;
  display: none;
  left: 3px;
  bottom: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background: #C4C4C4; */
  background: #0392CF;
}
/* -------------------------------------- */




/* ------------- INPUT TABLE -------------------- */
  .input-table-container{
    position: relative;
  }

  /* ----------------- TABLE HEADER ----------------- */
    .input-table-container .tbl-header-wrapper{
      display: grid;
      grid-template-columns: 335px auto;
      /* border-right: 1px solid #E0E0E0; */
      border-bottom: 1px solid #E0E0E0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }
    .input-table-container .head-h-fixed .header-row{
      display: grid;
      grid-template-columns: auto auto auto;
    }
    .input-table-container .head-h-scroll-wrapper{
      overflow-x: auto;
      max-width: 5000px;
    }
    .input-table-container .head-h-scroll-wrapper .header-row{
      width: 100%;
      display: grid;
      grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
    }
    .header-row .head-col{
      background: #F7F9FA;
      font-size: 15px;
      line-height: 18px;
      color: #000000;
      padding: 15px 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: 700;
      border: 2px solid #E0E0E0;
      border-width: 2px 0 0 2px;
      height: 60px;
    }
    .head-col .required{
      color: red;
      font-size: 18px;
    }
    .header-row .head-col.option{
      background: #FFF;
      border: none;
    }
    .header-row .head-col.option,
    .header-row .head-col.number{
      min-width: 40px;
    }
    .header-row .head-col.fullname{
      min-width: 255px;
      border-width: 2px 2px 0 2px;
    }
    .header-row .head-col.dob{
      min-width: 183px;
      border-width: 2px 0 0 0;
    }
    .header-row .head-col.email{
      min-width: 255px;
    }
    .header-row .head-col.country-code{
      min-width: 130px;
    }
    .header-row .head-col.mobile{
      min-width: 185px;
    }
    .header-row .head-col.start-date{
      min-width: 160px;
    }
    .header-row .head-col.med-alloc{
      min-width: 175px;
    }
    .header-row .head-col.wel-alloc{
      min-width: 175px;
    }
    .header-row .head-col.bank-name{
      min-width: 200px;
    }
    .header-row .head-col.bank-num{
      min-width: 200px;
    }
    .header-row .head-col.dep-name{
      min-width: 255px;
    }
    .header-row .head-col.dep-dob{
      min-width: 220px;
    }
    .header-row .head-col.dep-rel{
      min-width: 255px;
    }
    .input-table-container *::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
    /* .input-table-container *::-webkit-scrollbar-track {
      background-color: transparent;
    }
    .input-table-container *::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background-color: #8b8b8b;
    } */

    .input-table-container .body-h-scroll-wrapper::-webkit-scrollbar{
      height: 10px;
      width: 10px;
      background: rgba(196, 196, 196, 0.18);
    }
    .input-table-container .body-h-scroll-wrapper::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background-color: #e2e2e2;
      border: 2px solid #f4f4f4;
      /* visibility: hidden; */
    }
    .input-table-container:hover .body-h-scroll-wrapper::-webkit-scrollbar-thumb{
      /* visibility: visible; */
    }
  /* --------------------------------------------- */


  /* ----------------- TABLE BODY ----------------- */
    .tbl-body-wrapper{
      border-top: 1px solid transparent;
      border-right: 1px solid #E0E0E0;
      border-bottom: 1px solid #E0E0E0;
    }
    .input-table-container .body-v-scroll-wrapper{
      /* overflow-y: auto; */
      /* max-height: calc(100vh - 550px); */
      /* display: grid; */
      /* grid-template-columns: 335px auto; */
    }
    .input-table-container .body-h-fixed{
      max-height: calc(100vh - 484px);
      overflow-y: auto;
      padding-top: 60px;
      position: absolute;
      left: 0;
      top: 0;
      width: 335px;
    }
    .input-table-container .body-h-fixed .body-row{
      display: grid;
      grid-template-columns: auto auto auto;
    }
    .input-table-container .body-h-scroll-wrapper{
      overflow-x: auto;
      overflow-y: auto;
      max-width: 5000px;
      max-height: calc(100vh - 475px);
      margin: 0 -11px -11px 0;
      padding-top: 59px;
      padding-left: 335px;
    }
    .input-table-container .body-h-scroll-wrapper .body-row{
      width: 100%;
      display: grid;
      grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
    }
    .body-row .body-col{
      background: #FFF;
      font-size: 15px;
      line-height: 18px;
      color: #000000;
      padding: 12px 14px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: 700;
      border: 2px solid #E0E0E0;
      border-width: 1px 0 1px 2px;
      height: 60px;
    }
    .body-row .body-col.option{
      background: #FFF;
    }
    .body-row .body-col.option img{
      width: 5px;
      height: 18px;
      margin: 0 auto;
    }
    .body-row .body-col.option,
    .body-row .body-col.number{
      min-width: 40px;
    }
    .body-row .body-col.fullname{
      min-width: 255px;
      border-width: 1px 2px 1px 2px;
    }
    .body-row .body-col.dob{
      min-width: 183px;
      border-width: 1px 0 1px 0;
    }
    .body-row .body-col.email{
      min-width: 255px;
    }
    .body-row .body-col.country-code{
      min-width: 130px;
    }
    .body-row .body-col.mobile{
      min-width: 185px;
    }
    .body-row .body-col.start-date{
      min-width: 160px;
    }
    .body-row .body-col.med-alloc{
      min-width: 175px;
    }
    .body-row .body-col.wel-alloc{
      min-width: 175px;
    }
    .body-row .body-col.bank-name{
      min-width: 200px;
    }
    .body-row .body-col.bank-num{
      min-width: 200px;
    }
    .body-row .body-col.dep-name{
      min-width: 255px;
    }
    .body-row .body-col.dep-dob{
      min-width: 220px;
    }
    .body-row .body-col.dep-rel{
      min-width: 255px;
    }

  /* ---------------------------------------------- */

/* ---------------------------------------------- */







/* ----------- BOTTOM BUTTONS ------------- */
.bottom-btns-wrapper{
  display: flex;
  background-color: #f5f8fa;
  border-top: solid 1px #d0d1d1;
  border-bottom: solid 1px #d0d1d1;
  height: 80px;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 50px;
}
.bottom-btns-wrapper .left-wrapper,
.bottom-btns-wrapper .right-wrapper{
  flex: 1;
}
.bottom-btns-wrapper .right-wrapper{
  text-align: right;
}
.bottom-btns-wrapper .btn-back{
  border: 2px solid #d6d6d6 !important;
  color: #2c3e50 !important;
  font-size: 16px !important;
  background-color: transparent;
  box-shadow: none;
  padding: 11px 39px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
}
.bottom-btns-wrapper .btn-cancel{
  font-size: 16px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #2E4057;
  text-transform: uppercase;
  margin-left: 20px;
  border-radius: 4px;
}
.bottom-btns-wrapper .btn-next{
  background-color: #0392cf;
  color: #fff;
  border: 0;
  box-shadow: none;
  padding: 11px 39px;
  font-weight: 700;
  font-size: 18px !important;
  text-transform: uppercase;
  border-radius: 4px;
}


/* ---------- CUSTOM RADIOBOX ---------- */
  .custom-radiobox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    /*margin-bottom: 12px;*/
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .custom-radiobox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #0392CF;
  }

  /* When the radio button is checked, add a blue background */
  .custom-radiobox-container input:checked ~ .checkmark {
    background-color: #fff;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .custom-radiobox-container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .custom-radiobox-container .checkmark:after {
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0392CF;
  }

/* ------------------------------------- */

.enrollment-communication-wrapper {
  color: #000000;
  padding: 80px 40px;
  height: 100vh;
}
.enrollment-communication-wrapper h3 {
  margin: 0;
  text-align: center;
}
.scheduled-date-container {
  display: flex;
  align-items: center;
  position: relative;
}
.emp-activation-email-container {
  font-size: 14px;
  width: 450px;
  margin: 0 auto;
}
.emp-activation-email-container label {
  color: #000000;
  margin: 0;
}
.emp-activation-input-container >div {
  margin: 0 0 20px;
}
.activation-email-text {
  display: flex;
  align-items: center;
  margin: 40px 0;
}
.activation-email-text .info-img-wrapper {
  position: relative;
  margin: 0 0 0 10px;
}
.activation-email-text .employee-activation-email-tooltip {
  position: absolute;
  top: 40px;
  left: -14px;
  background-color: #fff;
  padding: 20px;
  border-radius: 2px;
  border: 1px solid #DBDBDB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 370px;
  z-index: 1;
  display: none;
}
.employee-activation-email-tooltip:before {
  display: block;
  content: "";
  position: absolute;
  left: 15px;
  top: -8px;
  transform: rotate(45deg);
  border: 1px solid #DBDBDB;
  width: 15px;
  height: 15px;
  border-right: 0;
  border-bottom: 0;
  background-color: #fff;
}
.employee-activation-email-tooltip h5 {
  margin: 0;
  font-family: 'Helvetica Medium';
  padding: 0 0 10px;
  margin: 0 0 10px;
  border-bottom: 1px solid #000000;
}
.employee-activation-email-tooltip .btn-got-it {
  width: 87px;
  background-color: #0392CF;
  border-radius: 3px; 
  color: #fff;
  border: 0;
}
.employee-activation-email-tooltip >div {
  text-align: center;
  margin: 30px 0 0;
}
/*.activation-email-text p {
  margin: 0 10px 0 0;
}*/
.activation-email-text img {
  height: 18px;
  width: 18px;
}
.scheduled-date-container >label {
  width: auto;
}
.scheduled-date-container input {
  border: 0;
  padding: 0;
  width: 100%;
  outline: none;
}
.scheduled-date-container img {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 7px;
  right: 12px;
}
.scheduled-date-input-wrapper {
  border: 1px solid #BFBFBF;
  border-radius: 3px;
  padding: 4px 12px;
  width: 200px;
  position: relative;
  margin: 0 0 0 20px;
}

.enrollment-communication-footer {
  background-color: #F6F8FA;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px 60px;
  border-top: 1px solid #D6D6D6;
  display: flex;
}
.enrollment-communication-footer >div:first-child {
  flex: 1;
}
.enrollment-communication-footer button {
  width: 140px;
  height: 50px;
  border-radius: 5px;
}
.enrollment-communication-footer .btn-back {
  background-color: transparent;
  border: 2px solid #D6D6D6;
}
.enrollment-communication-footer .btn-complete {
  color: #fff;
  background-color: #0392CF;
  border: 1px solid #0392CF;
}

@media (max-width: 1100px) {
  .activation-email-text .employee-activation-email-tooltip {
    left: -99px;
  }
  .employee-activation-email-tooltip:before {
    left: 100px;
  }
}

@media (max-width: 1024px) {
  .activation-email-text .employee-activation-email-tooltip {
    left: inherit;
    right: -30px;
  }
  .employee-activation-email-tooltip:before {
    right: 31px;
    left: inherit;
  }
}

@media ( max-width: 575px ) {
  .enrollment-communication-footer {
    display: block;
  }
  .enrollment-communication-wrapper {
    padding: 20px;
    height: 100vh;
  }
  .enrollment-communication-footer button {
    width: 100%;
    margin: 0 0 10px;
    height: 40px;
    font-size: 14px;
  }
  .emp-activation-email-container {
    width: 100%;
  }
  .scheduled-date-container {
    display: block;
  }
  .scheduled-date-input-wrapper {
    margin: 10px 0 0;
  }
}

@media ( max-width: 460px ) {
  .activation-email-text .employee-activation-email-tooltip {
    right: inherit;
    width: 280px;
  }
}

@media ( max-width: 400px ) and (min-width: 336px ) {
  .activation-email-text {
    width: 292px;
  }
  .employee-activation-email-tooltip:before {
    right: 153px;
    left: inherit;
  }
}

@media (max-width: 335px) {
  .employee-activation-email-tooltip:before {
    left: 173px;
    right: inherit;
  }
}

.enterprise-summary-wrapper {
  color: #2E4057;
  width: 450px;
  margin: 0 auto;
}
.enterprise-summary-wrapper h3 {
  margin: 40px 0;
}
.enterprise-summary-wrapper h3,
.enterprise-summary-wrapper p {
  text-align: center;
}
.enterprise-summary-wrapper p {
  font-size: 14px;
  margin: 0 0 30px;
  line-height: normal;
  font-family: 'Helvetica Medium';
}
.summary-account-wrapper {
  position: relative;
  margin: 0 0 20px;
}
.summary-account-wrapper >div:first-child {
  border: 2px solid #e0e0e0;
  border-radius: 4px;
  padding: 20px;
}
.summary-total-due {
  position: absolute;
  top: 0;
  right: -230px;
  background-color: #F2F2F2;
  padding: 20px;
  width: 200px;
  font-family: 'Helvetica Medium';
  border-radius: 4px;
}
.summary-account-wrapper >div h4 {
  margin: 0 0 20px;
  font-family: 'Helvetica Medium';
}
.sum-total-container {
  margin: 20px 0 0;
}
.summary-account-wrapper label,
.summary-account-wrapper span,
.sum-total-amount label,
.sum-total-amount span,
.summary-total-due label,
.summary-total-due span {
  font-size: 14px;
  color: #2E4057;
  margin: 0;
}
.summary-total-due span {
  font-size: 20px;
}
.plan-type-container, 
.account-sub-term-container {
  font-size: 15px;
  font-family: 'Helvetica Medium';
}
.sum-employee-text,
.sum-employee-text span {
  color: #969696;
  font-size: 14px;
}

.sum-employee-text {
  border-bottom: 1px solid #e0e0e0;
  padding: 0 0 20px;
  margin:  0 0 20px;
}
.sum-total-amount {
  display: flex;
  font-family: 'Helvetica Medium';
}
.sum-total-amount label {
  flex: 1;
}
.enterprise-sum-footer-wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: #F6F8FA;
  width: 100%;
  left: 0;
  padding: 20px 60px;
  border-top: 1px solid #D6D6D6;
}
.enterprise-sum-footer-wrapper >div:first-child {
  flex: 1;
}
.enterprise-sum-footer-wrapper  button {
  width: 140px;
  height: 50px;
  border-radius: 5px;
}
.enterprise-sum-footer-wrapper .btn-back {
  background-color: transparent;
  border: 2px solid #D6D6D6;
}
.enterprise-sum-footer-wrapper .btn-cancel {
  background-color: transparent;
  border: 0;
  text-decoration: underline;
  width: auto;
  margin: 0 0 0 10px;
}
.enterprise-sum-footer-wrapper .btn-complete {
  color: #fff;
  background-color: #0392CF;
  border: 1px solid #0392CF;
  width: auto;
  padding: 0 20px;
  margin: 0 0 0 10px;
}
.enterprise-sum-footer-wrapper .enrolling-emp-dep span {
  color: #0392CF;
  font-size: 14px;
}

@media ( max-width:  992px ) {
  .enterprise-sum-footer-wrapper {
    padding: 20px;
  }
}
@media ( max-width: 965px ) {
  .summary-total-due {
    position: relative;
    right: inherit;
    margin: 20px 0 0;
  }
}
@media ( max-width: 900px ) {
  .enterprise-sum-footer-wrapper button {
    height: 40px;
    width: 100px;
    font-size: 14px;
  }
}
@media ( max-width: 820px ) {
  .enterprise-summary-wrapper {
    padding-bottom: 100px;
  }
  .enterprise-sum-footer-wrapper {
    display: block;
  }
  .enrolling-emp-dep {
    margin: 20px 0 0;
  }
  .enrolling-emp-dep >span {
    display: block;
  }
  .enterprise-sum-footer-wrapper .btn-complete {
    margin: 10px 0 0;
  }
}
@media ( max-width: 500px ) {
  .enterprise-summary-wrapper {
    width: auto;
    margin: 0 20px;
  }
}








