*{
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
  background: #FFF;
  font-family: 'Helvetica Light';
  color: #0E0E0E;
  font-size: 20px;
  font-weight: 700;
  overflow-x: hidden;
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
  letter-spacing: .14px;
  line-height: 1.42857143;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  color: #3192CF;
}
b{
  font-family: 'Helvetica Medium';
}

#main-content{

}
.header-container{

}
.header-wrapper{
  text-align: center;
  max-width: 1020px;
  margin: 0 auto;
}
.logo-wrapper{
  
}
.logo-wrapper img{
  margin: 50px auto 0 auto;
  width: 210px;
}
.banner-text-wrapper{
  margin: 80px 0 20px 0;
}
.banner-text-wrapper p{
  margin-bottom: 15px;
}

/* BODY */
.body-wrapper{
  max-width: 1020px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.body-wrapper section{
  padding: 60px 0;
}

.row-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.col-box{
  flex: 1;
}
.col-box.flex-1{
  flex: 1;
}
.col-box.flex-1-5{
  flex: 1.5;
}
.col-box.flex-2{
  flex: 2;
}
.col-box.flex-3{
  flex: 3;
}
#one .img-wrapper{
  width: 541px;
}
#two .img-wrapper{
  width: 635px;
  margin-left: auto;
}
#three .img-wrapper{
  width: 610px;
}
.img-wrapper img{
  width: 100%;
  border: 1px solid #dbdada;
  box-shadow: 1px 1px 4px #b3b3b3;
}




.how-it-works-wrapper{
  padding: 120px 0 50px 0;
  background: rgba(242, 242, 242, 0.49);
  height: 500px;
}
.how-it-works-wrapper > p{
  text-align: center;
  color: #000000;
  margin-bottom: 80px;
}
.steps-wrapper{
  text-align: center;
  max-width: 1250px;
  margin: 0 auto;
}
.steps-wrapper .row-box{
  align-items: flex-start;
}
.steps-wrapper .number-wrapper{
  position: relative;
  text-align: center;
}
.number-wrapper .num{
  height: 25px;
  width: 25px;
  background: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 15px;
  color: #2E4057;
  line-height: 25px;
  z-index: 5;
  position: relative;
}
.number-wrapper::before{
  border-radius: 10px;
  height: 20px;
  width: calc(100% + 20px);
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 1;
}
.number-wrapper.five::before{
  width: 100%;
}
.number-wrapper.one::before{
  background: #B4E8FE;
}
.number-wrapper.two::before{
  background: #81D8FD;
}
.number-wrapper.three::before{
  background: #1DB9FC;
}
.number-wrapper.four::before{
  background: #0392CF;
}
.number-wrapper.five::before{
  background: #037CB0;
}
.steps-wrapper .step-description{
  padding: 35px 30px;
}


.footer-wrapper{
  text-align: center;
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  color: #FFFFFF;
  background: #2E4057;
  height: 237px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 1330px) {
  .how-it-works-wrapper{
    padding: 120px 50px 50px 50px;
  }
}

@media (max-width: 1145px) {
  .header-wrapper{
    padding: 0 50px;
  }
  .body-wrapper{
    padding: 0 50px 60px 50px;
  }
  .steps-wrapper .step-description {
    padding: 35px 10px;
  }
}

@media (max-width: 1020px) {
  .col-box.md-flex-2{
    flex: 2;
  }
  .body-wrapper{
    padding: 0 50px 60px 50px;
  }
  #one .img-wrapper{
    width: 90%;
  }
  #two .img-wrapper{
    width: 90%;
  }
  #three .img-wrapper{
    width: 90%;
  }
  .steps-wrapper .step-description {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .body-wrapper .row-box .col-box{
    flex: none;
    width: 100%;
  }
  .body-wrapper .row-box .col-box .img-wrapper{
    width: 100% !important;
  }
  .body-wrapper .row-box .col-box p{
    margin-top: 20px;
    text-align: center;
  }
  .body-wrapper #two .row-box{
    flex-wrap: wrap-reverse;
  }
}

@media (max-width: 700px) {
  .how-it-works-wrapper{
    height: auto;
  }
  .steps-wrapper{
    max-width: 250px;
  }
  .steps-wrapper .col-box{
    flex: none;
    width: 100%;
  }
  .number-wrapper::before {
    width: 100%;
  }

  .footer-wrapper{
    padding: 0 50px;
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .header-wrapper{
    font-size: 18px;
  }
  .body-wrapper{
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .header-wrapper{
    padding: 0 25px;
  }
  .body-wrapper{
    padding: 0 25px 60px 25px;
  }
}