<div id="main-content" class="" style="padding: 20px 10px;background: #EEEEEE;" benefits-directive>
	<div class="col-md-3 benefits-side">
		<div class="benefits-side-wrapper">
			<h4 class="padding-10-20 border-bottom no-margin">Filters</h4>
		</div>
	</div>

	<div class="col-md-9 benefits-content">
		<div class="benefits-content-wrapper">
			<div class="col-md-12 no-padding content" >
				<div class="first-content" style="background: url('../assets/userWeb/img/benefits/3.jpg');">
					
				</div>
			</div>

			<div class="col-md-12 no-padding content" >
				<div class="second-content">
					
				</div>
			</div>

			<div class="col-md-12 no-padding content" >
				<div class="third-content" >
					
				</div>
			</div>
		</div>
	</div>
</div>