<div id="main-content" style="padding: 0;background: #F1F1F1;" ecommerce-directive>
	<div class="col-md-12 no-padding text-center">
		<div class="search-wrapper">
			<div class="input-group ">
		      <input type="text" class="form-control" placeholder="Search">
		      <span class="input-group-btn">
		        <button class="btn btn-info" style="background: #D43C51 !important;border-color: #D43C51; "> <i class="fa fa-search"></i> </button>
		      </span>
		    </div>
		</div>
		<div class="categories-wrapper">
			<div class="category">
				<a href="">Wellness Product</a>
				<div class="line-bottom"></div>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="subcat-wrapper">
			<div id="oneHover" class="subcat" ng-mouseover="oneHover()">
				<a href="">HIGHLIGHTS</a>
			</div>

			<div id="twoHover" class="subcat" ng-mouseover="twoHover()">
				<a href="">SHOP BY BRANDS</a>
			</div>

			<div id="threeHover" class="subcat" ng-mouseover="threeHover()">
				<a href="">SHOP CATEGORIES</a>
			</div>
		</div>
	</div>

	<div id="one" class="col-md-12 content-container ">
		<div class="col-md-4 no-padding">
			<div class="content-wrapper" style="height:410px">
				
			</div>
		</div>

		<div class="col-md-4 no-padding">
			<div class="content-wrapper">
				
			</div>
		</div>

		<div class="col-md-4 no-padding">
			<div class="content-wrapper">
				
			</div>
		</div>

		<div class="col-md-2 no-padding">
			<div class="content-wrapper">
				
			</div>
		</div>
		<div class="col-md-2 no-padding">
			<div class="content-wrapper">
				
			</div>
		</div>

		<div class="col-md-4 no-padding">
			<div class="content-wrapper">
				
			</div>
		</div>
	</div>

	<div id="two" class="col-md-12 content-container " hidden>
		<div class="col-md-4 no-padding" >
			<div class="col-md-6 no-padding">
				<div class="content-wrapper">
					
				</div>
			</div>
			<div class="col-md-6 no-padding">
				<div class="content-wrapper">
					
				</div>
			</div>
			<div class="col-md-6 no-padding">
				<div class="content-wrapper">
					
				</div>
			</div>
			<div class="col-md-6 no-padding">
				<div class="content-wrapper">
					
				</div>
			</div>
		</div>
		<div class="col-md-4 no-padding" >
			<div class="col-md-6 no-padding">
				<div class="content-wrapper">
					
				</div>
			</div>
			<div class="col-md-6 no-padding">
				<div class="content-wrapper">
					
				</div>
			</div>
			<div class="col-md-6 no-padding">
				<div class="content-wrapper">
					
				</div>
			</div>
			<div class="col-md-6 no-padding">
				<div class="content-wrapper">
					
				</div>
			</div>
		</div>

		<div class="col-md-4 no-padding" >
			<div class="content-wrapper" style="height:410px">
				
			</div>
		</div>
		
	</div>

	<div id="three" class="col-md-12 content-container " hidden>
		<div class="col-md-2 no-padding">
			<div class="content-wrapper">
				
			</div>
		</div>
		<div class="col-md-2 no-padding">
			<div class="content-wrapper">
				
			</div>
		</div>
		<div class="col-md-2 no-padding">
			<div class="content-wrapper">
				
			</div>
		</div>
		<div class="col-md-2 no-padding">
			<div class="content-wrapper">
				
			</div>
		</div>
		<div class="col-md-2 no-padding">
			<div class="content-wrapper">
				
			</div>
		</div>
		<div class="col-md-2 no-padding">
			<div class="content-wrapper">
				
			</div>
		</div>
		<div class="col-md-2 no-padding">
			<div class="content-wrapper">
				
			</div>
		</div>
		<div class="col-md-2 no-padding">
			<div class="content-wrapper">
				
			</div>
		</div>
		<div class="col-md-2 no-padding">
			<div class="content-wrapper">
				
			</div>
		</div>
		<div class="col-md-2 no-padding">
			<div class="content-wrapper">
				
			</div>
		</div>
		<div class="col-md-2 no-padding">
			<div class="content-wrapper">
				
			</div>
		</div>
		<div class="col-md-2 no-padding">
			<div class="content-wrapper">
				
			</div>
		</div>
		
	</div>

</div>