<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Medicloud-Doctor-Settings</title>
<link href="medicloud.css" rel="stylesheet" type="text/css">
<style type="text/css">

@import url("sinkin-sans-fontfacekit/web fonts/sinkinsans_300light_macroman/stylesheet.css");
body,td,th,input,textarea {font-family: 'sinkin_sans300_light';}
</style>
</head>

<body class="mc-bg-white">
<div class="mc-container">  <!--MC CONTAINER (MAIN)-->
  <div class="mc-background-color"><!--MC BACKGROUND COLOR -->
 
 
  <!--HEADER START-->
    <div class="mc-header">
      <div class="mc-logo-container mc-fl"><img src="images/mc-logo-left.png" width="197" height="43" alt="medicloud-logo" longdesc="images/mc-logo-left.png"></div>
        <div class="mc-main-menu ">
         <ul>
          <li>HOME</li>
          <li>DASHBOARD</li>
          <li>SETTINGS</li>
           <div class="mc-btn-logout">Logout</div>
         </ul>
        </div>
        <div class="clear"></div>
    </div>
   <!--HEADER END-->   
    
    
    <div class="mc-border-line"></div>
    
    
    <!--DOCTOR SELECTION START-->
    <!--<div class="mc-dr-selection-container">
      <div class="icn-doctor mc-fl"><img src="images/icn-doctor.png" width="23" height="23" alt="img-icon-doctor" longdesc="images/icn-doctor.png"></div>
      
      <div class="mc-fl">
      	<div class="select-box mc-fl">
        <select>
        <option>Select a Doctor</option>
        <option>Dr.Ishani Rodrigo</option>
        <option>Dr.Ruberu</option>
        <option>Dr.Sunil Wijesinghe</option>
        <option>Dr.Ishani Rodrigo</option>
        <option>Dr.Ruberu</option>
        <option>Dr.Sunil Wijesinghe</option>
        <option>Dr.Ishani Rodrigo</option>
        <option>Dr.Ruberu</option>
        </select>
       </div>
      </div>
      <div class="mc-btn-add-doctor mc-fr">ADD A DOCTOR</div>
    </div>-->
    <!--DOCTOR SELECTIONR END-->
    
   <div class="mc-clear"></div>
    
     
    <div class="mc-doctor-profile-container"><!--DOCTOR PROFILE CONTAINER-->
    <div class="mc-dr-profile-detail mc-pad-l"><!--DOCTOR PROFILE DETAILS-->
        <div class="mc-dr-profile-image"><img src="images/mc-profile-img.png" width="125" height="125" alt="img-profile" longdesc="images/mc-profile-img.png"></div>
        <div class="mc-profile-form"><!--PROFILE FORM-->
        <form  method="get">
        <fieldset>
          <div class="mc-form-spacer">
          <input name="" type="text" placeholder="Dr. Linda Hill ">
          <div class="mc-border-line"></div>
          </div>
          
           <div class="mc-form-spacer">
          <input name="" type="text" placeholder="MD">
          <div class="mc-border-line"></div>
          </div>
          
           <div class="mc-form-spacer">
          <input name="" type="text" placeholder="General Practitioner ">
          <div class="mc-border-line"></div>
          </div>
          
           <div class="mc-form-spacer">
          <input name="" type="text" placeholder="212 876 0098 ">
          <div class="mc-border-line"></div>
          </div>
          
          
          
          
           <div class="mc-form-spacer">
          <input class="inputshort " name="" type="text" placeholder="212 834 0098"> <label class=" mc-label mc-fl" >Emergency</label>
          <div class="mc-clear"></div>
          <div class="mc-border-line"></div>
          </div>
          
          
           <div class="mc-form-spacer">
          <input name="" type="text" placeholder="linda.hill@springhill.com">
          <div class="mc-border-line"></div>
          </div>
         
           <div class="mc-btn-container">
             <div class="mc-btn-save-changes">SAVE CHANGES</div>
             <div class="mc-btn-cancel">Cancel</div>
           </div>
        </fieldset>
        </form>
        </div><!--PROFILE FORM END-->
    </div><!--DOCTOR PROFILE DETAILS END-->
    
   
    <div class="mc-profile-detail-rcolum mc-fl mc-mar-l"> <!--PROFILE DETAIL RIGHT -->
      <div class="mc-header2">Consultation Charges</div>
      <div class="mc-price-display">100<span class=" span mc-font">$</span></div>
      
       		<div class="mc-btn-container">
             	<div class="mc-btn-save-changes">SAVE CHANGES</div>
             	<div class="mc-btn-cancel">Cancel</div>
           	</div>
      
      <div class="mc-clear"></div>
      <div class="mc-header3">Consultation Duration</div>
      <div class="select-box">
        <select>
        <option>30min</option>
        <option>40min</option>
        <option>50min</option>
        <option>60min</option>
        
        
        </select>
       </div>
      
    </div> 
    <!--PROFILE DETAIL RIGHT END -->
    <div class="mc-clear"></div>  
    <div class="mc-calendar">
      
      
      <div class="mc-calendar-space-none mc-fl">
        <div class="mc-color-box-blue mc-fl"></div>
        <label class="mc-fl mc-label2">AVAILABLE</label>
        <div class="mc-clear"></div>
      </div>
      
      <div class="mc-calendar-space mc-fl">
        <div class="mc-color-box-gray mc-fl"></div>
        <label class="mc-fl mc-label2">BUSY</label>
        <div class="mc-clear"></div>
      </div>
      
      <div class="mc-date-toggle-container mc-fl">
        <div class="mc-arrow-white mc-fl"><img src="images/icn-arrow-white.png" width="17" height="27" alt="img-arrow" longdesc="images/icn-arrow-white.png"></div>
        <div class="mc-date-blue mc-fl"><img src="images/icn-date-blue.png" width="25" height="27" alt="img-date-blue" longdesc="images/icn-date-blue.png"> </div>
        <label class="mc-fl mc-label3">Today, June 23, 2014</label>
        <div class="mc-arrow-blue mc-fl"><img src="images/icn-arrow-blue.png" width="17" height="27" alt="img-arrow" longdesc="images/icn-arrow-blue.png"></div>
      </div>
      
      
      
      <div class="mc-calendar-option"> 
        <div class="option">Day</div>
        <div class="select">Week</div>
        <div class="option">Month</div>
      </div>
    </div>
    
    
    
    <div class="mc-calendar-view">
      <div class="calendar-time">
        <div class="mc-time mc-label4">7 am</div>
        <div class="mc-time mc-label4">8 am</div>
        <div class="mc-time mc-label4">9 am</div>
        <div class="mc-time mc-label4">10 am</div>
        <div class="mc-time mc-label4">11 am</div>
        <div class="mc-time mc-label4">Noon</div>
        <div class="mc-time mc-label4">1 pm</div>
        <div class="mc-time mc-label4">2 pm</div>
        <div class="mc-time mc-label4">3 pm</div>
        <div class="mc-time mc-label4">4 pm</div>
      </div>
      <div class="mc-fl mc-blancer">
        <div class="mc-calendar-day">
          <div class="mc-day">MONDAY</div>
          <div class="mc-day">TUESDAY</div>
          <div class="mc-day">WEDNESDAY</div>
          <div class="mc-day">THURSDAY</div>
          <div class="mc-day">FRIDAY</div>
          <div class="mc-day">SATURDAY</div>
          <div class="mc-day">SUNDAY</div>
        </div>
        
        <div class="mc-border-line"></div>
        
        <div class="mc-day-option-container">
          <div class="mc-day-block">
            <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          
          <div class="mc-day-block-last">
          <div class="mc-slot1-last"></div>
             <div class="mc-slot2-last"></div>
          </div>
          
        </div>
        
        
        
          <div class="mc-border-line"></div>
        
        
        
        
        <div class="mc-day-option-container">
          <div class="mc-day-block">
            <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          
          <div class="mc-day-block-last">
          <div class="mc-slot1-last"></div>
             <div class="mc-slot2-last"></div>
          </div>
          
        </div>
        
        
         <div class="mc-border-line"></div>
        
        
        
        
        <div class="mc-day-option-container">
          <div class="mc-day-block">
            <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          
          <div class="mc-day-block-last">
          <div class="mc-slot1-last"></div>
             <div class="mc-slot2-last"></div>
          </div>
          
        </div>
        
        
        
         <div class="mc-border-line"></div>
        
        
        
        
        <div class="mc-day-option-container">
          <div class="mc-day-block">
            <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          
          <div class="mc-day-block-last">
          <div class="mc-slot1-last"></div>
             <div class="mc-slot2-last"></div>
          </div>
          
        </div>
        
        
        
         <div class="mc-border-line"></div>
        
        
        
        
        <div class="mc-day-option-container">
          <div class="mc-day-block">
            <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          
          <div class="mc-day-block-last">
          <div class="mc-slot1-last"></div>
             <div class="mc-slot2-last"></div>
          </div>
          
        </div>
        
        
         <div class="mc-border-line"></div>
        
        
        
        
        <div class="mc-day-option-container">
          <div class="mc-day-block">
            <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          
          <div class="mc-day-block-last">
          <div class="mc-slot1-last"></div>
             <div class="mc-slot2-last"></div>
          </div>
          
        </div>
        
        
         <div class="mc-border-line"></div>
        
        
        
        
        <div class="mc-day-option-container">
          <div class="mc-day-block">
            <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          
          <div class="mc-day-block-last">
          <div class="mc-slot1-last"></div>
             <div class="mc-slot2-last"></div>
          </div>
          
        </div>
        
        
         <div class="mc-border-line"></div>
        
        
        
        
        <div class="mc-day-option-container">
          <div class="mc-day-block">
            <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          
          <div class="mc-day-block-last">
          <div class="mc-slot1-last"></div>
             <div class="mc-slot2-last"></div>
          </div>
          
        </div>
        
         <div class="mc-border-line"></div>
        
        
        
        
        <div class="mc-day-option-container">
          <div class="mc-day-block">
            <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          
          <div class="mc-day-block-last">
          <div class="mc-slot1-last"></div>
             <div class="mc-slot2-last"></div>
          </div>
          
        </div>
        
         <div class="mc-border-line"></div>
        
        
        
        
        <div class="mc-day-option-container">
          <div class="mc-day-block">
            <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1"></div>
             <div class="mc-slot2"></div>
          </div>
          <div class="mc-day-block">
          <div class="mc-slot1 mc-slot-color"></div>
             <div class="mc-slot2 mc-slot-color"></div>
          </div>
          
          <div class="mc-day-block-last">
          <div class="mc-slot1-last"></div>
             <div class="mc-slot2-last"></div>
          </div>
          
        </div>
        
        <div class="mc-clear"></div>
       
      </div>
    </div>
    
     <div class="mc-clear"></div>
    <div class="mc-footer">
      <div class="mc-fl">
  <div class="mc-copyright mc-label5">© 2014 Medicloud. All rights reserved</div>
        <div class="mc-links mc-label3">About | Terms of Service | Privacy Policy</div>
      </div>
      
      
      <div class="mc-fr">
        <div class="mc-social-icon mc-fl"><img src="images/img-mail.png" width="52" height="55"></div>
        <div class="mc-social-icon mc-fl"><img src="images/img-fb.png" width="52" height="55"></div>
        <div class="mc-social-icon mc-fl"><img src="images/img-twtr.png" width="52" height="55"></div>
        <div class="mc-social-icon mc-fl"><img src="images/img-gp.png" width="52" height="55"></div>
      </div>
    </div> 
    </div><!--DOCTOR PROFILE CONTAINER END-->
    
<div class="mc-clear"></div>
  </div><!--MC BACKGROUND COLOR END -->
  </div><!--MC CONTAINER (MAIN) END -->

</body>
</html>
