<div id="main-content" class="no-padding" style="height: 99%;" calendar-directive>
	<div class="calendar-opts">
		<div class="col-md-6">
			<button class="btn btn-default" ng-click="getCalendar()"><i class="fa fa-chevron-left"></i></button>
			<button class="btn btn-default" ng-click="getCalendar()"><i class="fa fa-chevron-right"></i></button>
		</div>
		<div class="col-md-6 text-right">
	        <div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="calendar-view-option" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    Weekly
			    <span class="caret"></span>
			  </button>
			  <ul id="calendar-view-option" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
			    <li><a href="#" id="w">Weekly</a></li>
	            <li><a href="#" id="d">Daily</a></li>
	            <li><a href="#" id="m">Monthly</a></li>
			  </ul>
			</div>
			
		</div>
	</div>
	<div id='calendar'></div>
</div>

