

<div id="login-content" ng-controller="MainCtrl as forgot" >
	<div class="sk-double-bounce" id="loader-home" hidden>
	    <div class="sk-child sk-double-bounce1"></div>
	    <div class="sk-child sk-double-bounce2"></div>
	</div>
	<div class="col-md-12 text-center login-logo">
		<img src="../user/img/mednefits logo v3 (white) LARGE.png" class="img-20">
	</div>

	<div class="col-md-12">
		<div class="login-wrapper text-center" style="padding: 20px 50px !important;">
			<div class="white-space-10"></div>
			<h5><b>Forgot Your Password?</b></h5>
			<div class="white-space-1"></div>
			<h5><b>We'll get you setup in no time</b></h5>
			<div class="white-space-10"></div>

			<form ng-submit="forgot.forgotPassword()">
				<div class="form-group">
					<input type="email" class="form-control" name="email" placeholder="Email" ng-model="forgot.forgot.email" required>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-info form-control" id="reset-btn">Reset Password</button>
				</div>
				<div class="form-group" id="success-reset" hidden>
					<label ng-bind="forgot.message"></label>
				</div>
				<div class="form-group">
					<p class="text-center" style="font-size: 12px;">Already have an account? <a href="javascript:void(0)" ui-sref="login" style="color: #2C9FD7">Login</a></p>
				</div>
			</form>
		</div>
	</div>
	
</div>

