/* ------------------ REFUND SUMMARY ------------------------- */
#refund-summary .refund-header {
  color: #000;
  grid-area: refund-header;
}

#refund-summary .refund-sub-header {
  /* color: #2E4057; */
  grid-area: refund-sub-header;
}

#refund-summary .refund-main {
  /* color: #2E4057; */
  grid-area: refund-main;
}

#refund-summary .refund-side-main {
  /* color: #2E4057; */
  grid-area: refund-side-main;
}

#refund-summary .refund-container {
  color: #2E4057;
  display: grid;
  grid-template-columns: 3.5fr 1.5fr;
  grid-template-rows: auto;
  grid-column-gap: 35px;
  grid-template-areas:
  "refund-header      ."
  "refund-sub-header  ."
  "refund-main        refund-side-main";
  
  text-align: center;
}

#refund-summary {
  padding-top: 150px;
  width: 60%;
  margin: 0 auto;
}

#refund-summary .main-item {
  width: 100%;
  /* height: 301px; */

  border: 2px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 24px;
}

#refund-summary .side-main-item {
  text-align: left;
  width: 100%;
  /* height: 122px; */

  background: #F2F2F2;
  border-radius: 5px;
  line-height: 20px;
  padding: 24px;
}

#refund-summary .side-main-item label{
  color: #2E4057;
  padding-bottom: 10px;
  font-weight: bolder;
}

#refund-summary .main-section-1, 
#refund-summary .section-2-left {
  text-align: left;
}

#refund-summary .section-2-right {
  text-align: right;
}

#refund-summary .main-section-1 label{
  padding-bottom: 21px;
  color: #2E4057;
  font-weight: bolder;
}

#refund-summary .main-section-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 35px;
  padding-top: 22px;
  border-top: 1px solid #D9D9D9;
  font-weight: bolder;
}

#refund-summary .section-2-right small{
  color: #037CB0;
}

#refund-summary .see-calculation {
  float: right;
  width: 227px;
  /* height: 51px; */
  font-size: 12px;
  line-height: 14px;
  background: #F2F2F2;
  border-radius: 5px;
  padding: 10px 13px;
}
/* ----------------------------------------------------------- */