<div class="fixed-menu">
	<ul class="nav navbar-nav">	

        <li id="home_li"><a ui-sref="home"> <i class="fa fa-home"></i></a></li>
        <li id="favourites_li"><a ui-sref="favourites"><i class="fa fa-heart"></i> </a></li>
        <li id="appointments_li"><a ui-sref="appointments"><i class="fa fa-envelope"></i></a></li>
        <li id="wallet_li"><a ui-sref="wallet"><i class="fa fa-credit-card"></i></a></li>
        <li id="profile_li"><a ui-sref="profile"><i class="fa fa-cog"></i></a></li>
	</ul>
</div>