body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Helvetica-Light';
}

body >div:first-child {
  height: 100vh;
}


.mobile-exersicse-wrapper {
  background: #fff;
  padding: 0 70px;
  height: 100%;
  box-sizing: border-box;
}

.login-need-help-container a {
  text-decoration: none;
}

.need-help-text h3 {
  /* font-size: 16px; */
  font-size: 14px;
  font-family: "Open Sans";
  color: #777777;
  font-weight: 800;
  margin-top: 15px;
  /* margin-top: 22px; */
}

a.tooltips {
    position: relative;
    display: inline;
}

.need-help-text:hover, .need-help-text h3:hover {
  text-decoration: none;
  color: #909090;
}

a:hover.tooltips div.tooltip-container {
  visibility: visible;
  /* opacity: 0.8; */
  top: 30px;
  margin-top: 15px;
  margin-left: -220px;
  z-index: 999;
}

a.tooltips div.tooltip-container {
  position: absolute;
  width: 230px;
  color: #FFFFFF;
  background: #f1eded;
  height: auto;
  line-height: 30px;
  padding: 35px 35px;
  visibility: hidden;
  margin-left: -600px;
  z-index: 9999;
}

a.tooltips div.tooltip-container:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 90%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-bottom: 8px solid #efefef;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

h3.tooltip-title {
  color: #0392cf;
  font-size: 22px;
  margin-bottom: 50px;
  margin-top: 0px;
}

h3.tooltip-phone-email-title {
  color: #494949;
  font-size: 18px;
  margin-bottom: 2px;
}

h3.tooltip-phone-email-details {
  color: #8a8a8a;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mobile-exercise-body-container .login-logo {
  margin-top: 60px;
  height: 50px;
}

.mobile-exercise-body-container .text-below-image {
  color: #777777;
  font-family: "Open Sans";
  margin-top: 10px;
  font-size: 23px;
}

.mobile-exercise-body-container >div:first-child {
  display: inline-block;
  width: 100%;
}

.mobile-exercise-body-container >div img {
  display: block;
  margin: 0 auto;
}

.mobile-exercise-body-container >div h2 {
  text-align: center;
}

.mobile-exercise-form-container {
  width: 390px;
  margin: 0 auto;
}

.mobile-exercise-form-container p {
  font-size: 15px;
  font-family: sans-serif;
  margin: 0 0 30px;
}

.mobile-exercise-form-container .thank-you-text{
  text-align: center;
  margin: 20px 0 50px;
}

.mobile-exercise-form-container input {
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 4px;
  color: #555;
  padding: 0 20px;
  height: 60px;
  font-size: 18px;
  box-sizing: border-box;
}

.mobile-exercise-form-container label {
  color: #777;
  font-size: 14px;
  font-family: sans-serif;
  margin: 0 0 10px;
  display: block;
}

.mobile-exercise-input-wrapper {
  margin: 0 0 20px;
}

.mobile-exercise-btn-footer {
  margin: 40px 0 0;
}

.mobile-exercise-btn-footer >button {
  display: block;
  color: #fff;
  height: 60px;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
  margin: 0 0 20px;
  border: 0;
}

.mobile-exercise-btn-footer .btn-confirm,
.mobile-exercise-btn-footer .btn-submit,
.mobile-exercise-btn-footer .btn-home {
  background: #0392cf;
}

.mobile-exercise-btn-footer .btn-cancel {
  background: #b0b0b0;
}

.mobile-exercise-btn-footer .btn-confirm-disabled {
  background: #b3def1;
}

.country-code-input-wrapper {
  display: flex;
}

.country-code-input-wrapper >div:first-child {
  position: relative;
  width: 30%;
}

.country-code-input-wrapper >div:first-child input {
  border-radius: 4px 0 0 4px;
  border-right: 0;
} 

.country-code-input-wrapper >div:first-child i {
  border-radius: 4px 0 0 4px;
  position: absolute;
  right: 10px;
  top: 20px;
  color: #777;
}

.country-code-input-wrapper >input {
  border-radius: 0 4px 4px 0;
} 

.mobile-exercise-dependent-container .dependent-name-container {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0 0 20px;
}


@media (max-width: 575px) {
  .mobile-exersicse-wrapper {
    padding: 0 20px;
  }

  .mobile-exercise-form-container {
    width: 100%;
  }
}










