<div class="main-container" style="" activity-directive>

	<div id="white-nav" ui-view="navigation" style=""></div>

	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="home-container">
			<div class="white-space-50"></div>
			<!-- <p class="color-gray text-left weight-700 activity-date-header"> -->
			<!-- <span style="margin-right: 10px;">Select a timeframe </span> -->
			<!-- <span class="xs-show2"></span>
				<span class="year-selector"><a href="javascript:void(0)" ng-class="{'active' : year_active == 1}" ng-click="setYear('1')">This year</a></span>
				<span class="year-selector"><a href="javascript:void(0)" ng-class="{'active' : year_active == 2}" ng-click="setYear('2')">Last year</a></span>
				<span class="year-selector"><a href="javascript:void(0)" ng-class="{'active' : year_active == 3}" ng-click="showCustomDate(3)">Custom</a></span> -->
			<!-- </p> -->

			<!-- left-input -->
			<div class="date-selection-container col-md-7" style="display: inline-block;">
				<div class="input-label custom-select withIcon">
					<select class="select" ng-change="toDate('mtd')" ng-model="select_term" name="term" id="">
						<option value="current">Current Term</option>
						<option ng-if="isHaveLastTerm" value="last">Last Term</option>
					</select>
					<i class="fa fa-chevron-down" aria-hidden="true"></i>
				</div>

				<div ng-if="select_term == 'current'" style="display: inline-block">
					<div class="input-label">
						<input type="radio" name="td" id="wtd" ng-change="toDate('wtd')" ng-model="select_to_date" value="wtd"
							placeholder="WTD">
						<label class="radio" for="wtd">WTD</label>
					</div>
					<div class="input-label">
						<input type="radio" name="td" id="mtd" ng-change="toDate('mtd')" ng-model="select_to_date" value="mtd"
							placeholder="MTD">
						<label class="radio" for="mtd">MTD</label>
					</div>
					<div class="input-label">
						<input type="radio" name="td" id="qtd" ng-change="toDate('qtd')" ng-model="select_to_date" value="qtd"
							placeholder="QTD">
						<label class="radio" for="qtd">QTD</label>
					</div>
					<div class="input-label">
						<input type="radio" name="td" id="ytd" ng-change="toDate('ytd')" ng-model="select_to_date" value="ytd"
							placeholder="YTD">
						<label class="radio" for="ytd">YTD</label>
					</div>
				</div>
			</div>
			<!-- right-input -->
			<div class="date-selection-container col-md-5" style="display: inline-block; text-align: right;">
				<button class="btn btn-custom-start">
					<i class="fa fa-calendar font-15" style="margin-right: 4px;"></i>
					<span id="rangePicker_start">01/01/2018</span>
					<i class="fa fa-caret-down font-15" style="margin-left: 4px;"></i>
				</button>

				<span style="margin: 0 10px;"><i class="fa fa-long-arrow-right"></i></span>

				<button class="btn btn-custom-end">
					<i class="fa fa-calendar font-15" style="margin-right: 8px;"></i>
					<span id="rangePicker_end">04/01/2018</span>
					<i class="fa fa-caret-down font-15" style="margin-left: 8px;"></i>
				</button>

				<button class="btn btn-apply" ng-click="applyDates('custom')">
					Apply
				</button>
			</div>

			<!-- <div class="showCustomPickerTrue slider-container">
				
				<div class="white-space-50"></div>
				<input id="timeframe-range" type="text"/><br/> -->
			<!-- <div class="white-space-50 slider-container-space"></div>
				<div class="white-space-20 slider-container-space-show"></div> -->
			<!-- </div> -->

			<!-- <div ng-if="showCustomPicker" class="text-center">
				<div class="custom-date-selector btn-custom-date" style="display: inline-block;">
					<div class="white-space-20"></div>
					<div class="white-space-20"></div>
					<button class="btn btn-custom-start">
						<i class="fa fa-calendar font-15" style="margin-right: 4px;"></i>
						<span id="rangePicker_start">01/01/2018</span>
						<i class="fa fa-caret-down font-15" style="margin-left: 4px;"></i>
					</button>

					<span style="margin: 0 10px;"><i class="fa fa-arrow-right"></i></span>

					<button class="btn btn-custom-end">
						<i class="fa fa-calendar font-15" style="margin-right: 8px;"></i>
						<span id="rangePicker_end">04/01/2018</span>
						<i class="fa fa-caret-down font-15" style="margin-left: 8px;"></i>
					</button>
				</div>
			</div> -->


			<!-- <div class="xs-date-selector">

				<div class="btn-group">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  	<span ng-if="xs_start == null">Start Date </span>
				  	<span ng-if="xs_start != null" ng-bind="xs_start_text"></span>
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				    <li ng-repeat="month in month_arr"><a href="javascript:void(0)" ng-click="changeStartDate(month)">{{month.month}}</a></li>
				  </ul>
				</div>

				<div style="display: inline-block;position: relative;text-align: center;width: 35px"> To </div>

				<div class="btn-group">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  	<span ng-if="xs_end == null">End Date </span>
				  	<span ng-if="xs_end != null" ng-bind="xs_end_text"></span>
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu dropdown-menu-right">
				    <li ng-class="{ 'disabled' : xs_start && month.value < xs_start }" ng-repeat="month in month_arr"><a href="javascript:void(0)" ng-click="changeEndDate(month)">{{month.month}}</a></li>
				  </ul>
				</div>
			</div> -->
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="benefit-dollars-container">
			<div ng-if="activity_results.account_type != 'enterprise_plan' || (activity_results.account_type == 'enterprise_plan' && activity_results.wellness_enabled == true)" class="col-md-12 border-bottom no-padding text-center " style="margin: 15px 0 30px 0;">
				<h5 class="color-black3 weight-500 font-20 no-margin spend-text">
					{{ (activity_results.account_type == 'enterprise_plan' && activity_results.wellness_enabled == true) ? 'Your Activity' : 'Spending Account' }}
				</h5>
				<span class="date-range-view">{{rangePicker_start}} - {{rangePicker_end}}</span>

				<div class="spending-type-container">
					<button class="btn btn-default btn-medical" ng-class="{'active' : spendingTypeOpt == 0}"
						ng-click="spendingType( 0 )">Medical</button>
					<button class="btn btn-default btn-wellness" ng-class="{'active' : spendingTypeOpt == 1}"
						ng-click="spendingType( 1 )">Wellness</button>
				</div>
			</div>
			
			<div ng-if="activity_results.account_type == 'enterprise_plan' && activity_results.wellness_enabled == false" class="col-md-12 border-bottom no-padding text-center enterprise-activity" style="margin: 10px 0 20px 0;">
				<p class="color-black3 weight-500" style="font-size: 20px;">Your Activity</p>
				<p class="enterprise-dates">
					<span>{{ rangePicker_start }}</span>
					-
					<span>{{ rangePicker_end }}</span>
				</p>
			</div>
			<!-- <h5 class="color-black3 weight-700 font-16 border-bottom">Benefit Dollars</h5> -->
			<div class="white-space-10"></div>
			<div ng-if="activity_results.account_type != 'enterprise_plan' || (activity_results.account_type == 'enterprise_plan' && activity_results.wellness_enabled == true && spendingTypeOpt == 1)" class="col-xxs-12 col-xs-6 col-sm-2 col-md-2 no-padding-left" style="margin-top: 25px;">
				<h4 class="font-medium2 font-18 no-wrap color-blue-custom margin-bottom-6">
					<span ng-if="activity_results.total_allocation != 'UNLIMITED'" ng-bind="activity_results.currency_type" class="currency-type">SGD</span>
					<span	ng-bind="activity_results.total_allocation"></span>
				</h4>
				<p class="color-gray font-10">TOTAL ALLOCATION</p>
				<div class="white-space-10"></div>
				<h4 class="no-wrap font-18 color-blue-custom margin-bottom-6">
					<span ng-if="activity_results.total_allocation != 'UNLIMITED'" ng-bind="activity_results.currency_type" class="currency-type">SGD</span>
					<span ng-bind="activity_results.balance"></span></h4>
				<p class="color-gray font-10">BALANCE</p>
				<p ng-if="activity_results.total_allocation != 'UNLIMITED'" class="weight-300 font-10 no-margin-top">*Total Allocated Credits and Balance are displayed as Year-to-Date.
				</p>
				<!-- <span ng-if="select_to_date == 'wtd'">Week-to-Date</span><span ng-if="select_to_date == 'mtd'">Month-to-Date</span><span ng-if="select_to_date == 'qtd'">Quarter-to-Date</span><span ng-if="select_to_date == 'ytd'">Year-to-Date</span><span ng-if="select_to_date == false">{{rangePicker_start}} to {{rangePicker_end}}</span> -->
			</div>

			<!-- <div class="col-xxs-12 col-xs-6 col-sm-2 col-md-2 no-padding-left" ng-if="activity_results.total_allocation == 'UNLIMITED' && activity_results.account_type != 'enterprise_plan' || (activity_results.account_type == 'enterprise_plan' && activity_results.wellness_enabled == true && spendingTypeOpt == 1)" style="margin-top: 25px;">
				<h4 class="font-medium2 no-wrap color-blue-custom weight-700 margin-bottom-6">
					<span ng-bind="activity_results.total_allocation"></span>
				</h4>
				<p class="color-gray font-12 weight-700">TOTAL ALLOCATION</p>
				<div class="white-space-10"></div>
				<h4 class="no-wrap weight-700 color-blue-custom margin-bottom-6">
					<span ng-bind="activity_results.balance"></span>
				</h4>
				<p class="color-gray font-12 weight-700">BALANCE</p>
			</div> -->

			<div class="visits-activity-container col-xxs-12 col-xs-6 col-sm-2 col-md-2 no-padding-left" ng-if="activity_results.account_type == 'enterprise_plan' && spendingTypeOpt == 0">
				<p class="color-black3 weight-500 font-16 visit-text">Visits</p>
				<p class="color-blue-custom" style="font-size: 23px;">
					<span ng-bind="activity_results.total_balance_visit">99</span>
				</p>
				<p class="color-gray font-12">BALANCE</p>

				<div class="visits-bottom-values">
					<div>
						<p class="color-gray font-12" style="border-right: 0.5px solid #bbb;">UTILISED	:	<span ng-bind="activity_results.total_visit_created" style="color:#00B2E1;">11</span></p>
					</div>
					<div>
						<p class="color-gray font-12">TOTAL	:	<span ng-bind="activity_results.total_visit_limit" style="color:#00B2E1">14</span></p>
					</div>
				</div>
			</div>

			<div ng-if="activity_results.account_type != 'enterprise_plan' || (activity_results.account_type == 'enterprise_plan' && activity_results.wellness_enabled == true && spendingTypeOpt == 1)" class="col-xxs-12 col-xs-6 col-sm-2 col-md-2 xs-no-padding text-center" style="margin-top: 25px;">
				<div class="spent-box text-left">
					<!-- <div class="white-space-30 xxs-hide"></div>
					<div class="white-space-5 "></div> -->
					<h4 class="no-wrap color-blue-custom margin-bottom-6">
						<span ng-bind="activity_results.currency_type" class="currency-type">SGD</span>
						<span ng-bind="(activity_results.total_spent) ? activity_results.total_spent : '0.00'"></span></h4>
					<p class="color-gray font-12">SPENT</p>
				</div>
			</div>
			
			<div ng-if="activity_results.account_type == 'enterprise_plan' && spendingTypeOpt == 0" class="col-xxs-12 col-xs-6 col-sm-2 col-md-2 xs-no-padding text-center">
				<div class="white-space-50"></div>
				<div class="spent-box text-left" style="width: auto;display: inline-block;">
					<!-- <div class="white-space-30 xxs-hide"></div>
					<div class="white-space-5 "></div> -->
					<h4 class="no-wrap color-blue-custom margin-bottom-6">
						<span ng-bind="activity_results.currency_type" class="currency-type">SGD</span>
						<span ng-bind="(activity_results.total_spent) ? activity_results.total_spent : '0.00'"></span></h4>
					<p class="color-gray font-12">SPENT</p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-8 col-md-8 xs-no-padding">
				<div class="spent-box spent-prog text-left">
					<p class="color-black3 weight-500 font-16">Spending Breakdown</p>
					<div class="progress-wrapper">
						<div class="progress-bar"></div>
					</div>

					<div class="white-space-10"></div>

					<div class="in-network-box" ng-class="{'disabled-panel' : (activity_results.account_type == 'enterprise_plan' && activity_results.wellness_enabled == true && spendingTypeOpt == 1)}">
						<p class="color-blue-custom">
							<span ng-bind="activity_results.currency_type" class="currency-type">SGD</span>
							<span ng-bind="(activity_results.in_network_spent) ? activity_results.in_network_spent : 00"></span></p>
						<p class="color-gray font-10">PANEL</p>
						<!-- <p class="color-gray font-10">IN-NETWORK</p> -->
					</div>

					<div ng-class="{'disabled-panel': (activity_results.account_type == 'enterprise_plan' && activity_results.wellness_enabled == false && activity_results.currency_type == 'myr') || (activity_results.account_type == 'enterprise_plan' && activity_results.medical_enabled == true && activity_results.wellness_enabled == true && activity_results.currency_type == 'myr' && spendingTypeOpt == 0)}" class="out-network-box">
						<p class="color-blue-custom">
							<span ng-bind="activity_results.currency_type" class="currency-type">SGD</span>
							<span ng-bind="(activity_results.e_claim_spent) ? activity_results.e_claim_spent : 00"></span></p>
						<!-- <p class="color-gray font-10">OUT-OF-NETWORK</p> -->
						<p class="color-gray font-10">NON-PANEL</p>
					</div>
				</div>
			</div>
		</div>

		<div class="white-space-20"></div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="home-container transactions-header">
			<div class="col-xs-12 col-sm-3 col-md-3 no-padding xs-hide2">
				<div class="white-space-10"></div>
				<div class="white-space-5"></div>
				<div class="white-space-2"></div>
				<p class="color-black2 weight-700">
					<span ng-if="outNetWorkTable" ng-bind="activity_results.e_claim.length"></span>
					<span ng-if="inNetWorkTable" ng-bind="activity_results.total_in_network_transactions"></span>
					Total Transactions
				</p>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-6 no-padding text-center xs-flex">
				<button class="btn-in-network" ng-class="{'active':inNetWorkTable}" ng-click="inNetWorkTable = true;outNetWorkTable = false;" ng-disabled="(activity_results.account_type == 'enterprise_plan' && activity_results.wellness_enabled == true && spendingTypeOpt == 1)" style="margin-right: 5px;">
					PANEL<br>TRANSACTIONS
					<!-- IN-NETWORK<br>TRANSACTIONS -->
				</button>
				<button class="btn-out-network" ng-class="{'active':outNetWorkTable, 'disabled-panel': (activity_results.account_type == 'enterprise_plan' && activity_results.wellness_enabled == false && activity_results.currency_type == 'myr') || (activity_results.account_type == 'enterprise_plan' && activity_results.medical_enabled == true && activity_results.wellness_enabled == true && activity_results.currency_type == 'myr' && spendingTypeOpt == 0)}"
					ng-click="inNetWorkTable = false;outNetWorkTable = true;" style="margin-left: 5px;">
					NON-PANEL<br>TRANSACTIONS
					<!-- OUT-OF-NETWORK<br>TRANSACTIONS -->
				</button>
			</div>

			<div class="col-xs-6 col-sm-3 col-md-3 no-padding xs-show2">
				<div class="white-space-50"></div>
				<p class="color-black2 weight-700">
					<span ng-if="outNetWorkTable" ng-bind="activity_results.e_claim.length"></span>
					<span ng-if="inNetWorkTable" ng-bind="activity_results.total_in_network_transactions"></span>
					Total Transactions
				</p>
				<p class="color-black3 font-15 weight-700">
					Total Spent
					<label class="font-medium2" style="width: 90px">
						<span ng-bind="activity_results.currency_type" class="currency-type">SGD</span>
						<span ng-if="inNetWorkTable" ng-bind="activity_results.total_in_network_spent"></span>
						<span ng-if="outNetWorkTable" ng-bind="(activity_results.e_claim_spent) ? activity_results.e_claim_spent : '0.00' | number : 2"></span>
					</label>
				</p>
			</div>

			<div class="col-xs-6 col-sm-3 col-md-3 no-padding text-right">
				<div class="white-space-50 xs-show2"></div>
				<p class="color-blue-custom font-15 weight-700 pointer-cursor" ng-json-export-excel
					data="in_network_transactions"
					report-fields="{date_of_transaction: 'DATE', transaction_id: 'TRANSACTION NO', payment_type: 'PAYMENT TYPE', clinic_type_and_service: 'ITEM/SERVICE', clinic_name: 'PROVIDER', amount: 'TOTAL AMOUNT', member: 'MEMBER', refund_text: 'REFUNDED'}"
					filename="'In-Network-Transactions'" separator=","
					ng-if="inNetWorkTable == true && activity_results.lite_plan == false">DOWNLOAD <img
						src="../assets/e-claim/img/new-assets/Download.png"
						style="width: 20px;display: inline-block;margin-left: 5px;"></p>

				<p class="color-blue-custom font-15 weight-700 pointer-cursor" ng-json-export-excel
					data="in_network_transactions"
					report-fields="{date_of_transaction: 'DATE', transaction_id: 'TRANSACTION NO', payment_type: 'PAYMENT TYPE', clinic_type_and_service: 'ITEM/SERVICE', clinic_name: 'PROVIDER', procedure_cost: 'MEDICINE & TREATMENT', consultation: 'CONSULTATION', amount: 'TOTAL AMOUNT', member: 'MEMBER', refund_text: 'REFUNDED'}"
					filename="'In-Network-Transactions'" separator=","
					ng-if="inNetWorkTable == true && activity_results.lite_plan == true">DOWNLOAD <img
						src="../assets/e-claim/img/new-assets/Download.png"
						style="width: 20px;display: inline-block;margin-left: 5px;"></p>

				<p class="color-blue-custom font-15 weight-700 pointer-cursor" ng-json-export-excel data="e_claim_transactions"
					report-fields="{claim_date: 'CLAIM DATE', service: 'ITEM/SERVICE', merchant: 'PROVIDER', amount: 'TOTAL AMOUNT', member: 'MEMBER'}"
					filename="'E-Claim-Transactions'" separator="," ng-if="outNetWorkTable == true;">DOWNLOAD <img
						src="../assets/e-claim/img/new-assets/Download.png"
						style="width: 20px;display: inline-block;margin-left: 5px;"></p>
				<div class="white-space-5"></div>
				<div class="white-space-2"></div>
				<p class="color-black3 font-15 weight-700 xs-hide2">
					Total Spent
					<label class="font-medium2" style="width: 90px">
						<span ng-bind="activity_results.currency_type" class="currency-type">SGD</span>
						<span ng-if="inNetWorkTable" ng-bind="activity_results.total_in_network_spent"></span>
						<span ng-if="outNetWorkTable" ng-bind="activity_results.e_claim_spent"></span>
					</label>
				</p>
			</div>
		</div>

		<div class="white-space-20"></div>
	</div>

	<div ng-if="inNetWorkTable" id="in-network-table" class="col-xs-12 col-sm-12 col-md-12 no-padding ">
		<div class="transaction-table-container">
			<div class="white-space-20"></div>

			<table class="table ">
				<thead>
					<tr>
						<th style="width: 18%;">DATE</th>
						<th style="width: 18%;">ITEM/SERVICE</th>
						<th style="width: 20%;" class="xxs-hide-table-cell">PROVIDER</th>
						<th style="width: 15%;" class="xs-hide-table-cell">TOTAL AMOUNT</th>
						<th class="xs-hide-table-cell" ng-if="activity_results.lite_plan && activity_results.wallet_status">MEDICINE
							& TREATMENT</th>
						<th class="xs-hide-table-cell" ng-if="activity_results.lite_plan && activity_results.wallet_status">
							CONSULTATION</th>
						<th class="xs-hide-table-cell">PAYMENT TYPE</th>
						<th class="xs-hide-table-cell">MEMBER</th>
						<th></th>
					</tr>
				</thead>
				<tbody ng-repeat="list in activity_results.in_network_transactions">
					<tr ng-click="openDetails(list)">
						<td>
							<span ng-bind="list.date_of_transaction">20 October 2017, 09:30am</span>
						</td>
						<td>
							<span ng-bind="list.clinic_type_and_service">General Practioner Visit</span>
						</td>
						<td class="xxs-hide-table-cell">
							<span ng-bind="list.clinic_name">Drs Chua & Partners (AV) Pte Ltd</span>
						</td>
						<td class="xs-hide-table-cell">
							<span ng-bind="list.currency_type" class="currency-type">SGD</span>
							<span ng-bind="list.amount">22.00</span>
						</td>
						<td class="xs-hide-table-cell" ng-if="activity_results.lite_plan && activity_results.wallet_status">
							<span ng-bind="list.currency_type" class="currency-type">SGD</span>
							<span ng-bind="list.procedure_cost">Not Available</span>
						</td>
						<td class="xs-hide-table-cell" ng-if="activity_results.lite_plan && activity_results.wallet_status">
							<span ng-bind="list.currency_type" class="currency-type">SGD</span>
							<span ng-bind="list.consultation">Not Available</span>
						</td>
						<td class="xs-hide-table-cell">
							<span ng-bind="list.payment_type">Cash</span>
						</td>
						<td class="xs-hide-table-cell">
							<span ng-bind="list.member">Jeamar</span>
						</td>
						<td>
							<a href="javascript:void(0)">
								<i ng-if="!list.showTransacDetails" class="fa fa-angle-right color-black3 font-30"></i>
								<i ng-if="list.showTransacDetails" class="fa fa-angle-down color-black3 font-30"></i>
							</a>
						</td>
					</tr>

					<tr ng-if="list.showTransacDetails" class="in-network-subtr">
						<td colspan="6">
							<div class="col-xs-12 col-sm-3 col-md-3 no-padding text-center">
								<img ng-src="{{list.clinic_image}}"
									style="width: 50px;height: 50px;border-radius: 50%;border: 1px solid #999;">
								<!-- <img ng-src="../assets/e-claim/img/overview.png" style="width: 50px;"> -->

								<div class="white-space-10"></div>
								<p ng-bind="list.clinic_name">Drs Chua & Partners (AV) Pte Ltd</p>
								<div class="white-space-20"></div>

								<div class="service-box">
									<img ng-src="{{ list.clinic_type_image }}" style="width: 35px;">
									<label style="display: inline-block;margin-top: 8px;margin-left: 10px;">
										<span ng-if="list.clinic_type == 'general_practitioner'" class="font-18">General Practitioner</span>
										<span ng-if="list.clinic_type == 'dental_care'" class="font-18">Dental Care</span>
										<span ng-if="list.clinic_type == 'tcm'" class="font-18">Traditional Chinese Medicine</span>
										<span ng-if="list.clinic_type == 'health_screening'" class="font-18">Health Screening</span>
										<span ng-if="list.clinic_type == 'wellness'" class="font-18">Wellness</span>
										<span ng-if="list.clinic_type == 'health_specialist'" class="font-18">Health Specialist</span>
									</label>
								</div>

								<div class="white-space-50"></div>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-5 no-padding text-center">
								<div class="transac-details text-left">
									<!-- <p><label>DATE</label> <span class="color-gray2" ng-bind="list.date_of_transaction">20 October 2017, 09:30am</span></p>
										<p><label>TRANSACTION #</label> <span class="color-gray2" ng-bind="list.transaction_id">IN74859204</span></p>
										<p><label>ITEM/SERVICE</label> <span class="color-gray2" ng-bind="list.clinic_type_and_service | limitTo: 35">General Practitioner Visit</span>{{list.clinic_type_and_service.length > 35 ? '...' : ''}}</p>
										<p><label>TOTAL AMOUNT</label> <span class="color-gray2">S$ <span ng-bind="list.amount"></span></span></p>
										<p><label>PAYMENT TYPE</label> <span class="color-gray2" ng-bind="list.payment_type">Cash</span></p>
										<p><label>MEMBER</label> <span class="color-gray2" ng-bind="list.member">Filbert Tan</span></p> -->

									<div class="trans-row">
										<div class="label-wrapper">
											<p><label>DATE</label></p>
										</div>
										<div class="desc-wrapper">
											<p><span class="color-gray2" ng-bind="list.date_of_transaction">20 October 2017, 09:30am</span>
											</p>
										</div>
									</div>
									<div class="trans-row">
										<div class="label-wrapper">
											<p><label>TRANSACTION #</label></p>
										</div>
										<div class="desc-wrapper">
											<p><span class="color-gray2" ng-bind="list.transaction_id">IN74859204</span></p>
										</div>
									</div>
									<div class="trans-row">
										<div class="label-wrapper">
											<p><label>ITEM/SERVICE</label></p>
										</div>
										<div class="desc-wrapper">
											<p><span class="color-gray2" ng-bind="list.clinic_type_and_service">General Practitioner
													Visit</span></p>
										</div>
									</div>
									<div class="trans-row">
										<div class="label-wrapper">
											<p style="margin-bottom: 12px;"><label>TOTAL AMOUNT</label></p>
											<div></div>
											<div class="procedure-indicator"
												ng-class="list.service_credits && list.transaction_type == 'credits' ? 'blue' : 'green'"
												ng-if="list.lite_plan && activity_results.wallet_status">
												<span
													ng-if="!list.service_credits && list.transaction_type == 'cash' || list.service_credits && list.transaction_type == 'cash'">Cash</span>
												<span ng-if="list.service_credits && list.transaction_type == 'credits'">Credits</span>
											</div>
											<div ng-if="list.lite_plan && activity_results.wallet_status"
												style="border-bottom: 1px solid #999;width: 50px;margin: 0 20px 8px auto;"></div>
											<div class="consultation-indicator blue"
												ng-if="list.lite_plan && ( list.consultation_credits || list.service_credits ) && activity_results.wallet_status">
												<span ng-if="list.consultation_credits || list.service_credits">Credits</span>
												<span hidden>Cash</span>
											</div>
										</div>
										<div class="desc-wrapper">
											<p style="margin-bottom: 10px;"><span class="color-gray2">
													<span ng-bind="list.currency_type" class="currency-type">SGD</span>
													<span ng-bind="list.amount">22</span></span></p>
											<!--  -->
											<p style="margin-bottom: 0;" ng-if="list.lite_plan && activity_results.wallet_status">
												<span class="color-gray2" ng-bind="list.procedure"></span>
											</p>
											<p style="margin-bottom: 5px;" ng-if="list.lite_plan && activity_results.wallet_status"><span
													class="color-gray2">
													<span ng-bind="list.currency_type" class="currency-type">SGD</span>
													<span ng-bind="list.procedure_cost">22</span></span></p>
											<p style="margin-bottom: 0;" ng-if="list.lite_plan && activity_results.wallet_status"><span
													class="color-gray2">Consultation</p>
											<p style="margin-bottom: 20px;" ng-if="list.lite_plan && activity_results.wallet_status"><span
													class="color-gray2">
													<span ng-bind="list.currency_type" class="currency-type">SGD</span>
													<span ng-bind="list.consultation">22</span></span></p>
										</div>
									</div>
									<div class="trans-row">
										<div class="label-wrapper">
											<p><label>PAYMENT TYPE</label></p>
										</div>
										<div class="desc-wrapper">
											<!-- <p><span class="color-gray2" ng-bind="list.payment_type">In-Network</span></p> -->
											<p><span class="color-gray2" ng-bind="list.payment_type">Panel</span></p>
										</div>
									</div>
									<div class="trans-row">
										<div class="label-wrapper">
											<p><label>MEMBER</label></p>
										</div>
										<div class="desc-wrapper">
											<p><span class="color-gray2" ng-bind="list.member">Filbert Tan</span></p>
										</div>
									</div>

									<div ng-if="list.cap_transaction" class="trans-row">
										<div class="label-wrapper">
											<p><label>Caps per visit</label></p>
										</div>
										<div class="desc-wrapper">
											<p>
												<span ng-bind="list.currency_type" class="currency-type">SGD</span>
												<span class="color-gray2" ng-bind="list.cap_per_visit"></span>
											</p>
										</div>
									</div>
									<div ng-if="list.cap_transaction" class="trans-row">
										<div class="label-wrapper">
											<p><label>Paid by Credits</label></p>
										</div>
										<div class="desc-wrapper">
											<p>
												<span ng-bind="list.currency_type" class="currency-type">SGD</span>
												<span class="color-gray2" ng-bind="list.paid_by_credits"></span>
											</p>
										</div>
									</div>
									<div ng-if="list.cap_transaction" class="trans-row">
										<div class="label-wrapper">
											<p><label>Paid by Cash</label></p>
										</div>
										<div class="desc-wrapper">
											<p>
												<span ng-bind="list.currency_type" class="currency-type">SGD</span>
												<span class="color-gray2" ng-bind="list.paid_by_cash"></span>
											</p>
										</div>
									</div>


									<p ng-if="list.status_text"
										style="text-align:center;background: rgb(79, 151, 98);color: white;padding: 10px;width: 28%;margin-left: 135px;"
										ng-bind="list.status_text"></p>
								</div>
							</div>

							<div class="col-xs-12 col-sm-3 col-md-4 no-padding xs-text-center">
								<!-- list.transaction_files && list.transaction_files.length > 0 ||  -->
								<button ng-disabled="list.uploading" class="btn-upload-receipt" ngf-select ng-model="list.upload"
									ng-change="uploadReceipt(list)">
									Upload Receipt
									<span ng-if="list.uploading"><i class="fa fa-circle-o-notch fa-spin"></i></span>
								</button>

								<button ng-disabled="!list.transaction_files || list.transaction_files.length == 0"
									class="btn-download-receipt" ng-click="downloadReceipt(list.transaction_files, list)">
									Download Receipt
								</button>
								<p ng-if="list.upload_err" class="text-error" ng-bind="list.upload_err_message">Upload Failed.</p>
								<div class="trans-receipts-wrapper">
									<div class="click_box_wrapper" ng-click="showPreview(img)" ng-repeat="img in list.transaction_files"
										style="display: inline-block;position: relative;">
										<a href="javascript:void(0)">
											<div class="click_box">
												<i class="fa fa-plus color-white font-25"></i>
											</div>

											<img ng-if="img.type == 'image' || img.file_type == 'image'" ng-src="{{img.file}}">
											<img ng-if="img.type == 'excel' || img.file_type == 'excel'"
												src="../assets/e-claim/img/new-assets/Receipt-doc-xls.png">
											<img ng-if="img.type == 'pdf' || img.file_type == 'pdf'"
												src="../assets/e-claim/img/new-assets/Receipt-pdf.png">
										</a>
									</div>
								</div>

								<div class="white-space-20"></div>
								<button class="btn-download-receipt" ng-if="list.payment_type == 'Mednefits Credits'"
									ng-click="downloadMednefitsReceipt(list.trans_id)" style="background: #51BEF2 !important;">
									Mednefits E-Receipt
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

	<div ng-if="outNetWorkTable" id="out-network-table" class="col-xs-12 col-sm-12 col-md-12 no-padding">
		<div class="transaction-table-container">
			<div class="white-space-20"></div>

			<table class="table ">
				<thead>
					<tr>
						<th style="width: 10%;" class="xs-hide-table-cell"></th>
						<th style="width: 14%;">CLAIM DATE</th>
						<th style="width: 18%;">ITEM/SERVICE</th>
						<th style="width: 25%;" class="xxs-hide-table-cell">PROVIDER</th>
						<th style="width: 16%;" class="xs-hide-table-cell">TOTAL AMOUNT</th>
						<th style="" class="xs-hide-table-cell">MEMBER</th>
						<th style=""></th>
					</tr>
				</thead>
				<tbody ng-repeat="list in activity_results.e_claim">

					<tr ng-click="openDetails(list)">
						<td class="text-center xs-hide-table-cell">
							<label ng-if="list.status == 0" class="status-box pending">Pending</label>
							<label ng-if="list.status == 1" class="status-box approved">Approved</label>
							<label ng-if="list.status == 2" class="status-box rejected">Rejected</label>
						</td>
						<td>
							<span ng-bind="list.claim_date">20 October 2017</span>
						</td>
						<td>
							<span ng-bind="list.service">Spectacle</span>
						</td>
						<td class="xxs-hide-table-cell">
							<span ng-bind="list.merchant">Spectacle Hut</span>
						</td>
						<td class="xs-hide-table-cell">
							<span ng-bind="list.currency_type" class="currency-type">SGD</span>
							<span ng-bind="list.amount"></span>
						</td>
						<td class="xs-hide-table-cell">
							<span ng-bind="list.member">Filbert Tan</span>
						</td>
						<td>
							<a href="javascript:void(0)">
								<i ng-if="!list.showTransacDetails" class="fa fa-angle-right color-black3 font-30"></i>
								<i ng-if="list.showTransacDetails" class="fa fa-angle-down color-black3 font-30"></i>
							</a>
						</td>
					</tr>

					<tr ng-if="list.showTransacDetails" class="in-network-subtr ">
						<td colspan="7" style="padding: 35px 0px">
							<div class="col-xs-12 col-sm-3 col-md-3 no-padding text-center">
								<div class="status-box-left">
									<p class="font-20 color-black3" ng-bind="list.status_text">Approved</p>
									<!-- <p class="font-14 color-black3" ng-if="list.rejected_reason">Reason: <span ng-bind="list.rejected_reason"></span></p> -->
									<p ng-if="list.status == 0" class="font-12 color-black3">Claim Date: <span
											ng-bind="list.claim_date">05 October 2017</span></p>
									<p ng-if="list.status == 1" class="font-12 color-black3">Date: <span ng-bind="list.approved_date">05
											October 2017</span></p>
									<p ng-if="list.status == 2" class="font-12 color-black3">Date: <span ng-bind="list.rejected_date">05
											October 2017</span></p>
								</div>

								<div ng-if="list.status == 2" class="reason-container">
									<label>REASON:</label>
									<p ng-if="list.rejected_reason == null">None</p>
									<p ng-bind="list.rejected_reason">Spa and massage is not covered by company.</p>
								</div>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-5 no-padding text-center">
								<div class="transac-details text-left">
									<p><label>CLAIM DATE</label> <span class="color-gray2" ng-bind="list.claim_date">20 October 2017,
											09:30am</span></p>
									<p><label>VISIT DATE</label> <span class="color-gray2" ng-bind="list.visit_date">20 October 2017,
											09:30am</span></p>
									<p><label>TRANSACTION #</label> <span class="color-gray2"
											ng-bind="list.transaction_id">IN74859204</span></p>
									<p><label>CLAIM TYPE</label> <span class="color-gray2" ng-bind="list.service">General Practitioner
											Visit</span></p>
									<p><label>PROVIDER</label> <span class="color-gray2" ng-bind="list.merchant">CLINIC</span></p>
									<p><label>TOTAL AMOUNT</label> <span class="color-gray2">
											<span ng-bind="list.currency_type" class="currency-type">SGD</span>
											<span ng-bind="list.amount">22.00</span></span></p>
									<p><label>SPENDING ACCOUNT</label> <span class="color-gray2"><span
												ng-bind="list.spending_type">Medical</span></span></p>
									<p><label>TYPE</label> <span class="color-gray2" ng-bind="list.type">Panel</span></p>
									<!-- <p><label>TYPE</label> <span class="color-gray2" ng-bind="list.type">In-Network</span></p> -->
									<p><label>MEMBER</label> <span class="color-gray2" ng-bind="list.member">Filbert Tan</span></p>
									<p><label>REMARKS</label> <span class="color-gray2" ng-bind="list.remarks">Filbert Tan</span></p>
								</div>
							</div>

							<div class="col-xs-12 col-sm-3 col-md-4 no-padding xs-text-center">
								<!-- list.files && list.files.length > 0 ||  -->
								<button ng-disabled="list.uploading" class="btn-upload-receipt" ngf-select ng-model="list.upload"
									ng-change="uploadReceiptOut(list)">
									Upload Receipt
									<span ng-if="list.uploading"><i class="fa fa-circle-o-notch fa-spin"></i></span>
								</button>

								<button ng-disabled="!list.files || list.files.length == 0" class="btn-download-receipt"
									ng-click="downloadReceipt(list.files, list)">
									Download Receipt
								</button>

								<div class="trans-receipts-wrapper">

									<div class="click_box_wrapper" ng-click="showPreview(img)" ng-repeat="img in list.files"
										style="display: inline-block;position: relative;">
										<a href="javascript:void(0)">
											<div class="click_box">
												<i class="fa fa-plus color-white font-25"></i>
											</div>

											<img ng-if="img.type == 'image' || img.file_type == 'image'" img-fix-orientation="img.file"
												ng-src="{{img.file}}">
											<img
												ng-if="img.type == 'xls' || img.file_type == 'xls' || img.type == 'xlxs' || img.file_type == 'xlxs'"
												src="../assets/e-claim/img/new-assets/Receipt-doc-xls.png">
											<img ng-if="img.type == 'pdf' || img.file_type == 'pdf'"
												src="../assets/e-claim/img/new-assets/Receipt-pdf.png">
										</a>

									</div>
								</div>
							</div>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>

</div>

<div class="preview-box">
	<div class="img-container">
		<a href="javascript:void(0)" id="hidePreview">
			<i class="fa fa-times"></i>
		</a>

		<img hidden>

		<iframe id="src-view-data" src style="width:100%; height: 500px;border: none;" hidden>
		</iframe>
	</div>
</div>

<script type="text/javascript">
	$("#hidePreview").click(function () {
		$(".preview-box").fadeOut();
	});

</script>