<div class="t-and-c-wrapper">
	<div>
		<a href="#" class="pull-right need-help-text tooltips">
			<span>Need Help?</span>
			<div class="tooltip-container">
				<h3 class="tooltip-title">We're here to help.</h3>
				<h3 class="tooltip-phone-email-title">You may ring us</h3>
				<h3 class="tooltip-phone-email-details">+65 6254 7889</h3>
				<h3 class="tooltip-phone-email-details">+60 3789 01770</h3>
				<h3 class="tooltip-phone-email-details">Mon - Fri 9:30am to 6:30pm</h3>
				<br>
				<h3 class="tooltip-phone-email-title">Drop us a note, anytime</h3>
				<h3 class="tooltip-phone-email-details">happiness@mednefits.com</h3>
			</div>
		</a>
	</div>
	<div class="mednefits-logo-container">
		<img class="mednefits-logo" src="../../assets/images/Mednefits Logo_Blue.png">
	</div>
	<div class="privacy-wrapper">
		<div class="privacy-container">
			<div> 
				<h1>Privacy Policy </h1>
			</div>
			<div class="privacy-policy-wrapper">
				<div>
					<span>IMPORTANT</span>
					<p>Please read this section carefully before proceed</p>
				</div>
				<div>
					<p>Confirmation of Consent for Disclosure (for employer or person managing company's benefits):</p>
					<p>I, on behalf of the company confirm that we have obtained consent from our employess for us to desclose their personal data to Mednefits also known as Medicloud Pted Ltd to provide related services to us and our employee. We also confirm that the consent was obtained in accordance with the requirements under Personal data Protection Act 2012 (Act 26 of 2012).</p>

					<div>
						<span>Privacy Policy:</span>
						<p>I have the Privacy Policy stated in <span class="mednefits-privacy-link">https://mednefits.com/privacy/</span> and I consent to the collection and use of mine and company's employees personal data in accordance with its terms and conditions.</p>
					</div>
				</div>
			</div>
			<div class="agreement-container">
				<div class="custom-radiobox-container">
          <label class="radiobox-input">
            <span>I have read and agree to the above agreement</span>
            <input value="true" type="radio" ng-model="global_agreementSelector"/>
            <span class="radiobox-mark"></span>
          </label>
        </div> 
				<div>
					<button class="btn-blue">Proceed</button>
				</div>
			</div>
		</div>
		<div class="btn-footer">
			<button class="btn-blue btn-scroll">Scoll to bottom</button>
		</div>
	</div>
</div>