<div first-time-login-directive>
	<div class="main-container">
		<div class="first-time-login-container">
			
			<div class="details-form">
				<form>
					<div class="form-group medne-logo">
						<img src="../../assets/hr-dashboard/img/Mednefits Logo V1.svg">
					</div>
					<div class="form-group">
						<label>First Name</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label>Last Name</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label>Re-Type Password</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<button class="btn btn-ftime-submit">Submit</button>
					</div>
				</form>
			</div>

		</div> 
	</div>
</div>